<% const {menubar} = require('../menubar.js') %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Новая русская волна – что это?</title>
  </head>
  <body class="yakutianpunk">
    <div class="S_MenuBar"><%= menubar %></div>

    <div class="W_GenreArtistTitle">
      <div class="M_Artist_Bar">
        <a href="../materials.html" class="A_SecondaryButtonLeft black fixed">
          <div class="Q_ArrowLeftBlack black"></div>
          назад
        </a>
        <div class="M_Filter">
          <p class="A_TagBebasArticle">#ИНДИ</p>
        </div>
      </div>
      <h1 class="Q_Title_Mixed ArtistName black">
        Но<span class="Mag_Letter">в</span>ая ру<span class="Mag_Letter"
          >сск</span
        >ая <br /><span class="Mag_Letter">во</span>лн<span class="Mag_Letter"
          >а – ч</span
        >то э<span class="Mag_Letter">т</span>о?
      </h1>
    </div>
    <div class="Q_Artist_Main_Image NewRussian_Main"></div>
    <div class="A_ArticleIntro">
      Новая русская волна - это феномен в современной культуре, который
      охватывает различные аспекты российской творческой деятельности и
      привлекает внимание как внутри страны, так и за ее пределами. Этот термин
      обозначает всплеск интереса к российской культуре и творчеству в последние
      десятилетия, включая музыку, кино, литературу и другие формы искусства.
    </div>
    <div class="W_ArticleText">
      <div class="A_ChapterTitle noHover">История</div>
      <div class="Q_Article_Text">
        Начало новой русской волны можно проследить до конца 20-го и начала
        21-го веков, когда российская культура стала активно выходить на мировую
        арену. После распада Советского Союза в 1991 году и распространения
        интернета культурный обмен стал более доступным, что способствовал
        популяризации российской культуры за рубежом.
      </div>
      <div class="A_ChapterTitle Article_Text_Chapter noHover">Музыка</div>
      <div class="Q_Article_Text">
        В области музыки новая русская волна проявляется через рост популярности
        российских музыкальных исполнителей за пределами страны. Группы и
        артисты, такие как "Molchat Doma", "Zivert", "Little Big", "Manizha" и
        другие, приобретают всемирную известность благодаря своему уникальному
        звучанию и видеоинтернет-контенту, который быстро становится вирусным.
      </div>
      <div class="Q_Artist_Image NewRussian_Image1"></div>
      <div class="A_ChapterTitle Article_Text_Chapter noHover">
        Кино и телевидение
      </div>
      <div class="Q_Article_Text">
        В кино и телевизионном искусстве новая русская волна выражается через
        появление кинорежиссеров и актеров, чьи работы получают признание на
        международном уровне. Российские фильмы и сериалы все чаще становятся
        участниками международных фестивалей и номинантами на престижные
        кинонаграды.
      </div>
      <div class="A_ChapterTitle Article_Text_Chapter noHover">
        Литература и искусство
      </div>
      <div class="Q_Article_Text">
        В литературе и других формах искусства новая русская волна проявляется
        через эмансипацию творческого мышления и более свободное выражение идей.
        Российские писатели, художники и дизайнеры становятся более видимыми на
        мировой сцене, представляя новые идеи и переосмысливая традиционные
        темы.
      </div>
      <div class="Q_Artist_Image NewRussian_Image2"></div>
      <div class="A_ChapterTitle Article_Text_Chapter noHover">Значение</div>
      <div class="Q_Article_Text">
        Новая русская волна имеет большое значение как для самой России, так и
        для мировой культуры в целом. Она способствует обмену идеями, расширению
        горизонтов и созданию более тесных связей между различными культурами и
        народами. Кроме того, она помогает показать разнообразие и богатство
        российской культуры, а также подчеркивает ее роль в современном мире.
      </div>
      <div class="A_ChapterTitle Article_Text_Chapter noHover">Заключение</div>
      <div class="Q_Article_Text">
        Новая русская волна представляет собой важное явление в современной
        культуре, которое объединяет различные аспекты российской творческой
        деятельности и привлекает внимание мировой аудитории. Это явление не
        только отражает изменения в российском обществе, но и способствует его
        развитию и росту в мировом масштабе.
      </div>
    </div>
    <recommendations></recommendations>

    <basement></basement>
  </body>
</html>
