<% const {menubar} = require('../menubar.js') %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Почему русская музыка такая грустная?</title>
  </head>
  <body>
    <div class="S_MenuBar"><%= menubar %></div>

    <div class="O_Header">
      <div class="M_HeaderText">
        <a href="../" class="A_Logo"></a>
        <div class="A_Header_Text">
          <a href="../artists.html" class="Q_Menu_Text1">ИСПОЛНИТЕЛИ</a>
          <a href="../genres.html" class="Q_Menu_Text2">ЖАНРЫ</a>
          <a href="../materials.html" class="Q_Menu_Text3">МАТЕРИАЛЫ</a>
        </div>
      </div>

      <div class="A_Search_bar">
        <input type="text" class="input_search" placeholder="Поиск" />
        <button class="btn_search">Найти</button>
      </div>
      <div class="menu_mob_icon"></div>
    </div>

    <basement></basement>
  </body>
</html>
