.white {
  color: var(--white);
}
.black {
  color: var(--black);
}
.whitePB {
  background-color: var(--white);
}
.blackPB {
  background-color: var(--black);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .MSButtonPosition {
    margin: 69vw 0vw 0vw 36vw;
  }
  .Mag_Letter {
    font-family: 'Phorssa', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 7vw;
  }
  .Q_ArrowRightWhite {
    width: 9vw;
    height: 7vw;
    background: url(images/Q_Arrow.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    transition: 0.2s;

    &:hover {
      background: url(images/Q_Arrow_hover.svg);
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
  .Q_ArrowRightBlack {
    width: 9vw;
    height: 7vw;
    background: url(images/Q_Arrow_black.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    transition: 0.2s;
    border: none;

    &:hover {
      background: url(images/Q_Arrow_next_hover.svg);
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
  .Q_ArrowLeftBlack {
    width: 9vw;
    height: 7vw;
    background: url(images/Q_Arrow_black_back.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    transition: 0.2s;
    border: none;

    &:hover {
      background: url(images/Q_Arrow_back_hover.svg);
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
  .Q_ArrowLeftWhite {
    width: 9vw;
    height: 7vw;
    background: url(images/Q_Arrow_white_back.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    transition: 0.2s;
    border: none;

    &:hover {
      background: url(images/Q_Arrow_white_back_hover.svg);
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
  .Q_Socials {
    width: 10vw;
    height: 10vw;
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: 0.2s;
  }
  .Vk {
    background-image: url(images/vk.webp);
  }
  .Tiktok {
    background-image: url(images/tiktok.webp);
  }
  .Telegram {
    background-image: url(images/tg.webp);
  }
  .Q_Sort_Title {
    font-family: 'GolosUIWebRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 3vw;
    color: var(--grey);
  }
  .Q_Article_Text {
    line-height: 4.6vw;
    font-size: 4vw;
    margin: 0vw 0vw 0vw 7.5vw;
    width: fit-content;
  }
  .Q_Article_Text a {
    color: var(--black);
  }
  .Q_Artist_Image {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .Serdobol_Image1 {
    background-image: url(images/serdobol1.webp);
    height: 66vw;
    width: 100vw;
  }
  .Serdobol_Image2 {
    background-image: url(images/serdobol2.webp);
    height: 66vw;
    width: 100vw;
  }
  .Serdobol_Image3 {
    background-image: url(images/serdobol3.webp);
    height: 66vw;
    width: 100vw;
  }
  .Ushko_Image1 {
    background-image: url(images/ushko1.webp);
    height: 66vw;
    width: 100vw;
  }
  .Ushko_Image2 {
    background-image: url(images/ushko2.webp);
    height: 66vw;
    width: 100vw;
  }
  .Hadndadn_Image1 {
    background-image: url(images/hadndadn1.webp);
    height: 66vw;
    width: 100vw;
  }
  .Hadndadn_Image2 {
    background-image: url(images/hadndadn2.webp);
    height: 66vw;
    width: 100vw;
  }
  .Sirotkin_Image1 {
    background-image: url(images/sirotkin1.webp);
    height: 66vw;
    width: 100vw;
  }
  .Sirotkin_Image2 {
    background-image: url(images/sirotkin2.webp);
    height: 66vw;
    width: 100vw;
  }
  .Sova_Image1 {
    background-image: url(images/sova1.webp);
    height: 66vw;
    width: 100vw;
  }
  .Sova_Image2 {
    background-image: url(images/sova2.webp);
    height: 66vw;
    width: 100vw;
  }
  .Sbpch_Image1 {
    background-image: url(images/sbpch1.webp);
    height: 66vw;
    width: 100vw;
  }
  .Sbpch_Image2 {
    background-image: url(images/sbpch2.webp);
    height: 66vw;
    width: 100vw;
  }
  .Yakutian_Image1 {
    background-image: url(images/yakutian2.webp);
    height: 66vw;
    width: 100vw;
  }
  .Yakutian_Image2 {
    background-image: url(images/yakutian3.webp);
    height: 66vw;
    width: 100vw;
  }
  .Yakutian_Image3 {
    background-image: url(images/yakutian4.webp);
    height: 66vw;
    width: 100vw;
  }
  .NewRussian_Image1 {
    background-image: url(images/NewRussian2.webp);
    height: 66vw;
    width: 100vw;
  }
  .NewRussian_Image2 {
    background-image: url(images/NewRussian3.webp);
    height: 66vw;
    width: 100vw;
  }
  .Q_Tag_Genre_Article {
    width: fit-content;
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-style: normal;
    font-size: 2vw;
    color: var(--black);
    background-color: var(--white);
    border-radius: 38px 0px 0px 38px;
    height: fit-content;
    padding: 1vw 1.5vw 0.6vw 1.5vw;
    gap: 1vw;
  }
  .Q_Tag_Genre_Articles {
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-style: normal;
    font-size: 2vw;
    color: var(--white);
    background-color: var(--black);
    border-radius: 38px 0px 0px 38px;
    padding: 1vw 1.5vw 0.6vw 1.5vw;
    right: 0vw;
    position: absolute;
  }
  .ArtistName {
    width: fit-content;
    font-size: 13vw;
    font-family: 'Bebas Neue';
    font-weight: bold;
    text-align: center;

    .Mag_Letter {
      font-size: 13vw;
    }
  }
  .Q_Artist_Main_Image {
    background-repeat: no-repeat;
    background-size: cover;
    height: 48vw;
    width: 91vw;
    margin: 0vw auto;
    position: relative;
  }
  .Serdobol_Main {
    background-image: url(images/Serdobol_Main.webp);
  }
  .Ushko_Main {
    background-image: url(images/ushko_main.webp);
  }
  .Hadndadn_Main {
    background-image: url(images/hadndadn_main.webp);
  }
  .Sirotkin_Main {
    background-image: url(images/sirotkin_main.webp);
  }
  .Sova_Main {
    background-image: url(images/sova_main.webp);
  }
  .Sbpch_Main {
    background-image: url(images/sbpch_main.webp);
  }
  .Yakutian_Main {
    background-image: url(images/yakutian1.webp);
    margin: 5vw auto;
  }
  .NewRussian_Main {
    background-image: url(images/NewRussian1.webp);
    margin: 5vw auto;
  }
  .Top10_Main {
    background-image: url(images/Top10.webp);
    margin: 3vw auto;
  }

  .Q_Album_Cover {
    width: 50vw;
    height: 50vw;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
  }
  .Serdobol_Album1 {
    background-image: url(images/serdobol_veseloistrashno.webp);
  }
  .Serdobol_Album2 {
    background-image: url(images/serdobol_nutro.webp);
  }
  .Serdobol_Album3 {
    background-image: url(images/serdobol_vseproidet.webp);
  }
  .Ushko_Album1 {
    background-image: url(images/ushko_silverhits.webp);
  }
  .Ushko_Album2 {
    background-image: url(images/ushko_wethits.webp);
  }
  .Hadndadn_Album1 {
    background-image: url(images/tainyi.webp);
  }
  .Hadndadn_Album2 {
    background-image: url(images/podruzhki.webp);
  }
  .Hadndadn_Album3 {
    background-image: url(images/laokyn.webp);
  }
  .Hadndadn_Album4 {
    background-image: url(images/nostalgia.webp);
  }
  .Hadndadn_Album5 {
    background-image: url(images/pereobuv.webp);
  }
  .Hadndadn_Album6 {
    background-image: url(images/portugal.webp);
  }
  .Hadndadn_Album7 {
    background-image: url(images/shepki.webp);
  }
  .Hadndadn_Album8 {
    background-image: url(images/pocelui.webp);
  }
  .Sirotkin_Album1 {
    background-image: url(images/challenger.webp);
  }
  .Sirotkin_Album2 {
    background-image: url(images/mramor.webp);
  }
  .Sirotkin_Album3 {
    background-image: url(images/echopark.webp);
  }
  .Sirotkin_Album4 {
    background-image: url(images/isnom.webp);
  }
  .Sirotkin_Album5 {
    background-image: url(images/dobryi.webp);
  }
  .Sirotkin_Album6 {
    background-image: url(images/super.webp);
  }
  .Sova_Album1 {
    background-image: url(images/siyanie.webp);
  }
  .Sova_Album2 {
    background-image: url(images/vpamyati.webp);
  }
  .Sbpch_Album1 {
    background-image: url(images/myne.webp);
  }
  .Sbpch_Album2 {
    background-image: url(images/navernoe.webp);
  }
  .Sbpch_Album3 {
    background-image: url(images/nichego.webp);
  }
  .Sbpch_Album4 {
    background-image: url(images/vseravno.webp);
  }
  .pinkbg {
    background-color: #c99aa9;
    background-color: var(--pink);
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0.5vw 0.5vw 0.2vw;
    color: var(--black);
  }
  .Article_Chapter {
    color: var(--black);
    margin-left: 26vw;
    margin-bottom: 3vw;
  }
  .Q_Album_Title {
    color: var(--white);
    font-family: 'GolosUIWebRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 4vw;
    line-height: 4.7vw;
    margin: 1vw 0vw 0vw 22vw;
    width: fit-content;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1920px) {
  .MSButtonPosition {
    margin: 35vw 0vw 0vw 30vw;
  }
  // Блок со статьями
  .Article_Chapter {
    color: var(--black);
    margin-left: 26vw;
    margin-bottom: 3vw;
  }

  .Quote_Title {
    margin-left: 9vw;
    color: var(--black);
    margin-bottom: 3vw;
  }
  .Artist_Support {
    color: var(--black);
    margin-bottom: 1vw;
  }
  .noHover {
    pointer-events: none;
  }
  .pinkbg {
    background-color: #c99aa9;
    background-color: var(--pink);
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0.5vw 0.5vw 0.2vw;
    color: var(--black);
  }

  //Кнопки-стрелки
  .Q_ArrowRightWhite {
    width: 4vw;
    height: 3vw;
    background: url(images/Q_Arrow.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    transition: 0.2s;

    &:hover {
      background: url(images/Q_Arrow_hover.svg);
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
  .Q_ArrowRightBlack {
    width: 4vw;
    height: 3vw;
    background: url(images/Q_Arrow_black.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    transition: 0.2s;
    border: none;

    &:hover {
      background: url(images/Q_Arrow_next_hover.svg);
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
  .Q_ArrowLeftBlack {
    width: 4vw;
    height: 3vw;
    background: url(images/Q_Arrow_black_back.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    transition: 0.2s;
    border: none;

    &:hover {
      background: url(images/Q_Arrow_back_hover.svg);
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
  .Q_ArrowLeftWhite {
    width: 4vw;
    height: 3vw;
    background: url(images/Q_Arrow_white_back.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    transition: 0.2s;
    border: none;

    &:hover {
      background: url(images/Q_Arrow_white_back_hover.svg);
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  // Главная / Большая статья

  .ArtistName {
    width: fit-content;
    font-size: 7vw;
    font-family: 'Bebas Neue';
    font-weight: bold;
    text-align: center;

    .Mag_Letter {
      font-size: 7vw;
    }
  }
  .Mag_Letter {
    font-family: 'Phorssa', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 5vw;
  }
  // Для страниц разделов ИСПОЛНИТЕЛИ/ЖАНРЫ/СТАТЬИ

  .Q_Sort_Title {
    font-family: 'GolosUIWebRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 1vw;
    color: var(--grey);
  }

  .Q_Tag_Genre:hover {
    background-color: var(--pink);
    scale: 0.97;
  }

  // Футер
  .Footer {
    font-size: 3vw;
  }
  .Q_Socials {
    width: 2.4vw;
    height: 3.2vw;
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: 0.2s;
  }
  .Vk {
    background-image: url(images/vk.webp);
  }
  .Tiktok {
    background-image: url(images/tiktok.webp);
  }
  .Telegram {
    background-image: url(images/tg.webp);
  }
  .Telegram:hover {
    background-image: url(images/tg_pink.webp);
  }
  .invert {
    filter: invert(1);
  }

  // 404
  .Q_Text_404 {
    font-family: 'Phorssa', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15vw;
    color: var(--pink);
  }
  .pink {
    color: var(--pink);
    position: absolute;
    margin: -13vw 0vw 0vw 82vw;
    transform: rotate(344deg);
  }
  .green {
    color: var(--green);
    position: absolute;
  }
  .blue {
    color: var(--blue);
    position: absolute;
  }

  .Q_Answer {
    //кнопка ответов теста
    width: 35vw;
    margin: 0.5vw;
    padding: 1.5vw;
    background-color: var(--pink);
    font-size: 1.2vw;
    font-family: 'GolosUIWebRegular';
    font-weight: 500;
    border: none;
    transition: 0.2s;
    cursor: pointer;
  }
  .Q_Answer:hover {
    opacity: 0.7;
  }
  .Q_test_text {
    color: var(--black);
    font-family: 'GolosUIWebRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 1vw;
    line-height: 1vw;
  }

  .Q_Tag_Genre_Article {
    width: fit-content;
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-style: normal;
    font-size: 2vw;
    color: var(--black);
    background-color: var(--white);
    border-radius: 38px 0px 0px 38px;
    height: fit-content;
    padding: 1vw 1.5vw 0.6vw 1.5vw;
    gap: 1vw;
  }
  .Q_Tag_Genre_Articles {
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-style: normal;
    font-size: 2vw;
    color: var(--white);
    background-color: var(--black);
    border-radius: 38px 0px 0px 38px;
    padding: 1vw 1.5vw 0.6vw 1.5vw;
    right: 0vw;
    position: absolute;
  }
  .Q_White {
    color: var(--white);
  }
  .Q_Black {
    color: var(--black);
  }

  .Q_A_text {
    width: 43vw;
    margin-top: 2vw;
    color: var(--black);
    line-height: 1.6vw;
    font-size: 1.1vw;
    text-decoration: none;
    margin-bottom: 1.2vw;
  }
  // .Q_H_text {
  //   width: 43vw;
  //   margin-top: 5vw;
  //   color: var(--white);
  //   line-height: 2vw;
  //   font-size: 1.1vw;
  //   text-decoration: none;
  //   margin-bottom: 1.2vw;
  // }
  .Article_Album {
    width: 43vw;
    margin: 1vw 0vw 1vw 26vw;
  }
  .Q_Artist_Main_Image {
    background-repeat: no-repeat;
    background-size: cover;
    height: 26vw;
    width: 50vw;
    margin: 0vw auto;
    position: relative;
  }
  .Serdobol_Main {
    background-image: url(images/Serdobol_Main.webp);
  }
  .Ushko_Main {
    background-image: url(images/ushko_main.webp);
  }
  .Hadndadn_Main {
    background-image: url(images/hadndadn_main.webp);
  }
  .Sirotkin_Main {
    background-image: url(images/sirotkin_main.webp);
  }
  .Sova_Main {
    background-image: url(images/sova_main.webp);
  }
  .Sbpch_Main {
    background-image: url(images/sbpch_main.webp);
  }
  .Yakutian_Main {
    background-image: url(images/yakutian1.webp);
    margin: 3vw auto;
  }
  .NewRussian_Main {
    background-image: url(images/NewRussian1.webp);
    margin: 3vw auto;
  }
  .Top10_Main {
    background-image: url(images/Top10.webp);
    margin: 3vw auto;
  }

  .Q_Album_Cover {
    width: 13vw;
    height: 13vw;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
  }
  .Serdobol_Album1 {
    background-image: url(images/serdobol_veseloistrashno.webp);
  }
  .Serdobol_Album2 {
    background-image: url(images/serdobol_nutro.webp);
  }
  .Serdobol_Album3 {
    background-image: url(images/serdobol_vseproidet.webp);
  }
  .Ushko_Album1 {
    background-image: url(images/ushko_silverhits.webp);
  }
  .Ushko_Album2 {
    background-image: url(images/ushko_wethits.webp);
  }
  .Hadndadn_Album1 {
    background-image: url(images/tainyi.webp);
  }
  .Hadndadn_Album2 {
    background-image: url(images/podruzhki.webp);
  }
  .Hadndadn_Album3 {
    background-image: url(images/laokyn.webp);
  }
  .Hadndadn_Album4 {
    background-image: url(images/nostalgia.webp);
  }
  .Hadndadn_Album5 {
    background-image: url(images/pereobuv.webp);
  }
  .Hadndadn_Album6 {
    background-image: url(images/portugal.webp);
  }
  .Hadndadn_Album7 {
    background-image: url(images/shepki.webp);
  }
  .Hadndadn_Album8 {
    background-image: url(images/pocelui.webp);
  }
  .Sirotkin_Album1 {
    background-image: url(images/challenger.webp);
  }
  .Sirotkin_Album2 {
    background-image: url(images/mramor.webp);
  }
  .Sirotkin_Album3 {
    background-image: url(images/echopark.webp);
  }
  .Sirotkin_Album4 {
    background-image: url(images/isnom.webp);
  }
  .Sirotkin_Album5 {
    background-image: url(images/dobryi.webp);
  }
  .Sirotkin_Album6 {
    background-image: url(images/super.webp);
  }
  .Sova_Album1 {
    background-image: url(images/siyanie.webp);
  }
  .Sova_Album2 {
    background-image: url(images/vpamyati.webp);
  }
  .Sbpch_Album1 {
    background-image: url(images/myne.webp);
  }
  .Sbpch_Album2 {
    background-image: url(images/navernoe.webp);
  }
  .Sbpch_Album3 {
    background-image: url(images/nichego.webp);
  }
  .Sbpch_Album4 {
    background-image: url(images/vseravno.webp);
  }
  .Q_Album_Title {
    color: var(--white);
    font-family: 'GolosUIWebRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 1.2vw;
    line-height: 1.7vw;
    margin: 1vw 0vw 0vw 5vw;
  }
  .Q_Article_Text {
    line-height: 1.6vw;
    font-size: 1.1vw;
    margin: 0 auto;
    width: 48vw;

    a:hover {
      color: var(--pink);
    }
  }
  .Q_Article_Text a {
    color: var(--black);
  }
  .Q_Artist_Image {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .Serdobol_Image1 {
    background-image: url(images/serdobol1.webp);
    height: 27vw;
    width: 45vw;
  }
  .Serdobol_Image2 {
    background-image: url(images/serdobol2.webp);
    height: 50.5vw;
    width: 75vw;
  }
  .Serdobol_Image3 {
    background-image: url(images/serdobol3.webp);
    height: 29vw;
    width: 45vw;
  }
  .Ushko_Image1 {
    background-image: url(images/ushko1.webp);
    height: 29vw;
    width: 45vw;
  }
  .Ushko_Image2 {
    background-image: url(images/ushko2.webp);
    height: 29vw;
    width: 45vw;
  }
  .Hadndadn_Image1 {
    background-image: url(images/hadndadn1.webp);
    height: 19vw;
    width: 45vw;
  }
  .Hadndadn_Image2 {
    background-image: url(images/hadndadn2.webp);
    height: 29vw;
    width: 45vw;
  }
  .Sirotkin_Image1 {
    background-image: url(images/sirotkin1.webp);
    height: 24vw;
    width: 45vw;
  }
  .Sirotkin_Image2 {
    background-image: url(images/sirotkin2.webp);
    height: 20vw;
    width: 45vw;
  }
  .Sova_Image1 {
    background-image: url(images/sova1.webp);
    height: 26vw;
    width: 45vw;
  }
  .Sova_Image2 {
    background-image: url(images/sova2.webp);
    height: 21vw;
    width: 45vw;
  }
  .Sbpch_Image1 {
    background-image: url(images/sbpch1.webp);
    height: 22vw;
    width: 45vw;
  }
  .Sbpch_Image2 {
    background-image: url(images/sbpch2.webp);
    height: 26vw;
    width: 45vw;
  }
  .Yakutian_Image1 {
    background-image: url(images/yakutian2.webp);
    height: 26vw;
    width: 45vw;
  }
  .Yakutian_Image2 {
    background-image: url(images/yakutian3.webp);
    height: 26vw;
    width: 45vw;
  }
  .Yakutian_Image3 {
    background-image: url(images/yakutian4.webp);
    height: 26vw;
    width: 45vw;
  }
  .NewRussian_Image1 {
    background-image: url(images/NewRussian2.webp);
    height: 26vw;
    width: 45vw;
  }
  .NewRussian_Image2 {
    background-image: url(images/NewRussian3.webp);
    height: 26vw;
    width: 45vw;
  }

  .Q_Quote {
    font-weight: bold;
    line-height: 2.2vw;
    font-size: 1.8vw;
    width: 54vw;
    margin: 0 auto;
  }
  .Q_Quotations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 72vw;
    font-family: 'Phorssa';
    font-weight: normal;
    font-style: normal;
    font-size: 21vw;
    margin: -13vw 0vw;
  }
  .Left_Quotation {
    margin-top: 10vw;
  }
  .Right_Quotation {
    margin-top: -6vw;
  }
}
