// Хэдер
.Q_Menu_Text1:hover {
  color: var(--pink);
}
.Q_Menu_Text2:hover {
  color: var(--blue);
}

.Q_Menu_Text3:hover {
  color: var(--green);
}

// Главный экран
.Q_Icon_Search {
  width: 1.7vw;
  height: 1.7vw;
  background: url(images/search_icon.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

// Блок со статьями
.Q_Chapter_Title {
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-style: normal;
  font-size: 2.4vw;
  text-decoration: none;
  color: var(--white);
  height: 2vw;
}
.Article_Chapter {
  color: var(--black);
  margin-left: 23vw;
}
.Article_Text_Chapter {
  width: 60vw;
  color: var(--black);
  margin-bottom: 3vw;
}
.Quote_Title {
  margin-left: 9vw;
  color: var(--black);
  margin-bottom: 3vw;
}
.Artist_Support {
  color: var(--black);
  margin-bottom: 1vw;
}
.noHover {
  pointer-events: none;
}
.pinkbg {
  background-color: #c99aa9;
  background-color: var(--pink);
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5vw 0.5vw 0.2vw;
  color: #211e1f;
  color: var(--black);
}
// .Q_Chapter_Title:hover {
//   color: var(--pink);
// }
.Q_Arrow {
  width: 4vw;
  height: 3vw;
  background: url(images/Q_Arrow.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  transition: 0.2s;
}
.Q_Arrow:hover {
  background: url(images/Q_Arrow_hover.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.Q_Arrow_next_black {
  width: 4vw;
  height: 3vw;
  background: url(images/Q_Arrow_black.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  transition: 0.2s;
  border: none;
}

.Q_Arrow_next_black:hover {
  background: url(images/Q_Arrow_next_hover.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.Q_Arrow_back_black {
  width: 4vw;
  height: 3vw;
  background: url(images/Q_Arrow_black_back.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  transition: 0.2s;
  border: none;
}

.Q_Arrow_back_black:hover {
  background: url(images/Q_Arrow_back_hover.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.Q_Arrow_back_white {
  width: 4vw;
  height: 3vw;
  background: url(images/Q_Arrow_white_back.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  transition: 0.2s;
  border: none;
}

.Q_Arrow_back_white:hover {
  background: url(images/Q_Arrow_white_back_hover.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.Q_Arrow_text {
  font-family: 'GolosUIWebRegular';
  font-weight: 500;
  font-style: normal;
  font-size: 1vw;
  color: var(--black);
  text-decoration: none;
}

.Q_Type {
  font-family: 'GolosUIWebRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 1vw;
  line-height: 1.2vw;
  color: var(--white);
}
.Q_Tag {
  font-family: 'GolosUIWebRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 1vw;
  line-height: 1.2vw;
  color: var(--black);
  background-color: var(--white);
  width: fit-content;
  height: fit-content;
  padding: 0.4vw;
}
.Q_Title {
  font-family: 'GolosUIWebRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.4vw;
  color: var(--white);
  line-height: 1.8vw;
}
.line {
  line-height: 4.5vw;
}

// Главная / Большая статья
.Q_Title_Mixed {
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-style: normal;
  font-size: 5vw;
  color: var(--white);
  line-height: 5.9vw;
}
.ArtistName {
  width: fit-content;
  color: var(--black);
  font-size: 7vw;

  .Mag_Letter {
    font-size: 7vw;
    color: var(--black);
  }
}
.Mag_Letter {
  font-family: 'Phorssa', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 5vw;
  color: var(--white);
}
// Для страниц разделов ИСПОЛНИТЕЛИ/ЖАНРЫ/СТАТЬИ
.Q_Page_Title {
  position: relative;
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-style: normal;
  font-size: 4vw;
  color: var(--white);
}
.Q_Sort_Title {
  font-family: 'GolosUIWebRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 1vw;
  color: var(--grey);
}

.Q_Tag_Genre {
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-style: normal;
  font-size: 2vw;
  color: var(--white);
  background-color: var(--darkgrey);
  border-radius: 0px 38px 38px 0px;
  height: fit-content;
  padding: 1vw 1.5vw 0.6vw 1vw;
  transition: 0.4s;
  cursor: pointer;
}
.Q_Tag_Genre:hover {
  background-color: var(--pink);
  scale: 0.97;
}

// Футер
.Footer {
  font-size: 3vw;
}
.Q_Socials {
  width: 2.4vw;
  height: 3.2vw;
  display: block;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: 0.2s;
}
.Vk {
  background-image: url(images/vk.webp);
}
.Vk:hover {
  background-image: url(images/vk_pink.webp);
}
.Tiktok {
  background-image: url(images/tiktok.webp);
}
.Telegram {
  background-image: url(images/tg.webp);
}
.invert {
  filter: invert(1);
}

// 404
.Q_Text_404 {
  font-family: 'Phorssa', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 15vw;
  color: var(--pink);
}
.pink {
  color: var(--pink);
  position: absolute;
  margin: -13vw 0vw 0vw 82vw;
  transform: rotate(344deg);
}
.green {
  color: var(--green);
  position: absolute;
}
.blue {
  color: var(--blue);
  position: absolute;
}

.Q_Answer {
  //кнопка ответов теста
  width: 35vw;
  margin: 0.5vw;
  padding: 1.5vw;
  background-color: var(--pink);
  font-size: 1.2vw;
  font-family: 'GolosUIWebRegular';
  font-weight: 500;
  border: none;
  transition: 0.2s;
  cursor: pointer;
}
.Q_Answer:hover {
  opacity: 0.7;
}
.Q_test_text {
  color: var(--black);
  font-family: 'GolosUIWebRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 1vw;
  line-height: 1vw;
}
.h1genre {
  font-size: 10vw;
  line-height: 10vw;
}

.Q_Tag_Genre_Article {
  width: fit-content;
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-style: normal;
  font-size: 2vw;
  color: var(--black);
  background-color: var(--white);
  border-radius: 38px 0px 0px 38px;
  height: fit-content;
  padding: 1vw 1.5vw 0.6vw 1.5vw;
  gap: 1vw;
}
.Q_Tag_Genre_Articles {
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-style: normal;
  font-size: 2vw;
  color: var(--white);
  background-color: var(--black);
  border-radius: 38px 0px 0px 38px;
  padding: 1vw 1.5vw 0.6vw 1.5vw;
  right: 0vw;
  position: absolute;
}
.Q_White {
  color: var(--white);
}
.Q_Black {
  color: var(--black);
}
.Q_P_text {
  width: 43vw;
  margin-top: 2vw;
  color: var(--white);
  line-height: 1.6vw;
  font-size: 1.1vw;
  text-decoration: none;
  margin-bottom: 1.2vw;
}
.Q_H_text {
  width: 43vw;
  margin-top: 5vw;
  color: var(--white);
  line-height: 2vw;
  font-size: 1.1vw;
  text-decoration: none;
  margin-bottom: 1.2vw;
}
.Q_h5 {
  text-decoration: none;
  transition: 0.2s;
}
.Q_h5:hover {
  color: var(--pink);
}
a:visited {
  text-decoration: none;
  color: var(--white);
}

.Genre_Card {
  width: 38vw;
  height: 28vw;
  background: url(images/genre_card.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  margin: -2vw 0vw 0vw 49vw;
}

.Genre_Card2 {
  width: 38vw;
  height: 28vw;
  background: url(images/C_indierock.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  margin: -2vw 0vw 0vw 49vw;
}
.Q_Artist_Main_Image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 26vw;
  width: 50vw;
  margin: 0vw auto;
  position: relative;
}
.Serdobol_Main {
  background-image: url(images/Serdobol_Main.webp);
}
.Ushko_Main {
  background-image: url(images/ushko_main.webp);
}
.Hadndadn_Main {
  background-image: url(images/hadndadn_main.webp);
}
.Sirotkin_Main {
  background-image: url(images/sirotkin_main.webp);
}
.Sova_Main {
  background-image: url(images/sova_main.webp);
}
.Sbpch_Main {
  background-image: url(images/sbpch_main.webp);
}
.Q_Artist_Intro {
  width: 54vw;
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-style: normal;
  font-size: 2.4vw;
  color: var(--black);
  height: fit-content;
  margin: 2vw auto;
}
.Q_Album_Cover {
  width: 20vw;
  height: 20vw;
  background-repeat: no-repeat;
  background-size: cover;
  float: right;
}
.Serdobol_Album1 {
  background-image: url(images/serdobol_veseloistrashno.webp);
}
.Serdobol_Album2 {
  background-image: url(images/serdobol_nutro.webp);
}
.Serdobol_Album3 {
  background-image: url(images/serdobol_vseproidet.webp);
}
.Ushko_Album1 {
  background-image: url(images/ushko_silverhits.webp);
}
.Ushko_Album2 {
  background-image: url(images/ushko_wethits.webp);
}
.Hadndadn_Album1 {
  background-image: url(images/tainyi.webp);
}
.Hadndadn_Album2 {
  background-image: url(images/podruzhki.webp);
}
.Hadndadn_Album3 {
  background-image: url(images/laokyn.webp);
}
.Hadndadn_Album4 {
  background-image: url(images/nostalgia.webp);
}
.Hadndadn_Album5 {
  background-image: url(images/pereobuv.webp);
}
.Hadndadn_Album6 {
  background-image: url(images/portugal.webp);
}
.Hadndadn_Album7 {
  background-image: url(images/shepki.webp);
}
.Hadndadn_Album8 {
  background-image: url(images/pocelui.webp);
}
.Sirotkin_Album1 {
  background-image: url(images/challenger.webp);
}
.Sirotkin_Album2 {
  background-image: url(images/mramor.webp);
}
.Sirotkin_Album3 {
  background-image: url(images/echopark.webp);
}
.Sirotkin_Album4 {
  background-image: url(images/isnom.webp);
}
.Sirotkin_Album5 {
  background-image: url(images/dobryi.webp);
}
.Sirotkin_Album6 {
  background-image: url(images/super.webp);
}
.Sova_Album1 {
  background-image: url(images/siyanie.webp);
}
.Sova_Album2 {
  background-image: url(images/vpamyati.webp);
}
.Sbpch_Album1 {
  background-image: url(images/myne.webp);
}
.Sbpch_Album2 {
  background-image: url(images/navernoe.webp);
}
.Sbpch_Album3 {
  background-image: url(images/nichego.webp);
}
.Sbpch_Album4 {
  background-image: url(images/vseravno.webp);
}
.Q_Album_Title {
  color: var(--white);
  font-family: 'GolosUIWebRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.1vw;
  margin: 1vw 0vw 0vw 10vw;
}
.Q_Article_Text {
  line-height: 1.6vw;
  font-size: 1.1vw;
  margin: 0 auto 3vw;
  width: 48vw;

  a:hover {
    color: var(--pink);
  }
}
.Q_Article_Text a {
  color: var(--black);
}
.Q_Artist_Image {
  margin: 0 auto 3vw;
  background-repeat: no-repeat;
  background-size: cover;
}
.Serdobol_Image1 {
  background-image: url(images/serdobol1.webp);
  height: 27vw;
  width: 45vw;
}
.Serdobol_Image2 {
  background-image: url(images/serdobol2.webp);
  height: 50.5vw;
  width: 75vw;
}
.Serdobol_Image3 {
  background-image: url(images/serdobol3.webp);
  height: 29vw;
  width: 45vw;
}
.Ushko_Image1 {
  background-image: url(images/ushko1.webp);
  height: 29vw;
  width: 45vw;
}
.Ushko_Image2 {
  background-image: url(images/ushko2.webp);
  height: 29vw;
  width: 45vw;
}
.Hadndadn_Image1 {
  background-image: url(images/hadndadn1.webp);
  height: 19vw;
  width: 45vw;
}
.Hadndadn_Image2 {
  background-image: url(images/hadndadn2.webp);
  height: 29vw;
  width: 45vw;
}
.Sirotkin_Image1 {
  background-image: url(images/sirotkin1.webp);
  height: 24vw;
  width: 45vw;
}
.Sirotkin_Image2 {
  background-image: url(images/sirotkin2.webp);
  height: 20vw;
  width: 45vw;
}
.Sova_Image1 {
  background-image: url(images/sova1.webp);
  height: 26vw;
  width: 45vw;
}
.Sova_Image2 {
  background-image: url(images/sova2.webp);
  height: 21vw;
  width: 45vw;
}
.Sbpch_Image1 {
  background-image: url(images/sbpch1.webp);
  height: 22vw;
  width: 45vw;
}
.Sbpch_Image2 {
  background-image: url(images/sbpch2.webp);
  height: 26vw;
  width: 45vw;
}
.Q_Quote {
  font-weight: bold;
  line-height: 2.2vw;
  font-size: 1.8vw;
  width: 54vw;
  margin: 0 auto;
}
.Q_Quotations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 72vw;
  font-family: 'Phorssa';
  font-size: 21vw;
  margin: -13vw 0vw;
}
.Left_Quotation {
  margin-top: 10vw;
}
.Right_Quotation {
  margin-top: -6vw;
}
