// Хэдер
.Q_Menu_Text1:hover {
  color: var(--green);
}
.Q_Menu_Text2:hover {
  color: var(--pink);
}

.Q_Menu_Text3:hover {
  color: var(--blue);
}

// Главный экран
.Q_Icon_Search {
  width: 1.7vw;
  height: 1.7vw;
  background: url(images/search_icon.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

// Блок со статьями
.Q_Chapter_Title {
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-style: normal;
  font-size: 2.4vw;
  text-decoration: none;
  color: var(--white);
  height: 3vw;
}
.Q_Arrow {
  width: 4vw;
  height: 3vw;
  background: url(images/Q_Arrow.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  transition: 0.2s;
}
.Q_Arrow:hover {
  background: url(images/Q_Arrow_hover.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.Q_Type {
  font-family: 'GolosUIWebRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 1vw;
  line-height: 1.2vw;
  color: var(--white);
}
.Q_Tag {
  font-family: 'GolosUIWebRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 1vw;
  line-height: 1.2vw;
  color: var(--black);
  background-color: var(--white);
  width: fit-content;
  height: fit-content;
  padding: 0.4vw;
}
.Q_Title {
  font-family: 'GolosUIWebRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.4vw;
  color: var(--white);
}

// Главная / Большая статья
.Q_Title_Mixed {
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-style: normal;
  font-size: 5vw;
  color: var(--white);
  margin-bottom: 1vw;
}
.Mag_Letter {
  font-family: 'Phorssa', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 5vw;
  color: var(--white);
}
// Для страниц разделов ИСПОЛНИТЕЛИ/ЖАНРЫ/СТАТЬИ
.Q_Page_Title {
  position: relative;
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-style: normal;
  font-size: 4vw;
  color: var(--white);
}
.Q_Sort_Title {
  font-family: 'GolosUIWebRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 1vw;
  color: var(--grey);
}

.Q_Tag_Genre {
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-style: normal;
  font-size: 2vw;
  color: var(--white);
  background-color: var(--darkgrey);
  border-radius: 0px 38px 38px 0px;
  height: fit-content;
  padding: 1vw 1.5vw 0.6vw 1vw;
}

// Футер
.Footer {
  font-size: 3vw;
}
.Q_Socials {
  width: 2.4vw;
  height: 2.2vw;
  background-repeat: no-repeat;
  background-size: cover;
}
.Vk {
  background-image: url(images/vk.webp);
}
.Tiktok {
  background-image: url(images/tiktok.webp);
}
.Telegram {
  background-image: url(images/tg.webp);
}

// 404
.Q_Text_404 {
  font-family: 'Phorssa', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 15vw;
  color: var(--pink);
}
.pink {
  color: var(--pink);
  position: absolute;
  margin: -13vw 0vw 0vw 82vw;
  transform: rotate(344deg);
}
.green {
  color: var(--green);
  position: absolute;
}
.blue {
  color: var(--blue);
  position: absolute;
}

.Q_Answer {
  //кнопка ответов теста
  margin: 0.5vw;
  padding: 1.5vw;
  background-color: var(--pink);
  font-size: 1.2vw;
  font-family: 'GolosUIWebRegular';
  font-weight: 500;
  border: none;
  transition: 0.2s;
  cursor: pointer;
}
.Q_Answer:hover {
  opacity: 0.7;
}
