// Главная / Первый экран
.M_MainScreen_Text {
  background: url(images/MainScreen_TextBg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  top: -14vw;
  margin-left: 8vw;
  width: 74vw;
  height: 68vw;

  .A_MainScreen_Title {
    position: relative;
    top: 22vw;
    margin-left: 24vw;
    width: 38vw;
    height: 23vw;
  }
  .A_Button {
    margin: 22vw 0vw 0vw 37vw;
    background-color: var(--black);
    color: var(--white);
  }
}
.M_HeaderText {
  padding: 1vw 0;
  display: flex;
  width: 92vw;
  height: 6vw;
  margin: 0 auto;
  justify-content: space-between;
}

// Главная / Блок со статьями
.M_ArticleSmall {
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center 6vw;

  .A_Article_Image {
    position: relative;
  }
  .A_Filter {
    margin: 1vw auto;
    justify-content: space-between;
  }
  .A_Title {
    width: 22.5vw;
    padding: 0vw 1vw;
  }
}
.Card1 {
  background-color: var(--green);
  grid-column: 1 / 7;
  grid-row: 1 / 2;
}
.Card2 {
  background-color: var(--pink);
  grid-column: 7 / 13;
  grid-row: 1 / 2;
}
.Card3 {
  background-color: var(--blue);
  grid-column: 13 / 19;
  grid-row: 1 / 2;
}
.Card4 {
  background-color: var(--green);
  grid-column: 19 / 25;
  grid-row: 1 / 2;
}
.M_ArticleBig {
  background-repeat: no-repeat;
  background-size: cover;

  .A_Filter {
    margin: 11vw auto 1vw;
    justify-content: space-between;
  }
  .A_Title {
    margin: 0vw auto;
  }
  .Q_Title {
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-style: normal;
    font-size: 4.7vw;
    color: var(--white);
  }
}
.Card5 {
  background-image: url(images/panelki.webp);
  grid-column: 1 / 19;
  grid-row: 2 / 3;
}

.Card6 {
  background-color: var(--green);
  grid-column: 19 / 25;
  grid-row: 2 / 3;
}

// Главная / Большая статья
.M_Article_Mixed_Text {
  width: 38.4vw;
  height: 26.5vw;
  width: 31vw;

  .A_Filter {
    width: 32vw;
    margin: 1vw auto;
    justify-content: space-between;
    padding: 0vw;
  }
  .Ar_Mix_Text {
    color: var(--white);
    font-family: 'GolosUIWebRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 1.3vw;
    margin-bottom: 2vw;
  }
  .A_Button {
    color: var(--black);
  }
}

// Главная / Блок с жанрами
.M_Genre {
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center 6vw;
  background-color: var(--darkgrey);
  border-radius: 0.3vw;
  display: flex;
  align-items: center;

  .A_Genre_Image {
    float: left;
    align-items: center;
    margin: 0.5vw 0.5vw;
  }
  .A_Genre_Title {
    width: 22.5vw;
  }
}
.Genre1 {
  grid-column: 1 / 9;
  grid-row: 1 / 2;
}

.Genre2 {
  grid-column: 9 / 17;
  grid-row: 1 / 2;
}
.Genre3 {
  grid-column: 17 / 25;
  grid-row: 1 / 2;
}
.Genre4 {
  grid-column: 1 / 9;
  grid-row: 2 / 3;
}

.Genre5 {
  grid-column: 9 / 17;
  grid-row: 2 / 3;
}
.Genre6 {
  grid-column: 17 / 25;
  grid-row: 2 / 3;
}
.Genre7 {
  grid-column: 1 / 9;
  grid-row: 3 / 4;
}
.Genre8 {
  grid-column: 9 / 17;
  grid-row: 3 / 4;
}
.Genre9 {
  grid-column: 17 / 25;
  grid-row: 3 / 4;
}
.Genre10 {
  grid-column: 1 / 9;
  grid-row: 4 / 5;
}

.Genre11 {
  grid-column: 9 / 17;
  grid-row: 4 / 5;
}
.Genre12 {
  grid-column: 17 / 25;
  grid-row: 4 / 5;
}
.Genre13 {
  grid-column: 1 / 9;
  grid-row: 5 / 6;
}
.Genre14 {
  grid-column: 9 / 17;
  grid-row: 5 / 6;
}
.Genre15 {
  grid-column: 17 / 25;
  grid-row: 5 / 6;
}
.Genre16 {
  grid-column: 1 / 9;
  grid-row: 6 / 7;
}
.Genre17 {
  grid-column: 9 / 17;
  grid-row: 6 / 7;
}
.Genre18 {
  grid-column: 17 / 25;
  grid-row: 6 / 7;
}
.Genre19 {
  grid-column: 1 / 9;
  grid-row: 7 / 8;
}
.Genre20 {
  grid-column: 9 / 17;
  grid-row: 7 / 8;
}
.Genre21 {
  grid-column: 17 / 25;
  grid-row: 7 / 8;
}

// Главная / Наши рекомендации
.M_Recs_Grid {
  position: relative;
  display: grid;
  width: 58vw;
  height: 18vw;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 1vw;
  margin: 0vw auto;

  .lisa {
    background-image: url(images/lisa_recs.webp);
    grid-column: 1 / 7;
    grid-row: 1 / 2;
  }
  .anya {
    background-image: url(images/anya_recs.webp);
    grid-column: 7 / 13;
    grid-row: 1 / 2;
  }
  .nana {
    background-image: url(images/nana_recs.webp);
    grid-column: 13 / 19;
    grid-row: 1 / 2;
  }
  .lisa:hover,
  .anya:hover,
  .nana:hover {
    scale: 0.95;
  }
}
