// Главная / Первый экран
.M_MainScreen_Text {
  background: url(images/MainScreen_TextBg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  top: -14vw;
  margin-left: 8vw;
  width: 74vw;
  height: 68vw;

  .A_MainScreen_Title {
    position: relative;
    top: 22vw;
    margin-left: 24vw;
    width: 38vw;
    height: 23vw;
  }
  .A_Button {
    margin: 22vw 0vw 0vw 37vw;
    background-color: var(--black);

    .Button_Text {
      text-decoration: none;
      color: var(--white);
    }
  }
  .A_Button:hover {
    background-color: transparent;

    .Button_Text {
      color: var(--black);
    }
  }
}
.M_HeaderText {
  padding: 1vw 0;
  display: flex;
  width: 43vw;
  height: 6vw;
  justify-content: space-between;
  padding-left: 3.5vw;
}

// Главная / Блок со статьями
.M_ArticleSmall {
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center 6vw;
  transition: 0.2s;
  padding: 1.5vw;

  .A_Article_Image {
    position: relative;
  }
  .A_Filter {
    margin: 15vw 0vw 1vw;
    justify-content: space-between;
  }
}
.M_ArticleSmall:hover {
  scale: 0.98;
  opacity: 0.7;
}
.ArticleCard {
  background-color: var(--green);
}
.PlaylistCard {
  background-color: var(--pink);
}
.TestCard {
  background-color: var(--blue);
}
.Card1 {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
  background-position-y: top;
  background-image: url(images/pasosh.webp);
}
.Card2 {
  grid-column: 7 / 13;
  grid-row: 1 / 2;
  background-position-y: top;
  background-image: url(images/playlist80.webp);
}
.Card3 {
  grid-column: 13 / 19;
  grid-row: 1 / 2;
  background-position-y: top;
  background-image: url(images/yakut.webp);
}
.Card4 {
  grid-column: 19 / 25;
  grid-row: 1 / 2;
  background-position-y: top;
  background-image: url(images/test_bg.webp);
}
.M_ArticleBig {
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s;
  padding: 12vw 2vw 1vw;

  .A_Filter {
    justify-content: space-between;
    width: auto;
  }
  .A_Title {
    margin: 1vw 0vw 0vw;
  }
  .Q_Title {
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-style: normal;
    font-size: 4.7vw;
    color: var(--white);
    transition: 0.2s;
  }
}
.M_ArticleBig:hover {
  scale: 0.98;
  opacity: 0.7;
}
.Card5 {
  background-image: url(images/panelki.webp);
  grid-column: 1 / 19;
  grid-row: 2 / 3;
}

.Card6 {
  grid-column: 19 / 25;
  grid-row: 2 / 3;
  background-position-y: top;
  background-image: url(images/rave.webp);
}
.Card7 {
  grid-column: 1 / 7;
  grid-row: 3 / 4;
  background-position-y: top;
  background-image: url(images/rave.webp);
}
.Card8 {
  grid-column: 7 / 13;
  grid-row: 3 / 4;
  background-position-y: top;
  background-image: url(images/dimanovasmallcard.webp);
}

// Главная / Большая статья
.M_Article_Mixed_Text {
  height: 26.5vw;
  width: 31vw;

  .A_Filter {
    width: 32vw;
    margin: 1vw auto;
    justify-content: space-between;
    padding: 0vw;
  }
  .Ar_Mix_Text {
    color: var(--white);
    font-family: 'GolosUIWebRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 1.2vw;
    margin-bottom: 1.7vw;
    line-height: 1.8vw;
  }
  .A_Button {
    color: var(--black);
    border: 0.1vw solid var(--white);
    // margin-top: 3vw;

    .Button_Text {
      text-decoration: none;
      color: var(--black);
    }
  }
  .A_Button:hover {
    background-color: transparent;

    .Button_Text {
      color: var(--white);
    }
  }
}

// Главная / Блок с жанрами
.M_Genre {
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center 6vw;
  background-color: var(--darkgrey);
  border-radius: 0.3vw;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: 0.2s;

  .A_Genre_Image {
    float: left;
    align-items: center;
    margin: 0.5vw 0.5vw;
  }
  .A_Genre_Title {
    width: 22.5vw;
  }
  p {
    font-family: 'GolosUIWebRegular';
    font-weight: bold;
    font-style: normal;
    font-size: 1.2vw;
    color: var(--white);
    margin-left: 1vw;
  }
}
.M_Genre:hover {
  scale: 0.97;
  background-color: rgb(61, 61, 61);
}
.M_Genre:hover {
  scale: 0.97;
  background-color: rgb(61, 61, 61);
}

// Главная / Наши рекомендации
.M_Recs_Grid {
  position: relative;
  display: grid;
  width: 58vw;
  height: 18vw;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 1vw;
  margin: 0vw auto;

  .lisa {
    background-image: url(images/lisa_recs.webp);
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    transition: 0.2s;
  }
  .anya {
    background-image: url(images/anya_recs.webp);
    grid-column: 7 / 13;
    grid-row: 1 / 2;
    transition: 0.2s;
  }
  .nana {
    background-image: url(images/nana_recs.webp);
    grid-column: 13 / 19;
    grid-row: 1 / 2;
    transition: 0.2s;
  }
  .lisa:hover,
  .anya:hover,
  .nana:hover {
    scale: 0.97;
  }
}

// Главная / Блок с артистами
.M_Recs_Grid {
  .hadndadn_card {
    background-image: url(images/hadndadn_card.webp);
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    transition: 0.2s;
  }
  .sirotkin_card {
    background-image: url(images/sirotkin_card.webp);
    grid-column: 7 / 13;
    grid-row: 1 / 2;
    transition: 0.2s;
  }
  .ushko_card {
    background-image: url(images/ushko_card.webp);
    grid-column: 13 / 19;
    grid-row: 1 / 2;
    transition: 0.2s;
  }
  .serdobol_card {
    background-image: url(images/serdobol_card.webp);
    grid-column: 19 / 25;
    grid-row: 1 / 2;
    transition: 0.2s;
  }
  .sova_card {
    background-image: url(images/sova_card.webp);
    grid-column: 25 / 31;
    grid-row: 1 / 2;
    transition: 0.2s;
  }
  .sbpch_card {
    background-image: url(images/sbpch_card.webp);
    grid-column: 31 / 37;
    grid-row: 1 / 2;
    transition: 0.2s;
  }
  .mirele_card {
    background-image: url(images/mirele_card.webp);
    grid-column: 37 / 43;
    grid-row: 1 / 2;
    transition: 0.2s;
  }
  .crispy_card {
    background-image: url(images/crispy_card.webp);
    grid-column: 43 / 49;
    grid-row: 1 / 2;
    transition: 0.2s;
  }
  .laavu_card {
    background-image: url(images/laavu_card.webp);
    grid-column: 49 / 55;
    grid-row: 1 / 2;
    transition: 0.2s;
  }
  .localcode_card {
    background-image: url(images/localcode_card.webp);
    grid-column: 55 / 61;
    grid-row: 1 / 2;
    transition: 0.2s;
  }
  .brothers_card {
    background-image: url(images/brothers_card.webp);
    grid-column: 61 / 67;
    grid-row: 1 / 2;
    transition: 0.2s;
  }
  .gothic_card {
    background-image: url(images/gothic_card.webp);
    grid-column: 67 / 73;
    grid-row: 1 / 2;
    transition: 0.2s;
  }
  .kdimb_card {
    background-image: url(images/kdimb_card.webp);
    grid-column: 73 / 79;
    grid-row: 1 / 2;
    transition: 0.2s;
  }
  .buerak_card {
    background-image: url(images/buerak_card.webp);
    grid-column: 79 / 85;
    grid-row: 1 / 2;
    transition: 0.2s;
  }
  .nonconf_card {
    background-image: url(images/nonconf_card.webp);
    grid-column: 85 / 91;
    grid-row: 1 / 2;
    transition: 0.2s;
  }
  .dosvidosh_card {
    background-image: url(images/dosvidosh_card.webp);
    grid-column: 91 / 97;
    grid-row: 1 / 2;
    transition: 0.2s;
  }
  .kity_card {
    background-image: url(images/kity_card.webp);
    grid-column: 97 / 103;
    grid-row: 1 / 2;
    transition: 0.2s;
  }
  .garage_card {
    background-image: url(images/garage_card.webp);
    grid-column: 103 / 109;
    grid-row: 1 / 2;
    transition: 0.2s;
  }
  .hadndadn_card:hover,
  .sirotkin_card:hover,
  .ushko_card:hover,
  .serdobol_card:hover,
  .sova_card:hover,
  .sbpch_card:hover {
    scale: 0.97;
  }
}
.Artists_Sroll {
  grid-template-columns: repeat(109, 1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 360vw;
  height: 18vw;
  margin: 0vw 3.5vw;
}

// Футер
.M_Form {
  height: 19vw;
  width: 39.4vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.M_Footer_Text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18vw;
}

// Раздел исполнители
.M_Artist_Card {
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center 6vw;
  background-color: var(--darkgrey);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--white);
  border-radius: 0.3vw;
  padding: 2vw;
  transition: 0.2s;
  height: 29vw;

  .A_Article_Image {
    position: relative;
  }
  .A_Filter {
    margin: 1vw auto;
    justify-content: space-between;
    width: 20.5vw;
    font-size: 1.5vw;
  }
  .A_Title {
    width: 22.5vw;
    padding: 0vw 1vw 2vw;
    width: 20.5vw;
    margin-left: 1vw;
    font-size: 1vw;
    line-height: 1.3vw;
  }
}
.M_Artist_Card:hover {
  scale: 0.98;
  background-color: rgb(61, 61, 61);
}
// .Artist1 {
//   grid-column: 1 / 7;
//   grid-row: 1 / 2;
// }
// .Artist2 {
//   grid-column: 7 / 13;
//   grid-row: 1 / 2;
// }
// .Artist3 {
//   grid-column: 13 / 19;
//   grid-row: 1 / 2;
// }
// .Artist4 {
//   grid-column: 19 / 25;
//   grid-row: 1 / 2;
// }
// .Artist5 {
//   grid-column: 1 / 7;
//   grid-row: 2 / 3;
// }
// .Artist6 {
//   grid-column: 7 / 13;
//   grid-row: 2 / 3;
// }
// .Artist7 {
//   grid-column: 13 / 19;
//   grid-row: 2 / 3;
// }
// .Artist8 {
//   grid-column: 19 / 25;
//   grid-row: 2 / 3;
// }
// .Artist9 {
//   grid-column: 1 / 7;
//   grid-row: 3 / 4;
// }
// .Artist10 {
//   grid-column: 7 / 13;
//   grid-row: 3 / 4;
// }
// .Artist11 {
//   grid-column: 13 / 19;
//   grid-row: 3 / 4;
// }
// .Artist12 {
//   grid-column: 19 / 25;
//   grid-row: 3 / 4;
// }
// .Artist13 {
//   grid-column: 1 / 7;
//   grid-row: 4 / 5;
// }
// .Artist14 {
//   grid-column: 7 / 13;
//   grid-row: 4 / 5;
// }
// .Artist15 {
//   grid-column: 13 / 19;
//   grid-row: 4 / 5;
// }
// .Artist16 {
//   grid-column: 19 / 25;
//   grid-row: 4 / 5;
// }
// .Artist17 {
//   grid-column: 1 / 7;
//   grid-row: 5 / 6;
// }
// .Artist18 {
//   grid-column: 7 / 13;
//   grid-row: 5 / 6;
// }
// .Artist19 {
//   grid-column: 13 / 19;
//   grid-row: 5 / 6;
// }
.M_TestProgress {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: flex-start;
}
.M_Test_QA {
  text-align: center;
  margin-top: 4vw;
}
.M_Test_Nav {
  display: flex;
  flex-direction: row;
  width: 149vw;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 4vw;
  padding-top: 1vw;
}

.M_Big_Article_Text {
  display: flex;
  gap: 1vw;
  flex-direction: column;
}

.M_Genre_Bar {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-left: 1vw;
  padding-left: 2.5vw;
}
.M_Artist_Bar {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-left: 1vw;
  padding-left: 2.5vw;
}
.M_Album:hover {
  scale: 0.99;
  opacity: 0.7;
}
.Rec1 {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
  background-position-y: top;
  background-image: url(images/pasosh.webp);
}
.Rec2 {
  grid-column: 7 / 13;
  grid-row: 1 / 2;
  background-position-y: top;
  background-image: url(images/playlist80.webp);
}
.Rec3 {
  grid-column: 13 / 19;
  grid-row: 1 / 2;
  background-position-y: top;
  background-image: url(images/test_bg.webp);
}
