// Главная / Первый экран
.O_Header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 5.8vw;
  font-size: 2vw;
  background-color: var(--black);
}
.O_MainScreen {
  background: url(images/main.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100vw;
  height: 43.4vw;
  margin-top: 9vw;
}

// Главная / Блок со статьями
.O_Articles_Grid {
  position: relative;
  display: grid;
  width: 93vw;
  height: fit-content;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1vw;
  margin: 3vw auto 0vw;
}
.O_Articles_Grid a {
  text-decoration: none;
}

// Главная / Большая статья
.O_Article_Mixed {
  position: relative;
  width: 85.5vw;
  height: 37.5vw;
  margin: 0vw auto 0vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Главная / Блок с жанрами
// .O_Genres_Grid {
//   position: relative;
//   display: grid;
//   width: 93vw;
//   height: 23vw;
//   grid-template-columns: repeat(24, 1fr);
//   grid-template-rows: repeat(4, 1fr);
//   grid-gap: 1vw;
//   margin: 3vw auto 0vw;
// }
.O_Genres_Grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24vw, 1fr));
  /* grid-gap: 1vw; */
  gap: 1vw;
  margin: 3vw 3.4vw;
}

// Главная / Блок с артистами
.O_Artists_Inline {
  width: 100vw;
  height: 18vw;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: 3vw;
  white-space: nowrap;
  scrollbar-width: none;
}

// Футер
.O_Footer {
  background-color: var(--black);
  height: 30.6vw;
  width: 100%;
  position: relative;
  margin-top: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3.5vw;
}

// Раздел исполнители
.O_Artists_Grid {
  position: relative;
  display: grid;
  width: 93vw;
  height: 60vw;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1vw;
  margin: 3vw auto 0vw;
}

.O_Sort_Title_Filter {
  margin-top: 9vw;
  position: relative;
  width: 36vw;
  height: 11vw;
  margin-left: 3.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1vw;
}

// Раздел жанры
.All_Genres {
  height: 41vw;
  grid-template-rows: repeat(7, 1fr);
}

//404
.O_404_main {
  width: 52vw;
  height: 32vw;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 24vw;
  margin-top: 10vw;
}
.O_Genre_Body {
  margin-left: 7.5vw;
  margin-top: 8vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12vw;
}
.O_Albums {
  background-color: var(--black);
  height: 27vw;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 3vw;
  gap: 2vw;
  margin-top: 3vw;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  padding-right: 3.5vw;
  transition: 0.2s;
}
.O_Albums a {
  text-decoration: none;
}
