// Главная / Блок со статьями
.S_Articles_Block {
  position: relative;
  width: 100%;
  height: 60vw;
  margin-top: 7vw;

  .A_Block_Title {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }
  h2 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-size: 4.7vw;
    position: absolute;
  }
}

// Главная / Блок с жанрами
.S_Genres_Block {
  position: relative;
  width: 100%;
  height: 29.7vw;
  margin-top: 7vw;

  .A_Block_Title {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }
  // .Q_Chapter_Title:hover {
  //   background-image: url(images/Q_Menu_Text2.webp);
  //   background-repeat: no-repeat;
  //   background-size: cover;
  // }
  h6 {
    font-family: 'GolosUIWebRegular';
    font-weight: bold;
    font-style: normal;
    font-size: 1.2vw;
    color: var(--white);
    margin-left: 1vw;
  }
}

// Главная / Блок с рекомендациями
.S_OurRecs {
  position: relative;
  width: 100%;
  height: 43.4vw;
  margin-top: 7vw;
  background-image: url(images/our_recs.webp);
  background-repeat: no-repeat;
  background-size: cover;

  .Q_Title_Mixed {
    width: fit-content;
    margin: 0 auto;
    padding: 9vw 0vw 2vw;
  }
}

// Главная / Блок с артистами
.S_Artists_Block {
  position: relative;
  width: 100%;
  height: 24.4vw;
  margin-top: 7vw;

  .A_Block_Title {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }
  // .Q_Chapter_Title:hover {
  //   background-image: url(images/Q_Menu_Text3.webp);
  //   background-repeat: no-repeat;
  //   background-size: cover;
  // }
}

.S_Test {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 9vw;
}
