<% const {menubar} = require('../menubar.js') %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Сироткин</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.svg" />
    <analytics></analytics>
  </head>
  <body class="sirotkin">
    <div class="S_MenuBar"><%= menubar %></div>

    <div class="W_GenreArtistTitle">
      <div class="M_Artist_Bar">
        <a href="../artists.html" class="A_SecondaryButtonLeft fixed">
          <div class="Q_ArrowLeftBlack"></div>
          <p class="Q_Arrow_text Q_Black">назад</p>
        </a>
        <p class="Q_Tag_Genre_Articles">#ИНДИ-ПОП #ИНДИ-РОК</p>
      </div>
      <h1 class="Q_Title_Mixed ArtistName">
        С<span class="Mag_Letter">И</span>Р<span class="Mag_Letter"></span
        >О<span class="Mag_Letter">Т</span>КИ<span class="Mag_Letter">Н</span>
      </h1>
    </div>
    <div class="Q_Artist_Main_Image Sirotkin_Main"></div>
    <div class="A_ArticleIntro">
      Группа «Сироткин» была основана в 2015 году Сергеем Сироткиным и стала
      известной благодаря таким хитам, как «Выше домов», «Планы на это лето»,
      «Бейся сердце, время биться», «Август» и «Навсегда».
    </div>
    <div class="W_ArticleText">
      <div class="S_Albums">
        <div class="A_ChapterTitle Article_Chapter noHover">АЛЬБОМЫ</div>
        <div class="O_Albums">
          <a href="https://music.yandex.ru/album/2659879" class="M_Album">
            <div class="A_Album_Cover">
              <div class="Q_Album_Cover Sirotkin_Album1"></div>
            </div>
            <div class="Q_Album_Title">Сироткин "Challenger"</div>
          </a>
          <a href="https://music.yandex.ru/album/7221331" class="M_Album">
            <div class="A_Album_Cover">
              <div class="Q_Album_Cover Sirotkin_Album2"></div>
            </div>
            <div class="Q_Album_Title">Сироткин "Мрамор"</div>
          </a>
          <a href="https://music.yandex.ru/album/7054421" class="M_Album">
            <div class="A_Album_Cover">
              <div class="Q_Album_Cover Sirotkin_Album3"></div>
            </div>
            <div class="Q_Album_Title">Сироткин "Эхопарк"</div>
          </a>
          <a href="https://music.yandex.ru/album/10085149" class="M_Album">
            <div class="A_Album_Cover">
              <div class="Q_Album_Cover Sirotkin_Album4"></div>
            </div>
            <div class="Q_Album_Title">Сироткин "И сном и духом"</div>
          </a>
          <a href="https://music.yandex.ru/album/17915465" class="M_Album">
            <div class="A_Album_Cover">
              <div class="Q_Album_Cover Sirotkin_Album5"></div>
            </div>
            <div class="Q_Album_Title">Сироткин "Добрый злой"</div>
          </a>
          <a href="https://music.yandex.ru/album/27823439" class="M_Album">
            <div class="A_Album_Cover">
              <div class="Q_Album_Cover Sirotkin_Album6"></div>
            </div>
            <div class="Q_Album_Title">Сироткин "Суперслабость"</div>
          </a>
        </div>
      </div>
      <div class="W_ArticleText">
        <div class="A_ChapterTitle Article_Text_Chapter noHover">
          С ЧЕГО ВСЕ НАЧАЛОСЬ
        </div>
        <div class="Q_Article_Text">
          Группа «Сироткин» была основана в 2015 году Сергеем Сироткиным,
          который начал создавать свою авторскую музыку на русском языке, играя
          на акустической гитаре и добавляя электронные партии. Вдохновением для
          его творчества послужили такие музыкальные группы, как Майкл Джексон,
          Nirvana и Radiohead, а также детские воспоминания, которые стали
          основой для текстов его песен. <br /><br />Первым заметным событием
          стало участие его англоязычной песни «Break My Senses» в показе
          коллекции Гоши Рубчинского на Парижской неделе моды в 2014 году. Позже
          эта песня была адаптирована под русскоязычную композицию «Бейся
          сердце, время биться». К проекту присоединился Владислав Хайдуров,
          играющий на клавишах, а затем к группе присоединились Вадим
          Беликов-Филиппов, бас-гитарист, Дмитрий Ерошин, барабанщик, и Максим
          Макарычев, гитарист. <br /><br />Весной 2015 года группа выпустила
          дебютный мини-релиз под названием «Challenger» на лейбле Kometa Music,
          который получил положительные отзывы критиков. В ноябре того же года
          был выпущен первый клип на англоязычную песню «Imaginary Pilot»,
          а в 2016 году группа выпустила еще несколько композиций. В апреле 2017
          года был выпущен EP «Мрамор», а в сентябре того же года вышел клип
          на песню «Бейся сердце, время биться». Группа активно выступает
          и снимает музыкальные видео, привлекая внимание к своему творчеству.
        </div>
        <div class="Q_Artist_Image Sirotkin_Image1"></div>
        <div class="Q_Article_Text">
          В июне 2018 года вышел третий EP группы «Эхопарк», а в октябре того же
          года Сергей Сироткин получил независимую музыкальную премию «Золотая
          Горгулья» в номинации «Автор-исполнитель». В этот же период к группе
          присоединились новые участники, в том числе Дмитрий Ерошин и Максим
          Макарычев. В апреле 2019 года группа выпустила клип на песню «Выше
          домов», который стал новым плодом сотрудничества с режиссером Олегом
          Трофимом. После релиза этого клипа группу пригласили выступить
          на Первом канале в шоу «Вечерний Ургант». В сентябре того же года был
          выпущен сингл «Навсегда», который вошел в новый мини-альбом «И сном
          и духом», выпущенный в марте 2020 года. Этот альбом получил
          положительные отзывы от критиков и стал успешным проектом группы.
          Осенью 2019 года группа выпустила сингл «Навсегда», а в октябре 2021
          года вышел очередной мини-альбом «Добрый злой», вдохнов
        </div>
      </div>
      <div class="W_ArticleText">
        <div class="A_ChapterTitle Article_Text_Chapter noHover">
          ТВОРЧЕСТВО
        </div>
        <div class="Q_Article_Text">
          Первый альбом Сироткина был составлен из песен, тексты которых были
          переведены с английского на русский язык. Близкие люди, которым Сергей
          доверяет, положительно отреагировали на творческий материал. Весной
          2015 года на лейбле «Kometa Music» вышел дебютный мини-релиз Сироткина
          под названием «Challenger». Впоследствии в биографии Сироткина
          появился EP «Мрамор», который был представлен публике в апреле
          2016 года. Изначально этот релиз задумывался как полноформатный
          альбом, однако в процессе работы над творческим материалом было
          принято решение оставить лишь 6 композиций.
        </div>
        <div class="Q_Artist_Image Sirotkin_Image2"></div>
        <div class="Q_Article_Text">
          В июне 2018 года вышел мини-альбом под названием «Эхопарк», включающий
          в себя 5 треков. Музыкальные композиции этого альбома стали отличаться
          от минималистического звучания, переходя к более светлым музыкальным
          тональностям и насыщенным аранжировкам. Новая работа была также
          встречена положительными отзывами поклонников исполнителя.
        </div>
        <div class="A_Support">
          <div class="A_ChapterTitle Artist_Support noHover">
            ПОДДЕРЖИТЕ ГРУППУ
          </div>
          <a href="https://vk.com/sirotkinmusic" class="Q_Socials Vk"></a>
        </div>
      </div>
    </div>
    <recommendations></recommendations>

    <basement></basement>
  </body>
</html>
