html {
  margin: 0px;
  height: 100%;
  width: 100%;
}
// body::before {
//   content: '';
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: url(images/main.jpg);
//   background-repeat: no-repeat;
//   opacity: 0.3;
// }
body {
  height: 100%;
  font-family: 'GolosUIWebRegular';
  font-weight: normal;
  font-style: normal;
  background-color: #f5f5f5;
  overflow: scroll;
}
@media all and (min-width: 431px) {
  h1 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-size: 4.7vw;
    position: absolute;
  }
  h2 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-size: 3.3vw;
    position: absolute;
  }
  h3 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-size: 2.5vw;
    position: absolute;
  }
  h4 {
    font-family: 'GolosUIWebRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 1.5vw;
    position: absolute;
  }
  p {
    font-family: 'GolosUIWebRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 1.3vw;
    position: absolute;
    line-height: normal;
  }
  h5 {
    font-family: 'GolosUIWebRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 1.1vw;
    position: absolute;
    line-height: 1.3vw;
  }

  // Кнопка назад
  .back_btn {
    width: 7vw;
    height: 3vw;
    border: 0.3vw solid black;
    position: fixed;
    top: 20%;
    left: 3vw;
    color: #000000;
    text-decoration: none;
  }
  .back_btn h5 {
    width: 3vw;
    margin: 0.5vw auto;
    position: relative;
    font-weight: 700;
  }
  .back_btn:hover {
    background-color: #000000;
    color: #f5f5f5;
  }

  // Главный экран
  .main_screen {
    position: relative;
    width: 100%;
    height: 43.2vw;
    background: url(images/serdobol_main_bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .artist_name {
    position: relative;
    width: 22.5vw;
    height: 16.4vw;
    top: 20%;
    background: url(images/name_bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
    margin: 0 auto;
  }
  .name {
    position: relative;
    margin: 0 auto;
    width: 12vw;
    top: 45%;
  }
  .artist_info {
    position: relative;
    width: 38vw;
    height: 13.2vw;
    top: 20%;
    margin: 0vw auto;
    color: #f5f5f5;
  }
  .info1 {
    background-color: #bd8a96;
    width: 36vw;
    height: 6vw;
    padding: 0.6vw;
    color: black;
    margin: 0 auto;
  }
  .info2 {
    background-color: #bd8a96;
    width: 9vw;
    height: 3vw;
    padding: 0.6vw;
    color: black;
    margin: 0 auto;
  }
  .info3 {
    background-color: #bd8a96;
    width: 21vw;
    height: 3vw;
    padding: 0.6vw;
    color: black;
    margin: 0 auto;
  }
  .info4 {
    background-color: #bd8a96;
    width: 14vw;
    height: 3vw;
    padding: 0.6vw;
    color: black;
    margin: 0 auto;
  }

  .article_content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .content1 {
    position: relative;
    width: 70.2vw;
    height: 25vw;
    margin: 5vw 0vw;
  }
  .content1 h4 {
    position: relative;
    font-weight: 700;
    margin-bottom: 1vw;
  }
  .content1 p {
    position: relative;
  }
  .photo1 {
    position: relative;
    width: 70.2vw;
    height: 38vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0vw auto 2vw;
  }
  .serdobol_img {
    position: relative;
    width: 70.2vw;
    height: 38vw;
    background: url(images/serdobol1.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .photo1 h5 {
    position: relative;
    margin: 1vw;
    top: 38vw;
  }
  .content2 {
    position: relative;
    width: 70.2vw;
    height: 46vw;
    margin: 5vw 0vw;
  }
  .content2 h3 {
    position: relative;
    margin-bottom: 5vw;
    font-weight: bold;
  }
  .content2 p {
    position: relative;
    margin-bottom: 5vw;
  }
  .content2 h4 {
    position: relative;
    margin-bottom: 2vw;
    font-family: 'Bebas Neue';
    font-weight: bold;
  }
  .content3 {
    position: relative;
    width: 70.2vw;
    height: 178vw;
    margin-bottom: 6vw;
  }
  .content3 h3 {
    position: relative;
    margin-bottom: 5vw;
    font-weight: bold;
  }
  .content3 p {
    position: relative;
    margin-bottom: 2vw;
  }
  .photo2 {
    position: relative;
    width: 58.3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0vw auto 2vw;
  }
  .veselo_img {
    position: relative;
    width: 26.8vw;
    height: 26.8vw;
    background: url(images/serdobol2.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .nutro_img {
    position: relative;
    width: 26.8vw;
    height: 26.8vw;
    background: url(images/serdobol3.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .photo2 h5 {
    position: relative;
    margin-top: 1vw;
  }
  .vk_video {
    position: relative;
    width: 70.2vw;
    margin-bottom: 2vw;
  }
  .yandex {
    position: relative;
    margin-bottom: 2vw;
  }
  .links {
    position: relative;
    width: 70.2vw;
    height: 7vw;
    margin-bottom: 6vw;
  }
  .content3 h3 {
    position: relative;
    margin-bottom: 5vw;
    font-weight: bold;
  }
  .interesting {
    position: relative;
    width: 93vw;
  }
  .interest {
    font-family: 'Bebas Neue';
    font-weight: bold;
    position: relative;
    margin: 0 auto;
    margin-bottom: 2vw;
    width: 14vw;
  }
  .inst {
    position: relative;
    display: block;
    width: 3vw;
    height: 3vw;
    background: url(images/instagram.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4vw;
  }
  .grid_articles {
    position: relative;
    display: grid;
    width: 94vw;
    height: 25.3vw;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 1vw;
    margin: 0vw auto;
  }
  .ar1 {
    grid-column: 4 / 10;
    grid-row: 1 / 2;
    background: url(images/ar5.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
  }
  .ar2 {
    grid-column: 10 / 16;
    grid-row: 1 / 2;
    background: url(images/ar2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
  }
  .ar3 {
    grid-column: 16 / 22;
    grid-row: 1 / 2;
    background: url(images/ar3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
  }
  .filter {
    position: relative;
    width: 20vw;
    margin: 0vw auto;
    margin-top: 16vw;
    display: flex;
    justify-content: space-between;
  }
  .filter h5 {
    position: relative;
  }
  .title {
    position: relative;
    width: 20vw;
    margin: 0vw auto;
    margin-top: 0.5vw;
    display: flex;
    justify-content: space-between;
  }
  .btns {
    position: relative;
    width: 56.2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vw 9vw 6vw;
  }
  .read_btn1 {
    width: 10vw;
    height: 3vw;
    border: 0.3vw solid black;
    position: relative;
    top: 20%;
    left: 3vw;
    color: #000000;
    text-decoration: none;
  }
  .read_btn1 h5 {
    width: 8vw;
    margin: 0.5vw 1vw;
    position: relative;
    font-weight: 700;
  }
  .read_btn2 {
    width: 10vw;
    height: 3vw;
    border: 0.3vw solid black;
    position: relative;
    top: 20%;
    left: 3vw;
    color: #000000;
    text-decoration: none;
  }
  .read_btn2 h5 {
    width: 8vw;
    margin: 0.5vw 1vw;
    position: relative;
    font-weight: 700;
  }
  .test_btn {
    width: 9vw;
    height: 3vw;
    border: 0.3vw solid black;
    position: relative;
    top: 20%;
    left: 3vw;
    color: #000000;
    text-decoration: none;
  }
  .test_btn h5 {
    width: 8vw;
    margin: 0.5vw 1vw;
    position: relative;
    font-weight: 700;
  }
  .read_btn1:hover,
  .read_btn2:hover,
  .test_btn:hover {
    background-color: #000000;
    color: #f5f5f5;
  }

  // Подвал
  footer {
    position: relative;
    background-color: #427569;
    width: 100%;
    height: 23vw;
    bottom: 0vw;
    color: #f5f5f5;
  }
  .text_footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35vw;
    height: 12vw;
    padding: 6vw 0vw 0vw 6vw;
  }
  .text_footer h5 {
    position: relative;
    height: 6vw;
  }
  .icons_footer {
    position: relative;
    width: 87.7vw;
    height: 8vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .hse_logo {
    position: relative;
    width: 10vw;
    height: 4vw;
    background: url(images/hse.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3vw 0vw;
  }
  .socials {
    width: 11.4vw;
    height: 2.7vw;
    margin: 3vw 0vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .tiktok_logo {
    position: relative;
    width: 3vw;
    height: 2.9vw;
    background: url(images/tiktok.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .vk_logo {
    position: relative;
    width: 3vw;
    height: 2.7vw;
    background: url(images/vk.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tg_logo {
    position: relative;
    width: 3vw;
    height: 2.7vw;
    background: url(images/tg.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }

  // Хэдер
  .header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 5vw;
    font-size: 2vw;
    background-color: #000000;
  }
  .logo_header {
    width: 7.2vw;
    height: 4vw;
    background: url(images/logo_pb.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0vw 51vw 0vw 2vw;
  }
  .header a {
    text-decoration: none;
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-style: normal;
    color: #f5f5f5;
  }
  .sections {
    width: 33.1vw;
    height: 1.9vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .search {
    width: 4vw;
    height: 4vw;
    background: url(images/search_icon.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0vw 3vw 0vw 0vw;
  }
  .icons_menu,
  .side_menu_text {
    display: none;
  }
  .menu_mob_icon {
    display: none;
  }
}
@media all and (min-width: 1px) and (max-width: 430px) {
  h1 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-size: 11.6vw;
    position: absolute;
  }
  h2 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-size: 8.9vw;
    position: absolute;
  }
  h3 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-size: 7.9vw;
    position: absolute;
  }
  h4 {
    font-family: 'GolosUIWebRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 4.7vw;
    position: absolute;
  }
  p {
    font-family: 'GolosUIWebRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 3.5vw;
    position: absolute;
    line-height: normal;
  }
  h5 {
    font-family: 'GolosUIWebRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 2.1vw;
    position: absolute;
    line-height: 2.5vw;
  }

  // Кнопка назад
  .back_btn {
    width: 9vw;
    height: 4vw;
    border: 0.3vw solid black;
    position: fixed;
    top: 20%;
    left: 3vw;
    color: #000000;
    text-decoration: none;
  }
  .back_btn h5 {
    margin: 0.5vw 1vw;
    position: relative;
    font-weight: 700;
  }
  .back_btn:hover {
    background-color: #000000;
    color: #f5f5f5;
  }

  // Главный экран
  .main_screen {
    position: relative;
    width: 100%;
    height: 136.2vw;
    background: url(images/serdobol_main_bg_mob.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .artist_name {
    position: relative;
    width: 44.5vw;
    height: 31.4vw;
    top: 30%;
    background: url(images/name_bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
    margin: 0 auto;
  }
  .name {
    position: relative;
    margin: 0 auto;
    width: 31vw;
    top: 45%;
  }
  .artist_info {
    position: relative;
    width: 68vw;
    height: 13.2vw;
    top: 30%;
    margin: 0vw auto;
    color: #f5f5f5;
    text-align: center;
  }
  .info1 {
    background-color: #bd8a96;
    width: 67vw;
    height: 32vw;
    padding: 0.6vw;
    color: black;
    margin: 0 auto;
    position: relative;
  }
  .info2 {
    background-color: #bd8a96;
    width: 26vw;
    height: 8vw;
    padding: 0.6vw;
    color: black;
    margin: 0 auto;
  }
  .info3 {
    background-color: #bd8a96;
    width: 65vw;
    height: 8vw;
    padding: 0.6vw;
    color: black;
    margin: 0 auto;
  }
  .info4 {
    background-color: #bd8a96;
    width: 43vw;
    height: 8vw;
    padding: 0.6vw;
    color: black;
    margin: 0 auto;
  }

  .article_content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .content1 {
    position: relative;
    width: 70.2vw;
    height: 184vw;
    margin: 5vw 0vw;
  }
  .content1 h4 {
    position: relative;
    font-weight: 700;
    margin-bottom: 1vw;
  }
  .content1 p {
    position: relative;
  }
  .photo1 {
    position: relative;
    width: 70.2vw;
    height: 43vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0vw auto 2vw;
  }
  .serdobol_img {
    position: relative;
    width: 70.2vw;
    height: 38vw;
    background: url(images/serdobol1.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .photo1 h5 {
    position: relative;
    margin: 1vw;
    top: 38vw;
  }
  .content2 {
    position: relative;
    width: 70.2vw;
    height: 212vw;
    margin: 5vw 0vw;
  }
  .content2 h3 {
    position: relative;
    margin-bottom: 5vw;
    font-weight: bold;
  }
  .content2 p {
    position: relative;
    margin-bottom: 5vw;
  }
  .content2 h4 {
    position: relative;
    margin-bottom: 2vw;
    font-family: 'Bebas Neue';
    font-weight: bold;
  }
  .content3 {
    position: relative;
    width: 70.2vw;
    height: 821vw;
    margin-bottom: 6vw;
  }
  .content3 h3 {
    position: relative;
    margin-bottom: 5vw;
    font-weight: bold;
  }
  .content3 p {
    position: relative;
    margin-bottom: 2vw;
  }
  .photo2 {
    position: relative;
    width: 58.3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0vw auto 2vw;
  }
  .veselo_img {
    position: relative;
    width: 26.8vw;
    height: 26.8vw;
    background: url(images/serdobol2.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .nutro_img {
    position: relative;
    width: 26.8vw;
    height: 26.8vw;
    background: url(images/serdobol3.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .photo2 h5 {
    position: relative;
    margin-top: 1vw;
  }
  .vk_video {
    position: relative;
    width: 70.2vw;
    margin-bottom: 2vw;
  }
  .yandex {
    position: relative;
    margin-bottom: 2vw;
  }
  .links {
    position: relative;
    width: 70.2vw;
    height: 20vw;
    margin-bottom: 6vw;
  }
  .content3 h3 {
    position: relative;
    margin-bottom: 5vw;
    font-weight: bold;
  }
  .interesting {
    position: relative;
    width: 93vw;
    height: 251vw;
  }
  .interest {
    font-family: 'Bebas Neue';
    font-weight: bold;
    position: relative;
    margin: 0 auto;
    margin-bottom: 2vw;
    width: 38vw;
  }
  .inst {
    position: relative;
    display: block;
    width: 11vw;
    height: 11vw;
    background: url(images/instagram.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10vw;
  }
  .grid_articles {
    position: relative;
    display: grid;
    width: 94vw;
    height: 237.3vw;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1vw;
    margin: 0vw auto;
  }
  .ar1 {
    grid-column: 4/22;
    grid-row: 1/2;
    background: url(images/ar5.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
  }
  .ar2 {
    grid-column: 4/22;
    grid-row: 2/3;
    background: url(images/ar2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
  }
  .ar3 {
    grid-column: 4/22;
    grid-row: 3/4;
    background: url(images/ar3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
  }
  .filter {
    position: relative;
    width: 63vw;
    margin: 0vw auto;
    margin-top: 52vw;
    display: flex;
    justify-content: space-between;
  }
  .filter h5 {
    position: relative;
  }
  .title {
    position: relative;
    width: 63vw;
    margin: 0vw auto;
    margin-top: 3.5vw;
    display: flex;
    justify-content: space-between;
  }
  .btns {
    display: none;
  }

  // Подвал
  footer {
    position: relative;
    background-color: #427569;
    width: 100%;
    height: 31vw;
    bottom: 0vw;
    color: #f5f5f5;
  }
  .text_footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
    height: 12vw;
    padding: 6vw 0vw 0vw 6vw;
  }
  .text_footer h5 {
    position: relative;
    height: 6vw;
  }
  .icons_footer {
    position: relative;
    width: 87.7vw;
    height: 8vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .hse_logo {
    position: relative;
    width: 18vw;
    height: 7vw;
    background: url(images/hse.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3vw 0vw;
  }
  .socials {
    width: 28vw;
    height: 2.7vw;
    margin: 3vw 0vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .tiktok_logo {
    position: relative;
    width: 6vw;
    height: 6vw;
    background: url(images/tiktok.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .vk_logo {
    position: relative;
    width: 7vw;
    height: 6.7vw;
    background: url(images/vk.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tg_logo {
    position: relative;
    width: 6vw;
    height: 6vw;
    background: url(images/tg.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }

  // Хэдер и меню мобилка
  .header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 15vw;
    font-size: 2vw;
    background-color: #000000;
  }
  .logo_header {
    width: 15.2vw;
    height: 8.5vw;
    background: url(images/logo_pb.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0vw 51vw 0vw 2vw;
  }
  .header a {
    text-decoration: none;
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-style: normal;
    color: #f5f5f5;
  }
  .sections a {
    display: none;
  }
  .search {
    width: 8vw;
    height: 8vw;
    background: url(images/search_icon.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .none {
    display: none;
  }
  .icons_menu {
    width: 100%;
    height: 8.5vw;
    position: absolute;
    top: 0;
    margin: 3.2vw 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .esc {
    width: 8vw;
    height: 8vw;
    background: url(images/esc_mob.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0vw 2vw 0vw 0vw;
  }
  .menu_mob_icon {
    width: 8vw;
    height: 8vw;
    background: url(images/menu_mob_icon.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0vw 2vw 0vw 0vw;
  }
  .menu_mob {
    height: 100vh;
    position: fixed;
    top: 0;
    transition: all 0.3s ease-in-out;
    width: 100vw;
    z-index: 10;
    background-color: black;
  }
  .side_menu_text {
    display: flex;
    position: absolute;
    top: 35%;
    width: 100%;
    height: 54vw;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }
  .side_menu_text a {
    text-decoration: none;
  }
  .side_menu_text h2 {
    font-weight: bold;
    position: relative;
  }
  .menu_artists {
    position: relative;
    width: 43.3vw;
    height: 9vw;
    color: #000000;
    background-color: #bd8a96;
    padding: 0.6vw;
  }
  .menu_genres {
    position: relative;
    width: 24vw;
    height: 9vw;
    color: #f5f5f5;
    background-color: #427569;
    padding: 0.6vw;
  }
  .menu_articles {
    position: relative;
    width: 24vw;
    height: 9vw;
    color: #f5f5f5;
    background-color: #4a6587;
    padding: 0.6vw;
  }
  .menu_artists:hover,
  .menu_genres:hover,
  .menu_articles:hover {
    scale: 0.95;
  }
}
.bebas_bold {
  font-weight: bold;
}
.h2_london {
  font-family: 'London', sans-serif;
}
