html {
  margin: 0px;
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  font-family: 'GolosUIWebRegular';
  font-weight: normal;
  font-style: normal;
  background-color: #000000;
  overflow: scroll;
}
@media all and (min-width: 431px) {
  h1 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-size: 4.7vw;
    position: absolute;
  }
  h2 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-size: 3.3vw;
    position: absolute;
  }
  h3 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-size: 2.5vw;
    position: absolute;
  }
  h4 {
    font-family: 'GolosUIWebRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 1.5vw;
    position: absolute;
  }
  h5 {
    font-family: 'GolosUIWebRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 1.1vw;
    position: absolute;
    line-height: 1.3vw;
  }

  // Главный экран
  .main_screen {
    position: relative;
    width: 100vw;
    height: 50vw;
    top: 7vw;
    background: url(images/main_bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    border-radius: 50vw 48vw 0vw 0vw;
  }
  .vinyl {
    position: absolute;
    width: 19vw;
    height: 18vw;
    top: -3vw;
    left: 38vw;
    background: url(images/vinyl.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .spin {
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .guitar {
    position: absolute;
    width: 19vw;
    height: 56vw;
    top: -10vw;
    left: 14vw;
    background: url(images/guitar.webp);
    background-repeat: no-repeat;
    background-size: cover;
    rotate: 35deg;
  }
  .rotate {
    animation: rotate 1s linear infinite;
  }
  @keyframes rotate {
    0% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-5deg);
    }
  }
  .tape {
    position: absolute;
    width: 31vw;
    height: 20vw;
    top: 23vw;
    right: 1vw;
    background: url(images/tape.webp);
    background-repeat: no-repeat;
    background-size: cover;
    rotate: 9deg;
  }
  .shake {
    animation: shake 1s linear infinite alternate;
  }
  @keyframes shake {
    0% {
      right: 0vw;
    }
    100% {
      right: 3vw;
    }
  }
  .decor_main {
    position: absolute;
    width: 90vw;
    height: 45vw;
    background: url(images/decor_main.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0vw 5vw;
  }
  .text_main {
    position: absolute;
    width: 100%;
    height: 50vw;
  }
  .vrubim {
    position: absolute;
    top: 11.3vw;
    margin: 0vw 63vw 0vw 37vw;
    padding: 0.6vw;
    width: 15.5vw;
    height: 4vw;
    font-weight: bold;
    color: black;
    background-color: #bd8a96;
    rotate: -3deg;
  }
  .v_alt {
    position: absolute;
    top: 13.3vw;
    margin: 0vw 54vw 0vw 46vw;
    padding: 0.6vw;
    width: 20.3vw;
    height: 4vw;
    color: #f5f5f5;
    background-color: #427569;
    rotate: -9deg;
  }
  .logo_main {
    position: relative;
    width: 31vw;
    height: 17.2vw;
    background: url(images/logo_pg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 16vw auto;
  }

  // Бегущая строка
  .ticker-wrap {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 5vw;
    width: 100%;
    top: 2vw;
    background-color: #427569;
    overflow: hidden;
    margin: 0 auto;
    white-space: nowrap;
  }
  .ticker {
    display: inline-block;
    animation: take 30s linear infinite;
    height: 5vw;
  }
  @keyframes take {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .item-collection-1 {
    position: relative;
    left: 0%;
    animation: swap 30s linear infinite;
    display: inline-block;
    height: 5vw;
    top: 20%;
  }
  .item-collection-2 {
    position: relative;
    left: 0%;
    animation: swap 30s linear infinite;
    display: inline-block;
    height: 5vw;
    top: 20%;
  }
  @keyframes swap {
    0%,
    50% {
      left: 0%;
    }
    50.01%,
    100% {
      left: 100%;
    }
  }
  .item {
    display: inline-flex;
    align-items: center;
    padding: 0 1vw;
    color: #f5f5f5;
    font-family: 'GolosUIWebRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 1.5vw;
  }
  .arrow {
    height: 3vw;
    width: 3vw;
    background: url(images/arrow_ticker.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 3vw;
  }

  .more {
    margin: 2vw auto 6vw;
    position: relative;
    display: block;
    width: 11.4vw;
    height: 2.9vw;
    background: url(images/button_more.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }

  // Статьи
  .articles {
    position: relative;
    width: 100%;
    height: 62vw;
  }
  .articles h3 {
    margin: 6vw 47vw 2vw 47vw;
    color: #f5f5f5;
    font-weight: bold;
    position: relative;
  }
  .grid_articles {
    position: relative;
    display: grid;
    width: 94vw;
    height: 51vw;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1vw;
    margin: 0vw auto;
  }
  .ar1 {
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    background: url(images/ar1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
  }
  .ar2 {
    grid-column: 7 / 13;
    grid-row: 1 / 2;
    background: url(images/ar2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
  }
  .ar3 {
    grid-column: 13 / 19;
    grid-row: 1 / 2;
    background: url(images/ar3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
  }
  .ar4 {
    grid-column: 19 / 25;
    grid-row: 1 / 2;
    background: url(images/ar4.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
  }
  .ar5 {
    grid-column: 1 / 19;
    grid-row: 2 / 3;
    background: url(images/ar5.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
    font-weight: bold;
  }
  .ar6 {
    grid-column: 19 / 25;
    grid-row: 2 / 3;
    background: url(images/ar6.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
  }
  .filter {
    position: relative;
    width: 20vw;
    margin: 0vw auto;
    margin-top: 16vw;
    display: flex;
    justify-content: space-between;
  }
  .filter h5 {
    position: relative;
  }
  .f_ar5 {
    width: 63vw;
    height: 1vw;
    margin-top: 13vw;
  }
  .title {
    position: relative;
    width: 20vw;
    margin: 0vw auto;
    margin-top: 0.5vw;
    display: flex;
    justify-content: space-between;
  }
  .articles h4 {
    margin: 0 auto;
  }
  .ar5 h1 {
    margin: 1vw 0vw 0vw 3.5vw;
  }

  // Жанры
  .genres {
    position: relative;
    width: 100%;
    height: 34vw;
  }
  .genres h3 {
    margin: 6vw 47vw 2vw 47vw;
    color: #f5f5f5;
    font-weight: bold;
    position: relative;
  }
  .grid_genres {
    position: relative;
    width: 94vw;
    height: 24.9vw;
    margin: 0vw auto;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1vw;
  }
  .ge1 {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    background: url(images/ge1.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ge2 {
    grid-column: 13 / 25;
    grid-row: 1 / 2;
    background: url(images/ge2.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ge3 {
    grid-column: 1 / 13;
    grid-row: 2 / 3;
    background: url(images/ge3.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ge4 {
    grid-column: 13 / 25;
    grid-row: 2 / 3;
    background: url(images/ge4.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ge5 {
    grid-column: 1 / 13;
    grid-row: 3 / 4;
    background: url(images/ge5.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ge6 {
    grid-column: 13 / 25;
    grid-row: 3 / 4;
    background: url(images/ge6.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .postpunk,
  .electro {
    font-family: 'London', sans-serif;
    color: #000000;
    margin: 2vw 0vw;
    width: 46.3vw;
    text-align: center;
  }
  .shoegaze,
  .indierock {
    font-family: 'Romochka', sans-serif;
    color: #000000;
    margin: 2vw 0vw;
    width: 46.3vw;
    text-align: center;
  }
  .punkrock,
  .noiserock {
    font-family: 'Zhizn', sans-serif;
    color: #000000;
    margin: 2vw 0vw;
    width: 46.3vw;
    text-align: center;
  }

  // Исполнители
  .artists {
    position: relative;
    width: 100%;
    height: 32vw;
  }
  .artists h3 {
    margin: 6vw 44vw 2vw 45vw;
    color: #f5f5f5;
    font-weight: bold;
    position: relative;
  }
  .container {
    width: 93.8vw;
    margin: 0 auto;
  }
  .itc-slider {
    position: relative;
  }
  .itc-slider-wrapper {
    overflow: hidden;
  }
  .itc-slider-items {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
    line-height: 4.5vw;
    text-decoration: none;
    gap: 1vw;
  }
  .itc-slider-transition-none {
    transition: none;
  }
  .itc-slider-item {
    flex: 0 0 25%;
    max-width: 93.8vw;
    user-select: none;
    will-change: transform;
    height: 21.2vw;
    background-color: #f5f5f5;
  }
  .itc-slider-item:hover {
    scale: 0.95;
  }
  .itc-slider-item:nth-child(1) {
    background-image: url(images/kedr.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
  }
  .kedr {
    position: absolute;
    width: 20vw;
    height: 4vw;
    background-color: #427569;
    rotate: 9deg;
    bottom: 1vw;
    right: 1vw;
    padding: 0vw 1vw;
  }
  .itc-slider-item:nth-child(2) {
    background-image: url(images/serdobol.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
  }
  .serdobol {
    position: absolute;
    width: 14vw;
    height: 4vw;
    background-color: #bd8a96;
    rotate: 9deg;
    bottom: 1vw;
    right: 1vw;
    padding: 0vw 1vw;
  }
  .itc-slider-item:nth-child(3) {
    background-image: url(images/hadn.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
  }
  .hadndadn {
    position: absolute;
    width: 15vw;
    height: 4vw;
    background-color: #4a6587;
    rotate: 9deg;
    bottom: 1vw;
    right: 1vw;
    padding: 0vw 1vw;
  }
  .itc-slider-item:nth-child(4) {
    background-image: url(images/pasosh.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
  }
  .pasosh {
    position: absolute;
    width: 10vw;
    height: 4vw;
    background-color: #427569;
    rotate: 9deg;
    bottom: 1vw;
    right: 1vw;
    padding: 0vw 1vw;
  }
  .itc-slider-item:nth-child(5) {
    background-image: url(images/sbpch.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
  }
  .sbpch {
    position: absolute;
    width: 8vw;
    height: 4vw;
    background-color: #bd8a96;
    rotate: 9deg;
    bottom: 1vw;
    right: 1vw;
    padding: 0vw 1vw;
  }
  .itc-slider-item:nth-child(6) {
    background-image: url(images/buerak.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
  }
  .buerak {
    position: absolute;
    width: 10vw;
    height: 4vw;
    background-color: #4a6587;
    rotate: 9deg;
    bottom: 1vw;
    right: 1vw;
    padding: 0vw 1vw;
  }
  .itc-slider-item:nth-child(7) {
    background-image: url(images/soyuz.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
  }
  .soyuz {
    position: absolute;
    width: 8vw;
    height: 4vw;
    background-color: #427569;
    rotate: 9deg;
    bottom: 1vw;
    right: 1vw;
    padding: 0vw 1vw;
  }
  .itc-slider-item:nth-child(8) {
    background-image: url(images/sirotkin.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
  }
  .sirotkin {
    position: absolute;
    width: 13vw;
    height: 4vw;
    background-color: #bd8a96;
    rotate: 9deg;
    bottom: 1vw;
    right: 1vw;
    padding: 0vw 1vw;
  }
  /* кнопки влево и вправо */
  .itc-slider-btn {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;
    color: #000;
    text-align: center;
    background: #bd8a96;
    border: none;
    border-radius: 60vw;
    cursor: pointer;
    background-size: 1vw;
  }
  .itc-slider-btn-hide {
    display: none;
  }
  .itc-slider-btn-prev {
    left: -2vw;
    background-image: url(images/arrow_prev.webp);
    background-repeat: no-repeat;
    background-position: center;
  }
  .itc-slider-btn-next {
    right: -2vw;
    background-image: url(images/arrow_next.webp);
    background-repeat: no-repeat;
    background-position: center;
  }
  .itc-slider-btn:hover {
    text-decoration: none;
    background-color: #f5f5f5a0;
    outline: 0;
  }

  /* индикаторы */
  .itc-slider-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    margin: 0 15%;
    padding-left: 0;
    list-style: none;
  }
  .itc-slider-indicator {
    flex: 0 1 auto;
    box-sizing: content-box;
    width: 30px;
    height: 5px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgb(255 255 255 / 50%);
    background-clip: padding-box;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    cursor: pointer;
  }
  .itc-slider-indicator-active {
    background-color: rgb(255 255 255 / 90%);
  }

  // Помоги
  .help {
    position: relative;
    width: 100%;
    height: 29vw;
    margin-top: 5vw;
  }
  .help_block {
    width: 93.8vw;
    height: 16vw;
    background: url(images/help.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
  }
  .help h2 {
    position: relative;
    top: 5vw;
    margin: 0vw auto;
    text-align: center;
  }
  .form {
    position: relative;
    color: #fff;
    width: 83.8vw;
    height: 13vw;
    font-size: 0.9vw;
    margin: 0vw 8vw;
    display: flex;
    align-items: center;
  }
  .my-form {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .form h2 {
    color: #f5f5f5;
    text-align: left;
    top: 0vw;
  }
  .input_block {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 71.9vw;
    height: 5.3vw;
    margin: 0 auto;
  }
  input {
    background: white;
    height: 2.5vw;
    width: 28vw;
    font-size: 0.8vw;
    border: none;
    margin: 0vw 0vw 0vw 18vw;
  }
  .my-form-button {
    height: 2.5vw;
    width: 11vw;
    border: none;
    position: relative;
    color: #f5f5f5;
    background-color: #427569;
    font-size: 1.1vw;
  }

  // Подвал
  footer {
    position: relative;
    background-color: #427569;
    width: 100%;
    height: 23vw;
    bottom: 0vw;
    color: #f5f5f5;
  }
  .text_footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35vw;
    height: 12vw;
    padding: 6vw 0vw 0vw 6vw;
  }
  .text_footer h5 {
    position: relative;
    height: 6vw;
  }
  .icons_footer {
    position: relative;
    width: 87.7vw;
    height: 8vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .hse_logo {
    position: relative;
    width: 10vw;
    height: 4vw;
    background: url(images/hse.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3vw 0vw;
  }
  .socials {
    width: 11.4vw;
    height: 2.7vw;
    margin: 3vw 0vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .tiktok_logo {
    position: relative;
    width: 3vw;
    height: 2.9vw;
    background: url(images/tiktok.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .vk_logo {
    position: relative;
    width: 3vw;
    height: 2.7vw;
    background: url(images/vk.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tg_logo {
    position: relative;
    width: 3vw;
    height: 2.7vw;
    background: url(images/tg.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }

  // Хэдер
  .header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 5vw;
    font-size: 2vw;
    background-color: #000000;
  }
  .logo_header {
    width: 7.2vw;
    height: 4vw;
    background: url(images/logo_pb.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0vw 51vw 0vw 2vw;
  }
  .header a {
    text-decoration: none;
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-style: normal;
    color: #f5f5f5;
  }
  .sections {
    width: 33.1vw;
    height: 1.9vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .search {
    width: 4vw;
    height: 4vw;
    background: url(images/search_icon.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0vw 3vw 0vw 0vw;
  }
  .icons_menu,
  .side_menu_text {
    display: none;
  }
  .menu_mob_icon {
    display: none;
  }
}
@media all and (min-width: 1px) and (max-width: 430px) {
  h1 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-size: 11.6vw;
    position: absolute;
  }
  h2 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-size: 8.9vw;
    position: absolute;
  }
  h3 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-size: 7.9vw;
    position: absolute;
  }
  h4 {
    font-family: 'GolosUIWebRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 4.7vw;
    position: absolute;
  }
  h5 {
    font-family: 'GolosUIWebRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 2.1vw;
    position: absolute;
    line-height: 2.5vw;
  }

  // Главный экран
  .main_screen {
    position: relative;
    width: 100%;
    height: 100%;
    top: 12vw;
    background: url(images/main_bg_mob.webp);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
  }
  .vinyl {
    position: absolute;
    width: 78vw;
    height: 74vw;
    top: -12vw;
    left: 2vw;
    background: url(images/vinyl.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .spin {
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .guitar {
    display: none;
  }
  .tape {
    position: absolute;
    width: 70vw;
    height: 70vw;
    top: 86vw;
    right: -14vw;
    background: url(images/tape_mob.webp);
    background-repeat: no-repeat;
    background-size: cover;
    rotate: 9deg;
  }
  .shake {
    animation: shake 1s linear infinite alternate;
  }
  @keyframes shake {
    0% {
      right: -22vw;
    }
    100% {
      right: -10vw;
    }
  }
  .decor_main {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(images/decor_main_mob.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .text_main {
    position: absolute;
    width: 100%;
    height: 50vw;
  }
  .vrubim {
    position: absolute;
    top: 60.3vw;
    margin: 0vw 55vw 0vw 13vw;
    padding: 0.6vw;
    width: 39.5vw;
    height: 8vw;
    font-weight: bold;
    color: black;
    background-color: #bd8a96;
    rotate: -3deg;
  }
  .v_alt {
    position: absolute;
    top: 63.3vw;
    margin: 0vw 54vw 0vw 40vw;
    padding: 0.6vw;
    width: 53.3vw;
    height: 9vw;
    color: #f5f5f5;
    background-color: #427569;
    rotate: -9deg;
  }
  .logo_main {
    position: relative;
    width: 83vw;
    height: 46.2vw;
    background: url(images/logo_pg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 71vw auto;
  }

  // Бегущая строка
  .ticker-wrap {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 20vw;
    width: 100%;
    top: 2vw;
    background-color: #427569;
    overflow: hidden;
    margin: 0 auto;
    white-space: nowrap;
  }
  .ticker {
    display: inline-block;
    animation: take 30s linear infinite;
    height: 20vw;
  }
  @keyframes take {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .item-collection-1 {
    position: relative;
    left: 0%;
    animation: swap 30s linear infinite;
    display: inline-block;
    height: 20vw;
    top: 40%;
  }
  .item-collection-2 {
    position: relative;
    left: 0%;
    animation: swap 30s linear infinite;
    display: inline-block;
    height: 20vw;
    top: 40%;
  }
  @keyframes swap {
    0%,
    50% {
      left: 0%;
    }
    50.01%,
    100% {
      left: 100%;
    }
  }
  .item {
    display: inline-flex;
    align-items: center;
    padding: 0 1vw;
    color: #f5f5f5;
    font-family: 'GolosUIWebRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 3.5vw;
  }
  .arrow {
    height: 5vw;
    width: 5vw;
    background: url(images/arrow_ticker.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 3vw;
  }

  .block_title {
    position: relative;
    width: 100%;
    display: flex;
  }
  .more_btn {
    position: relative;
    width: 100%;
    display: flex;
  }
  .more {
    margin: 7vw auto 9vw;
    position: relative;
    display: block;
    width: 37vw;
    height: 9.3vw;
    background: url(images/button_more.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }

  // Статьи
  .articles {
    position: relative;
    width: 100%;
    height: 562vw;
  }
  .articles h3 {
    margin: 18vw auto 7vw;
    color: #f5f5f5;
    font-weight: bold;
    position: relative;
  }
  .grid_articles {
    position: relative;
    display: grid;
    width: 71.7vw;
    height: 512.8vw;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 6vw;
    margin: 0vw auto;
  }
  .ar1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background: url(images/ar1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
  }
  .ar2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background: url(images/ar2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
  }
  .ar3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background: url(images/ar3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
  }
  .ar4 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    background: url(images/ar4.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
  }
  .ar5 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    background: url(images/ar5.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
    font-weight: bold;
  }
  .ar6 {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    background: url(images/ar6.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
  }
  .filter {
    position: relative;
    width: 63vw;
    margin: 0vw auto;
    margin-top: 52vw;
    display: flex;
    justify-content: space-between;
  }
  .filter h5 {
    position: relative;
  }
  .f_ar5 {
    position: relative;
    width: 63vw;
    margin: 0vw auto;
    margin-top: 52vw;
    display: flex;
    justify-content: space-between;
  }
  .title {
    position: relative;
    width: 63vw;
    margin: 0vw auto;
    margin-top: 3.5vw;
    display: flex;
    justify-content: space-between;
  }
  .ar5 h1 {
    position: relative;
    width: 63vw;
    margin: 0vw auto;
    margin-top: 3.5vw;
    display: flex;
    justify-content: space-between;
    font-family: 'GolosUIWebRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 4.7vw;
  }

  // Жанры
  .genres {
    position: relative;
    width: 100%;
    height: 198vw;
  }
  .genres h3 {
    margin: 18vw auto 7vw;
    color: #f5f5f5;
    font-weight: bold;
    position: relative;
  }
  .grid_genres {
    position: relative;
    width: 71.7vw;
    height: 149vw;
    margin: 0vw auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 6vw;
  }
  .ge1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background: url(images/ge1_mob.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ge2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background: url(images/ge2_mob.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ge3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background: url(images/ge3_mob.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ge4 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    background: url(images/ge4_mob.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ge5 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    background: url(images/ge5_mob.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ge6 {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    background: url(images/ge6_mob.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .postpunk,
  .electro {
    font-family: 'London', sans-serif;
    color: #000000;
    margin: 5.5vw auto;
    width: 46.3vw;
    text-align: center;
    position: relative;
  }
  .shoegaze,
  .indierock {
    font-family: 'Romochka', sans-serif;
    color: #000000;
    margin: 5.5vw auto;
    width: 46.3vw;
    text-align: center;
    position: relative;
  }
  .punkrock,
  .noiserock {
    font-family: 'Zhizn', sans-serif;
    color: #000000;
    margin: 5.5vw auto;
    width: 46.3vw;
    text-align: center;
    position: relative;
  }

  // Исполнители
  .artists {
    position: relative;
    width: 100%;
    height: 117vw;
  }
  .artists h3 {
    margin: 18vw auto 7vw;
    color: #f5f5f5;
    font-weight: bold;
    position: relative;
  }
  .container {
    width: 72vw;
    margin: 0 auto;
  }
  .itc-slider {
    position: relative;
  }
  .itc-slider-wrapper {
    overflow: hidden;
  }
  .itc-slider-items {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
    line-height: 4.5vw;
    text-decoration: none;
    gap: 6vw;
  }
  .itc-slider-transition-none {
    transition: none;
  }
  .itc-slider-item {
    flex: 0 0 100%;
    max-width: 72vw;
    user-select: none;
    will-change: transform;
    height: 67.5vw;
    background-color: #f5f5f5;
  }
  .itc-slider-item:hover {
    scale: 0.95;
  }
  .itc-slider-item:nth-child(1) {
    background-image: url(images/kedr.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
  }
  .kedr {
    position: absolute;
    width: 51vw;
    height: 9vw;
    background-color: #427569;
    rotate: 9deg;
    bottom: 1vw;
    right: 1vw;
    padding: 3vw 1vw;
  }
  .itc-slider-item:nth-child(2) {
    background-image: url(images/serdobol.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
  }
  .serdobol {
    position: absolute;
    width: 35vw;
    height: 9vw;
    background-color: #bd8a96;
    rotate: 9deg;
    bottom: 1vw;
    right: 1vw;
    padding: 3vw 1vw;
  }
  .itc-slider-item:nth-child(3) {
    background-image: url(images/hadn.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
  }
  .hadndadn {
    position: absolute;
    width: 35vw;
    height: 9vw;
    background-color: #4a6587;
    rotate: 9deg;
    bottom: 1vw;
    right: 1vw;
    padding: 3vw 1vw;
  }
  .itc-slider-item:nth-child(4) {
    background-image: url(images/pasosh.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
  }
  .pasosh {
    position: absolute;
    width: 22vw;
    height: 9vw;
    background-color: #427569;
    rotate: 9deg;
    bottom: 1vw;
    right: 1vw;
    padding: 3vw 1vw;
  }
  .itc-slider-item:nth-child(5) {
    background-image: url(images/sbpch.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
  }
  .sbpch {
    position: absolute;
    width: 16vw;
    height: 9vw;
    background-color: #bd8a96;
    rotate: 9deg;
    bottom: 1vw;
    right: 1vw;
    padding: 3vw 1vw;
  }
  .itc-slider-item:nth-child(6) {
    background-image: url(images/buerak.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
  }
  .buerak {
    position: absolute;
    width: 23vw;
    height: 9vw;
    background-color: #4a6587;
    rotate: 9deg;
    bottom: 1vw;
    right: 1vw;
    padding: 3vw 1vw;
  }
  .itc-slider-item:nth-child(7) {
    background-image: url(images/soyuz.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
  }
  .soyuz {
    position: absolute;
    width: 18vw;
    height: 9vw;
    background-color: #427569;
    rotate: 9deg;
    bottom: 1vw;
    right: 1vw;
    padding: 3vw 1vw;
  }
  .itc-slider-item:nth-child(8) {
    background-image: url(images/sirotkin.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
  }
  .sirotkin {
    position: absolute;
    width: 30vw;
    height: 9vw;
    background-color: #bd8a96;
    rotate: 9deg;
    bottom: 1vw;
    right: 1vw;
    padding: 3vw 1vw;
  }
  /* кнопки влево и вправо */
  .itc-slider-btn {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
    height: 8vw;
    color: #000;
    text-align: center;
    background: #bd8a96;
    border: none;
    border-radius: 60vw;
    cursor: pointer;
    background-size: 1vw;
  }
  .itc-slider-btn-hide {
    display: none;
  }
  .itc-slider-btn-prev {
    left: -2vw;
    background-image: url(images/arrow_prev.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4vw 5vw;
  }
  .itc-slider-btn-next {
    right: -2vw;
    background-image: url(images/arrow_next.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4vw 5vw;
  }
  .itc-slider-btn:hover {
    text-decoration: none;
    background-color: #f5f5f5a0;
    outline: 0;
  }

  /* индикаторы */
  .itc-slider-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    margin: 0 15%;
    padding-left: 0;
    list-style: none;
  }
  .itc-slider-indicator {
    flex: 0 1 auto;
    box-sizing: content-box;
    width: 30px;
    height: 5px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgb(255 255 255 / 50%);
    background-clip: padding-box;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    cursor: pointer;
  }
  .itc-slider-indicator-active {
    background-color: rgb(255 255 255 / 90%);
  }

  // Помоги
  .help {
    position: relative;
    width: 100%;
    height: 136vw;
    margin-top: 18vw;
  }
  .help_block {
    width: 71.9vw;
    height: 63.7vw;
    background: url(images/help_mob.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 3vw;
  }
  .help h2 {
    position: relative;
    top: 5vw;
    margin: 0vw auto;
    text-align: center;
  }
  .form {
    position: relative;
    color: #fff;
    width: 71.9vw;
    height: 55vw;
    font-size: 0.9vw;
    margin: 0vw auto;
    display: flex;
    align-items: center;
  }
  .my-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 71.9vw;
    height: 73vw;
    margin: 0 auto;
  }
  .form h2 {
    color: #f5f5f5;
    padding: 16vw 13vw 8vw 13vw;
  }
  .input_block {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 71.9vw;
    height: 5.3vw;
    margin: 0 auto;
  }
  input {
    background: white;
    height: 5.3vw;
    width: 50vw;
    font-size: 0.8vw;
    border: none;
  }
  .my-form-button {
    height: 5.3vw;
    width: 19.6vw;
    border: none;
    position: relative;
    color: #f5f5f5;
    background-color: #427569;
    font-size: 1.1vw;
  }

  // Подвал
  footer {
    position: relative;
    background-color: #427569;
    width: 100%;
    height: 31vw;
    bottom: 0vw;
    color: #f5f5f5;
  }
  .text_footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
    height: 12vw;
    padding: 6vw 0vw 0vw 6vw;
  }
  .text_footer h5 {
    position: relative;
    height: 6vw;
  }
  .icons_footer {
    position: relative;
    width: 87.7vw;
    height: 8vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .hse_logo {
    position: relative;
    width: 18vw;
    height: 7vw;
    background: url(images/hse.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3vw 0vw;
  }
  .socials {
    width: 28vw;
    height: 2.7vw;
    margin: 3vw 0vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .tiktok_logo {
    position: relative;
    width: 6vw;
    height: 6vw;
    background: url(images/tiktok.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .vk_logo {
    position: relative;
    width: 7vw;
    height: 6.7vw;
    background: url(images/vk.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tg_logo {
    position: relative;
    width: 6vw;
    height: 6vw;
    background: url(images/tg.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }

  // Хэдер и меню мобилка
  .header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 15vw;
    font-size: 2vw;
    background-color: #000000;
  }
  .logo_header {
    width: 15.2vw;
    height: 8.5vw;
    background: url(images/logo_pb.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0vw 51vw 0vw 2vw;
  }
  .header a {
    text-decoration: none;
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-style: normal;
    color: #f5f5f5;
  }
  .sections a {
    display: none;
  }
  .search {
    width: 8vw;
    height: 8vw;
    background: url(images/search_icon.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .none {
    display: none;
  }
  .icons_menu {
    width: 100%;
    height: 8.5vw;
    position: absolute;
    top: 0;
    margin: 3.2vw 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .esc {
    width: 8vw;
    height: 8vw;
    background: url(images/esc_mob.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0vw 2vw 0vw 0vw;
  }
  .menu_mob_icon {
    width: 8vw;
    height: 8vw;
    background: url(images/menu_mob_icon.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0vw 2vw 0vw 0vw;
  }
  .menu_mob {
    height: 100vh;
    position: fixed;
    top: 0;
    transition: all 0.3s ease-in-out;
    width: 100vw;
    z-index: 10;
    background-color: black;
  }
  .side_menu_text {
    display: flex;
    position: absolute;
    top: 35%;
    width: 100%;
    height: 54vw;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }
  .side_menu_text a {
    text-decoration: none;
  }
  .side_menu_text h2 {
    font-weight: bold;
    position: relative;
  }
  .menu_artists {
    position: relative;
    width: 43.3vw;
    height: 9vw;
    color: #000000;
    background-color: #bd8a96;
    padding: 0.6vw;
  }
  .menu_genres {
    position: relative;
    width: 24vw;
    height: 9vw;
    color: #f5f5f5;
    background-color: #427569;
    padding: 0.6vw;
  }
  .menu_articles {
    position: relative;
    width: 24vw;
    height: 9vw;
    color: #f5f5f5;
    background-color: #4a6587;
    padding: 0.6vw;
  }
  .menu_artists:hover,
  .menu_genres:hover,
  .menu_articles:hover {
    scale: 0.95;
  }
}
.bebas_bold {
  font-weight: bold;
}
.h2_london {
  font-family: 'London', sans-serif;
}
img {
  width: 2vw;
  height: 2vw;
}
.socials {
  display: flex;
  gap: 1vw;
}
