html {
  margin: 0px;
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  font-family: 'GolosUIWebRegular';
  font-weight: normal;
  font-style: normal;
  background-color: var(--black);
  overflow-x: hidden;

  // &::before {
  //   height: 177vw;
  //   content: ' ';
  //   background-image: url(images/main.jpg);
  //   position: absolute;
  //   width: 100%;
  //   opacity: 0.3;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  // }

  &.hadndadn,
  &.sbpch,
  &.serdobol,
  &.sirotkin,
  &.sova,
  &.ushko,
  &.yourgenretest {
    background-color: var(--white);
  }
}

.my-form {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.input_block {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 40.9vw;
  margin-top: 4vw;
}
input {
  background: none;
  height: 3vw;
  width: 27vw;
  font-size: 0.8vw;
  border: 0.1vw solid var(--white);
  color: var(--white);
  font-size: 1vw;
  font-family: 'GolosUIWebRegular';
  font-weight: 500;
  padding: 1vw;
}
input::placeholder {
  font-family: 'GolosUIWebRegular';
  font-size: 1vw;
  font-weight: 500;
  opacity: 0.5;
  color: var(--grey);
  padding-left: 0.2vw;
}
.my-form-button {
  height: 3vw;
  width: 12vw;
  border: none;
  position: relative;
  color: var(--black);
  background-color: var(--white);
  font-size: 1vw;
  font-family: 'GolosUIWebRegular';
  font-weight: 500;
  cursor: pointer;
}
.input_search {
  background: none;
  height: 3vw;
  width: 21vw;
  font-size: 0.8vw;
  border: 0.1vw solid var(--white);
  color: var(--white);
  font-size: 1vw;
  font-family: 'GolosUIWebRegular';
  font-weight: 500;
  padding: 1vw;
}
.btn_search {
  height: 3vw;
  width: 5vw;
  border: none;
  position: relative;
  color: var(--black);
  background-color: var(--white);
  font-size: 1vw;
  font-family: 'GolosUIWebRegular';
  font-weight: 500;
  cursor: pointer;
}
.search_icon {
  position: absolute;
  height: 2vw;
  width: 2vw;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: 100%;
  left: 20.7vw;
  top: 0.5vw;
}

// стили дли филтров жанров!
.article.hidden {
  display: none;
  position: relative;
}
.filter-div.selected {
  background-color: var(--green);
  color: var(--white);
}
