<div class="C_Recs_Articles">
  <div class="Recs_text Article_Chapter noHover">ТЕБЕ ПОНРАВИТСЯ:</div>
  <div class="S_Articles_Block Recs_Grid">
    <div class="O_Recs_Grid">
      <a
        href="../articles/newrussianwave.html"
        class="M_ArticleSmall ArticleCard Rec1"
      >
        <div class="W_FilterArticles">
          <p class="A_ArticleType">Статья</p>
          <div class="C_Tags">
            <p class="A_TagGolos">#инди</p>
          </div>
        </div>
        <div class="A_Title">
          <h6 class="A_ArTitleSmall">Новая русская волна – что это?</h6>
        </div>
      </a>
      <a
        href="https://music.yandex.ru/users/na.yan4/playlists/1012"
        class="M_ArticleSmall PlaylistCard Rec2"
      >
        <div class="W_FilterArticles">
          <p class="A_ArticleType">Плейлист</p>
          <div class="C_Tags">
            <p class="A_TagGolos">#пост-панк</p>
            <p class="A_TagGolos">#вайб</p>
          </div>
        </div>
        <div class="A_Title">
          <h6 class="A_ArTitleSmall">Вдохновлено 80-ми</h6>
        </div>
      </a>
      <a
        href="../tests/yourgenretest.html"
        class="M_ArticleSmall TestCard Rec3"
      >
        <div class="W_FilterArticles">
          <p class="A_ArticleType">Тест</p>
          <!-- <div class="C_Tags">
              <p class="A_TagGolos">#вайб</p>
            </div> -->
        </div>
        <div class="A_Title">
          <h6 class="A_ArTitleSmall">Какой ты музыкальный жанр?</h6>
        </div>
      </a>
    </div>
  </div>
</div>
