<div class="C_Recs_Articles">
  <div class="Recs_text Article_Chapter noHover">МОЖЕТ БЫТЬ ИНТЕРЕСНО:</div>
  <div class="S_Articles_Block Recs_Grid">
    <div class="O_Recs_Grid">
      <a
        href="../articles/newrussianwave.html"
        class="M_ArticleSmall ArticleCard Rec1"
      >
        <div class="A_Filter">
          <p class="Q_Type">Статья</p>
          <div class="C_Tags">
            <p class="Q_Tag">#инди</p>
          </div>
        </div>
        <div class="A_Title">
          <h6 class="Q_Title">Новая русская волна – что это?</h6>
        </div>
      </a>
      <a
        href="https://music.yandex.ru/users/na.yan4/playlists/1012"
        class="M_ArticleSmall PlaylistCard Rec2"
      >
        <div class="A_Filter">
          <p class="Q_Type">Плейлист</p>
          <div class="C_Tags">
            <p class="Q_Tag">#пост-панк</p>
            <p class="Q_Tag">#вайб</p>
          </div>
        </div>
        <div class="A_Title">
          <h6 class="Q_Title">Вдохновлено 80-ми</h6>
        </div>
      </a>
      <a
        href="../tests/yourgenretest.html"
        class="M_ArticleSmall TestCard Rec3"
      >
        <div class="A_Filter">
          <p class="Q_Type">Тест</p>
          <!-- <div class="C_Tags">
              <p class="Q_Tag">#вайб</p>
            </div> -->
        </div>
        <div class="A_Title">
          <h6 class="Q_Title">Какой ты музыкальный жанр?</h6>
        </div>
      </a>
    </div>
  </div>
</div>
