<% const {menubar} = require('../menubar.js') %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../images/favicon.svg" />
    <analytics></analytics>
    <title>Бедрум-поп</title>
  </head>
  <body>
    <div class="S_MenuBar"><%= menubar %></div>

    <div class="A_Genre_Bg">
      <div class="M_Genre_Bar">
        <a href="../genres.html" class="A_SecondaryButtonLeft white fixed">
          <div class="Q_ArrowLeftWhite"></div>
          <p class="Q_Arrow_text Q_White">назад</p>
        </a>
        <div class="M_Filter">
          <p class="A_TagBebasArticle">#ЭЛЕКТРОНИКА</p>
          <p class="A_TagBebasArticle">#ИНДИ-ПОП</p>
        </div>
      </div>
      <h1 class="Q_Title_Mixed ArtistName white">
        Б<span class="Mag_Letter">е</span>Др<span class="Mag_Letter">у</span
        >М-п<span class="Mag_Letter">О</span>п
      </h1>
    </div>
    <div class="O_Genre_Body">
      <div class="W_Genres">
        <div class="M_GenreText">
          <h4 class="A_ChapterTitle pinkbg">О ЖАНРЕ</h4>
          <p class="A_ArticleText">
            Бедрум-поп - это относительно молодой жанр музыки, который начал
            активно развиваться в русскоязычном музыкальном пространстве после
            2010 года. Этот жанр сочетает в себе элементы lo-fi звучания,
            электроники, инди-попа и даже немного рэпа, создавая уникальное
            звучание, которое отличается от традиционных жанров. Суть
            заключалась не в определенном месте записи, а в подходе: создание
            простых и запоминающихся песен с минимальным набором инструментов и,
            возможно, в больших объемах. Так называемый "бедрум-поп", описанный
            в статье, появился во второй половине 2010-х годов.
            <br /><br />Размытые мелодии с небрежно исполненными гитарами,
            легким летним ритмом, неопрятными синтезаторами и мечтательной
            атмосферой. Эту атмосферу можно сравнить с неряшливо сделанными
            полароидными снимками или домашними видео на старую камеру. Все это
            создает ощущение легкого хаоса, приятной суматохи, уютных
            воспоминаний и нежности бесконечной юности. Эти описания легко
            применимы к многим попыткам исследования непошлого прошлого
            последних лет, но здесь присутствует больше инфантилизма и нежности.
          </p>
        </div>

        <div class="M_GenreText">
          <h4 class="A_ChapterTitle pinkbg">с чего все началось</h4>
          <p class="A_ArticleText">
            История бедрум-попа в русскоязычной музыке началась с появления ряда
            талантливых исполнителей, которые стали популяризировать этот стиль.
            Одним из первых ярких представителей бедрум-попа в России стал
            исполнитель Noize MC, который сочетал в своих треках легкость
            поп-музыки с социальной направленностью текстов.
            <br /><br />
            С течением времени бедрум-поп стал приобретать все большую
            популярность среди молодых исполнителей и аудитории. Исполнители,
            такие как Хаски, Луна, Pharaoh, IC3PEAK и другие, стали активно
            экспериментировать с этим жанром, добавляя в него свои уникальные
            звучания и тексты.
          </p>
        </div>

        <div class="O_GenreArtists">
          <h4 class="A_ChapterTitle pinkbg">ИСПОЛНИТЕЛИ</h4>
          <div class="C_GenreArtists">
            <div class="M_GenreArtist">
              <!-- ПЕРВЫЙ -->
              <a class="A_ArtistsLink" href="https://vk.com/ooes0">
                <!-- мили иконка -->
                <span>♫♪</span>
                <!-- исполнитель -->
                OOES
              </a>

              <p class="A_ArticleText">
                Молодая и яркая исполнительница. По началу она записывала
                кавер-версии чужих песен, позже стала записывать свои.
              </p>
              <!-- плейлист -->
              <iframe
                frameborder="0"
                style="border-style: none"
                width="100%"
                height="250"
                src="https://zvuk.com/embed/release?id=33158807"
              ></iframe>
            </div>

            <div class="M_GenreArtist">
              <!-- ВТОРОЙ -->
              <a class="A_ArtistsLink" href="https://vk.com/iqw_music">
                <!-- мили иконка -->
                <span>♫♪</span>
                <!-- исполнитель -->
                МЫ
              </a>
              <p class="A_ArticleText">
                Группа, которая создает атмосферную музыку в стиле бедрум-поп с
                элементами электроники и инди. Их треки отличаются глубоким
                звучанием и философскими текстами.
              </p>
              <!-- плейлист -->
              <iframe
                frameborder="0"
                style="border-style: none"
                width="100%"
                height="250"
                src="https://zvuk.com/embed/release?id=33131705"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="M_GenreAbout">
        <div class="W_Key">
          Направление <br /><br /><br />
          Время и место возникновения <br /><br /><br />
          Характер звучания
        </div>
        <div class="W_Value">
          Электроника, инди-поп <br /><br /><br />
          1990-е годы <br /><br /><br /><br /><br />
          Элементы lo-fi звучания, электроники, инди-попа и рэпа
        </div>
      </div>
    </div>
  </body>
  <recommendations></recommendations>

  <div class="O_Footer">
    <a href="./" class="A_Logo"></a>
    <div class="M_Footer_Text">
      <div class="A_Links">
        <div class="Menu">
          <p>Меню</p>
          <a href="./">Главная</a>
          <a href="./artists.html">Исполнители</a>
          <a href="./genres.html">Жанры</a>
          <a href="./materials.html">Материалы</a>
        </div>
        <div class="Made_By">
          <p>Мейд бай</p>
          <a href="https://t.me/pviklz">Аня Коршунова</a>
          <a href="https://t.me/NaaaaYana">Нарыйаана Парникова</a>
          <a href="https://t.me/neamiunis">Лиза Давыдович</a>
        </div>
        <div class="Curated_By">
          <p>Курейтед бай</p>
          <a href="https://t.me/anna_i_dobro">Аня Комкова</a>
          <a href="https://t.me/sonia_kaem">Соня Каем</a>
          <a href="https://t.me/dayglobal">Захар День</a>
        </div>
      </div>
      <div class="A_Socials">
        <a href="https://t.me/vrubim_po_polnoy" class="Q_Socials Telegram"></a>
      </div>
    </div>
  </div>
</html>
