<% const {menubar} = require('../menubar.js') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="../images/favicon.svg" />
  <analytics></analytics>
  <title>Денс-панк</title>
</head>
<body>
  <div class="S_MenuBar"><%= menubar %></div>

  <div class="A_Genre_Bg">
    <div class="M_Genre_Bar">
      <a href="../genres.html" class="A_SecondaryButtonLeft white fixed">
        <div class="Q_ArrowLeftWhite"></div>
        <p class="Q_Arrow_text Q_White">назад</p>
      </a>
      <div class="M_Filter">      
        <p class="A_TagBebasArticle">#ЭЛЕКТРОНИКА </p>
        <p class="A_TagBebasArticle">#ПАНК-РОК</p></div>
    </div>
    <h1 class="Q_Title_Mixed ArtistName white">
      Д<span class="Mag_Letter">е</span>Нс-<span
        class="Mag_Letter"
        >п</span
      >А<span class="Mag_Letter">нК</span>
    </h1>
  </div>
  <div class="O_Genre_Body">
    <div class="M_GenreAbout"></div>
    <div class="M_GenreText">
      <h4 class="A_ChapterTitle pinkbg">О ЖАНРЕ</h4>
      <p class="A_ArticleText">
        Денс-панк - это музыкальный жанр, который сочетает в себе энергию и ритм панк-рока с характерными элементами электронной танцевальной музыки. Он характеризуется быстрыми темпами, агрессивными гитарными риффами и синтезаторными звуками, создавая взрывную и заразительную атмосферу.
      </p>
    </div>

    <div class="M_GenreText">
      <h4 class="A_ChapterTitle pinkbg">с чего все началось</h4>
      <p class="A_ArticleText">
        Многие группы в эпоху пост-панка перешли на более ритмичный, танцевальный темп. Эти группы были созданы под влиянием диско, фанка и другой танцевальной музыки, популярной в то время, а также некоторых работ 70-х годов Дэвида Боуи, Брайана Ино и Игги Попа. 
        <br /><br />
        Когда в 80-х и 90-х техно и хаус стали популярными, некоторые пост-панк-группы под влиянием этого жанра стали добавлять в свои песни элементы этих стилей. Манчестерские группы конца 1980-х, такие, как Happy Mondays, приняли форму альтернативного рока с музыкальной основой рэйв-сцены. Такое развитие событий во многом свойственно для групп стиля брит-поп, таких, как Blur, а также до некоторой степени для электроники Big beat.
        <br /><br />Денс-панк возник в начале 2000-х годов как ответ на желание объединить энергию и агрессию панк-рока с ритмами электронной музыки. Этот жанр был в значительной степени вдохновлен альтернативной клубной сценой и культурой рейва, что отразилось в его звучании и эстетике.
      </p>
    </div>

    <div class="O_GenreArtists">
      <h4 class="A_ChapterTitle pinkbg">ИСПОЛНИТЕЛИ</h4>
      <div class="C_GenreArtists">
        <!-- ПЕРВЫЙ -->
      <p class="Q_H_text">
        <a class="A_ArtistsLink" href="https://band.link/Xrb6j">
          <!-- мили иконка -->
          <span
            style="
              display: inline-block;
              font-size: 1.4vw;
              color: var(--black);
              background: var(--white);
              padding: 0.3vw 0.6vw;
              margin-right: 1vw;
            "
            >♫♪</span
          >
          <!-- исполнитель -->
          TAPENIGHT
        </a>
        
        <p class="A_ArticleText">Недавно появившаяся группа Димки Батарина и Андрея Манолли, бывших участников петербургского коллектива Super Collection Orchestra.</p>
        <!-- плейлист -->
        <iframe frameborder="0" style="border-style: none;"
        width="100%" height='250' src="https://zvuk.com/embed/release?id=31009259" ></iframe>
      </p>

      <!-- ВТОРОЙ -->
      <p class="Q_H_text">
        <a class="A_ArtistsLink" href="https://vk.com/parkssquaresandalleys">
          <!-- мили иконка -->
          <span
            style="
              display: inline-block;
              font-size: 1.4vw;
              color: var(--black);
              background: var(--white);
              padding: 0.3vw 0.6vw;
              margin-right: 1vw;
            "
            >♫♪</span
          >
          <!-- исполнитель -->
          ЗАРНИЦА
        </a>

        <p class="A_ArticleText">Дэнс-панк квартет, состоящий из журналиста, айтишника, специалиста по рекламе и владельца одного из минских баров.</p>
          <!-- плейлист -->
          <iframe frameborder="0" style="border-style: none;"
          width="100%" height='450' src="https://zvuk.com/embed/release?id=18779151" ></iframe>
        </p>
      </div>
  

      </div>
    </div>
    <recommendations></recommendations>
    <!-- <div class="O_Header">
      <div class="M_HeaderText">
        <a href="../" class="A_Logo"></a>
        <div class="A_Header_Text">
          <a href="../artists.html" class="Q_Menu_Text1">ИСПОЛНИТЕЛИ</a>
          <a href="../genres.html" class="Q_Menu_Text2">ЖАНРЫ</a>
          <a href="../materials.html" class="Q_Menu_Text3">МАТЕРИАЛЫ</a>
        </div>
      </div>

      <div class="A_Search_bar">
        <input type="text" class="input_search" placeholder="Поиск" />
        <button class="btn_search">Найти</button>
      </div>
      <div class="menu_mob_icon"></div>
    </div> -->

    <basement></basement>

  </body>
  </html>