<% const {menubar} = require('../menubar.js') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="../images/favicon.svg" />
  <analytics></analytics>
  <title>Хаус</title>
</head>
<body>
  <div class="S_MenuBar"><%= menubar %></div>

  <div class="A_Genre_Bg">
    <div class="M_Genre_Bar">
      <a href="../genres.html" class="A_SecondaryButtonLeft white fixed">
        <div class="Q_ArrowLeftWhite"></div>
        <p class="Q_Arrow_text Q_White">назад</p>
      </a>
      <div class="M_Filter">      
        <p class="A_TagBebasArticle">#ЭЛЕКТРОНИКА </p>
      </div>
    </div>
    <h1 class="Q_Title_Mixed ArtistName white">
      <span class="Mag_Letter">ха</span>У<span
        class="Mag_Letter"
        >с</span
      ><span class="Mag_Letter"></span>
    </h1>
  </div>
  <div class="O_Genre_Body">
    <div class="M_GenreAbout"></div>
    <div class="M_GenreText">
      <h4 class="A_ChapterTitle pinkbg">О ЖАНРЕ</h4>
      <p class="A_ArticleText">
        Хаус - это производный жанр танцевальных стилей ранней эры пост-диско конца 1970-х годов, однако стиль набрал популярность лишь в конце 1980-х. Основным отличием музыки хаус является повторяемый ритм-бит, обычно в размере 4/4, и семплинг — работа со звуковыми вставками, которые повторяются время от времени в музыке, частично совпадая с её ритмом.
      </p>
    </div>

    <div class="M_GenreText">
      <h4 class="A_ChapterTitle pinkbg">с чего все началось</h4>
      <p class="A_ArticleText">
        Этот жанр появился в 80-х в Чикаго, когда люди уже устали от везде играющего диско. В тот момент молодой диджей Фрэнки Наклз смешивал классическое диско с европейским синти-попом, добавляя к этому свои собственные ритмы при помощи драм-машины Roland 909. Его музыка играла в чикагском клубе "Warehouse", от которого жанр и получил свое название. Вокальные семплы в хаусе используются, но довольно редко и не перетягивают на себя внимание. В классическом хаусе поется о любви, танцах и сексе — продолжение традиций диско и фанка налицо. Использование вокала в качестве семплов, как еще одного инструмента — особенность именно чикагского хауса. Первым хаус-треком считается «On and on» Джесси Сондерса.
        <br /><br />
        В Чикаго термин хаус быстро стал обозначать всё то, что являлось полной противоположностью музыки, звучавшей в эфирах коммерческих радиостанций. Говоря «house», подразумевали что-то некоммерческое и только для «избранных».
        <br /><br />К концу 80-х house вырвался из среды андерграунд-клубов в таких городах, как Чикаго, Нью-Йорк и Лондон и стал пробиваться в европейские поп-чарты. Утвердившись в чартах, house расслоился на несколько под-жанров, таких как hip-house, ambient house, и наиболее заметный, acid house. В 90-е house все еще оставался популярным в клубах Америки и Европы, а новая волна исполнителей progressive house вдохнула жизнь в этот стиль. Под конец 90-х произошло настоящее возрождение этого стиля.
        <br /><br />В русскоязычной музыкальной индустрии хаус стал популярным в начале 2000-х годов, когда клубная культура начала активно развиваться в странах СНГ. Российские ди-джеи и продюсеры начали создавать собственные треки в стиле хаус, привнося свой собственный вклад в мировую электронную сцену. Этот жанр присутствует в творчестве многих современных артистов из-за популярности клубной культуры.
      </p>
    </div>

    <div class="O_GenreArtists">
      <h4 class="A_ChapterTitle pinkbg">ИСПОЛНИТЕЛИ</h4>
      <div class="C_GenreArtists">
        <!-- ПЕРВЫЙ -->
      <p class="Q_H_text">
        <a class="A_ArtistsLink" href="https://vk.com/creamsoda">
          <!-- мили иконка -->
          <span
            style="
              display: inline-block;
              font-size: 1.4vw;
              color: var(--black);
              background: var(--white);
              padding: 0.3vw 0.6vw;
              margin-right: 1vw;
            "
            >♫♪</span
          >
          <!-- исполнитель -->
          CREAM SODA
        </a>
        
        <p class="A_ArticleText">Российская электронная музыкальная группа, основанная в 2012 году Ильей Гадаевым и Дмитрием Свиргуновым.</p>
        <!-- плейлист -->
        <iframe frameborder="0" style="border-style: none;"
        width="100%" height='250' src="https://zvuk.com/embed/release?id=31789234" ></iframe>
      </p>

      <!-- ВТОРОЙ -->
      <p class="Q_H_text">
        <a class="A_ArtistsLink" href="https://vk.com/loudhouse">
          <!-- мили иконка -->
          <span
            style="
              display: inline-block;
              font-size: 1.4vw;
              color: var(--black);
              background: var(--white);
              padding: 0.3vw 0.6vw;
              margin-right: 1vw;
            "
            >♫♪</span
          >
          <!-- исполнитель -->
          ЛАУД
        </a>

        <p class="A_ArticleText">Электронная группа из Уфы. Группа состоит из 3-х участников: Виталий Александров (Taly), Рамиль Абдеев (Goddeem) и Сергей Куликов (Smith).</p>
          <!-- плейлист -->
          <iframe frameborder="0" style="border-style: none;"
          width="100%" height='250' src="https://zvuk.com/embed/release?id=31775817" ></iframe>
        </p>
  
        <p class="Q_H_text">
          <a class="A_ArtistsLink" href="https://vk.com/zabelinofficial">
            <span
              style="
                display: inline-block;
                font-size: 1.4vw;
                color: var(--black);
                background: var(--white);
                padding: 0.3vw 0.6vw;
                margin-right: 1vw;
              "
              >♫♪</span
            >
            Nikita Zabelin
          </a>
    
          <p class="A_ArticleText">Российский диджей и продюсер, активно работающий в жанре техно и хаус, один из главных представителей российского электронного андеграунда.</p>
          <iframe frameborder="0" style="border-style: none;"
          width="100%" height='450' src="https://zvuk.com/embed/release?id=27476637" ></iframe>
        </p>
      </div>
      </div>
    </div>
    <recommendations></recommendations>
    <basement></basement>

  </body>
  </html>