<% const {menubar} = require('../menubar.js') %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../images/favicon.svg" />
    <analytics></analytics>
    <title>Инди-рок</title>
  </head>
  <body>
    <div class="S_MenuBar"><%= menubar %></div>

    <div class="A_Genre_Bg bggreen">
      <div class="M_Genre_Bar">
        <a href="../genres.html" class="A_SecondaryButtonLeft white fixed">
          <div class="Q_ArrowLeftWhite"></div>
          <p class="Q_Arrow_text Q_White">назад</p>
        </a>
        <div class="M_Filter">
          <p class="A_TagBebasArticle">#ИНДИ</p>
          <p class="A_TagBebasArticle">#РОК</p>
        </div>
      </div>
      <h1 class="Q_Title_Mixed ArtistName white">
        И<span class="Mag_Letter">н</span>Д<span class="Mag_Letter">и</span
        >-Р<span class="Mag_Letter">ок</span>
      </h1>
    </div>
    <div class="O_Genre_Body">
      <div class="W_Genres">
        <div class="M_GenreText">
          <h4 class="A_ChapterTitle pinkbg">О ЖАНРЕ</h4>
          <p class="A_ArticleText">
            Инди-рок представляет собой музыкальный жанр, прославившийся своей
            независимостью от коммерческих трендов, свободой творчества и
            оригинальным звучанием. В русскоязычной музыкальной сцене инди-рок
            занимает значимое место, обладая собственной историей и множеством
            талантливых исполнителей. Инди-группы часто сочетают в своем
            звучании мягкий рок с элементами брит-попа, что стало привычным
            явлением для этого жанра.
          </p>
        </div>
        <div class="M_GenreText">
          <h4 class="A_ChapterTitle pinkbg">с чего все началось</h4>
          <p class="A_ArticleText">
            Инди-рок как жанр начал формироваться в 1970-х и 1980-х годах в
            Великобритании и США. Он представлял собой ответ на коммерциализацию
            рока и стремление музыкантов сохранить свою независимость и
            оригинальность. Группы и исполнители инди-рока часто выпускали свою
            музыку на независимых лейблах, организовывали свои концерты и
            фестивали, а также активно участвовали в андеграундной культуре.
            <br /><br />
            В русскоязычной музыкальной индустрии инди-рок стал популярным в
            1990-х годах. Он стал площадкой для творчества молодых музыкантов,
            желающих выразить свои идеи и чувства в независимом формате.
            Российские группы инди-рока часто испытывали сложности с
            продвижением своей музыки из-за ограничений в индустрии и отсутствия
            поддержки со стороны медиа.
          </p>
        </div>
        <div class="O_GenreArtists">
          <h4 class="A_ChapterTitle pinkbg">ИСПОЛНИТЕЛИ</h4>
          <div class="C_GenreArtists">
            <div class="M_GenreArtist">
              <!-- ПЕРВЫЙ -->
              <a class="A_ArtistsLink" href="https://vk.com/redsamara">
                <!-- мили иконка -->
                <span>♫♪</span>
                <!-- исполнитель -->
                RSAC
              </a>

              <p class="A_ArticleText">
                RSAC расшифровывается как Red Samara Automobile Club. Это
                музыкальный проект, созданный Феликсом Бондаревым. В коллектив
                также входят артисты Tesla Boy, Mana Island и певица из Донецка
                под псевдонимом Ella.
              </p>
              <!-- плейлист -->
              <iframe
                frameborder="0"
                style="border-style: none"
                width="100%"
                height="450"
                src="https://zvuk.com/embed/release?id=15359901"
              ></iframe>
            </div>

            <div class="M_GenreArtist">
              <!-- ВТОРОЙ -->
              <a
                class="A_ArtistsLink"
                href="https://vk.com/buerak_vsegda_anshlag"
              >
                <!-- мили иконка -->
                <span>♫♪</span>
                <!-- исполнитель -->
                БУЕРАК
              </a>
              <p class="A_ArticleText">
                Музыкальная группа из России, основанная в 2015 году.
              </p>
              <!-- плейлист -->
              <iframe
                frameborder="0"
                style="border-style: none"
                width="100%"
                height="250"
                src="https://zvuk.com/embed/release?id=8642109"
              ></iframe>
            </div>

            <div class="M_GenreArtist">
              <a class="A_ArtistsLink" href="https://vk.com/pornopunk">
                <span>♫♪</span>
                ПОРНОФИЛЬМЫ
              </a>
              <p class="A_ArticleText">
                Российская музыкальная группа, основанная в Москве в 2012 году.
              </p>
              <iframe
                frameborder="0"
                style="border-style: none"
                width="100%"
                height="450"
                src="https://zvuk.com/embed/release?id=5845388"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="M_GenreAbout">
        <div class="W_Key">
          Направление <br /><br /><br />
          Время и место возникновения <br /><br /><br />
          Характер звучания
        </div>
        <div class="W_Value">
          Инди, рок <br /><br /><br />
          Великобритания, США, 1970-1980-е годы <br /><br /><br /><br /><br />
          Мягкий рок с элементами брит-попа
        </div>
      </div>
    </div>
  </body>

  <recommendations></recommendations>
  <basement></basement>
</html>
