<% const {menubar} = require('../menubar.js') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="../images/favicon.svg" />
  <analytics></analytics>
  <title>Лоу-фай</title>
</head>
<body>
  <div class="S_MenuBar"><%= menubar %></div>

  <div class="A_Genre_Bg bggreen">
    <div class="M_Genre_Bar">
      <a href="../genres.html" class="A_SecondaryButtonLeft white fixed">
        <div class="Q_ArrowLeftWhite"></div>
        <p class="Q_Arrow_text Q_White">назад</p>
      </a>
      <div class="M_Filter">      
        <p class="A_TagBebasArticle">#ЭЛЕКТРОНИКА </p>
      </div>
    </div>
    <h1 class="Q_Title_Mixed ArtistName white">
      Л<span class="Mag_Letter">оУ</span>ф<span
        class="Mag_Letter"
        >а</span
      >Й<span class="Mag_Letter"></span>
    </h1>
  </div>
  <div class="O_Genre_Body">
    <div class="M_GenreAbout"></div>
    <div class="M_GenreText">
      <h4 class="A_ChapterTitle pinkbg">О ЖАНРЕ</h4>
      <p class="A_ArticleText">
        Лоуфай (от английского "low fidelity" - низкая фидельность) - это жанр музыки, насыщенный шумами, треском, искажениями и другими аспектами, которые обычно считаются недостатками записи. Однако именно эти артефакты придают музыке лоуфай ее характерный шарм и аутентичность.
      </p>
    </div>

    <div class="M_GenreText">
      <h4 class="A_ChapterTitle pinkbg">с чего все началось</h4>
      <p class="A_ArticleText">
        Основателями лоуфая считается инди-рок группа Pavement. Их бунтарский характер выдает и их имидж, и политика антипромоушена. Достаточно взглянуть на самих ребят, а также на обложки их альбомов — и вот он, стиль настоящих лоу-фай 90-х: нонконформизм, хулиганский внешний вид и рисунки на фронтальной стороне диска, больше напоминающие примитивные детские рисунки.  
        В СССР первой группой, играющей лоуфай была «ДК», основанная в 1980 году Сергеем Жариковым. «ДК» считаются не только пионерами экспериментальной музыки, но и основоположниками отечественного лоу-фая.
        <br /><br />
        В последние несколько лет лоуфай приобрел популярность, как идеальная музыка на фон. Под нее можно учиться, работать, гулять. Лоуфай расслабляет, вызывает хорошие эмоции, а наличие искажений в дорожке добавляет ностальгическое настроение. Эта музыка легкая, ламповая, и атмосферная. 
      </p>
    </div>

    <div class="O_GenreArtists">
      <h4 class="A_ChapterTitle pinkbg">ИСПОЛНИТЕЛИ</h4>
      <div class="C_GenreArtists">
        <!-- ПЕРВЫЙ -->
      <p class="Q_H_text">
        <a class="A_ArtistsLink" href="https://vk.com/kedr_livankskiy">
          <!-- мили иконка -->
          <span
            style="
              display: inline-block;
              font-size: 1.4vw;
              color: var(--black);
              background: var(--white);
              padding: 0.3vw 0.6vw;
              margin-right: 1vw;
            "
            >♫♪</span
          >
          <!-- исполнитель -->
          KEDR LIVANSKIY
        </a>
        
        <p class="A_ArticleText">Проект Яны Кедриной, одной из главных звезд российской независимой электроники, продюсера и диджея. В своем творчестве она не боится быть наивной, умело балансируя между нетривиальным видением и танцевальными ритмами. </p>
        <!-- плейлист -->
        <iframe frameborder="0" style="border-style: none;"
        width="100%" height='450' src="https://zvuk.com/embed/release?id=30121061" ></iframe>
      </p>

      <!-- ВТОРОЙ -->
      <p class="Q_H_text">
        <a class="A_ArtistsLink" href="https://vk.com/soft.blade">
          <!-- мили иконка -->
          <span
            style="
              display: inline-block;
              font-size: 1.4vw;
              color: var(--black);
              background: var(--white);
              padding: 0.3vw 0.6vw;
              margin-right: 1vw;
            "
            >♫♪</span
          >
          <!-- исполнитель -->
          SOFT BLADE
        </a>

        <p class="A_ArticleText">Музыкальный соло проект Виолетты Шабаш, рассказывающий о поисках себя, истины и красоты, а также встречи с загадками на этом пути.</p>
          <!-- плейлист -->
          <iframe frameborder="0" style="border-style: none;"
          width="100%" height='450' src="https://zvuk.com/embed/release?id=19936822" ></iframe>
        </p>
  
        <p class="Q_H_text">
          <a class="A_ArtistsLink" href="https://vk.com/taluik">
            <span
              style="
                display: inline-block;
                font-size: 1.4vw;
                color: var(--black);
                background: var(--white);
                padding: 0.3vw 0.6vw;
                margin-right: 1vw;
              "
              >♫♪</span
            >
            ТАЛЬНИК
          </a>
    
          <p class="A_ArticleText">Российская музыкальная группа. «Тальник» привлёк внимание музыкальной прессы и стал одним из самых любимых критиками российских коллективов 2010-х.</p>
          <iframe frameborder="0" style="border-style: none;"
          width="100%" height='450' src="https://zvuk.com/embed/release?id=27561699" ></iframe>
        </p>
      </div>
      </div>
    </div>
    <recommendations></recommendations>
    <basement></basement>

  </body>
  </html>