<% const {menubar} = require('../menubar.js') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="../images/favicon.svg" />
  <analytics></analytics>
  <title>Нойз-рок</title>
</head>
<body>
  <div class="S_MenuBar"><%= menubar %></div>

  <div class="A_Genre_Bg">
    <div class="M_Genre_Bar">
      <a href="../genres.html" class="A_button_secondary_next">
        <div class="Q_ArrowLeftWhite"></div>
        <p class="Q_Arrow_text Q_White">назад</p>
      </a>
      <p class="Q_Tag_Genre_Article">#РОК #ЭКСПРЕРИМЕНТАЛЬНОЕ</p>
    </div>
    <h1 class="Q_Title_Mixed h1genre">
      Н<span class="Mag_Letter h1genre">O</span>йз-<span
        class="Mag_Letter h1genre"
        >p</span
      >О<span class="Mag_Letter h1genre">К</span>
    </h1>
  </div>
  <div class="O_Genre_Body">
    <div class="Genre_Card"></div>
    <div class="A_Text_Block">
      <h4 class="A_ChapterTitle pinkbg">О ЖАНРЕ</h4>
      <p class="Q_P_text">
        Нойз-рок – это жанр музыки, который характеризуется экспериментальным звучанием, агрессивными гитарными риффами, шумами и дисторшеном. Он часто ассоциируется с хаосом, неординарностью и отклонением от традиционных музыкальных структур. В контексте русскоязычной музыки после 2010 года нойз-рок стал одним из самых интересных и экспериментальных направлений, привлекающих внимание аудитории своей оригинальностью и атмосферой.
      </p>
    </div>

    <div class="A_Text_Block">
      <h4 class="A_ChapterTitle pinkbg">с чего все началось</h4>
      <p class="Q_P_text">
        История нойз-рока в России начала активно развиваться в начале 2000-х годов, когда молодые музыканты начали экспериментировать с гитарными звуками, шумами и нестандартными композиционными приемами. Они стремились создать музыку, которая вызывает эмоциональный отклик и заставляет слушателя задуматься. С течением времени нойз-рок стал все более популярным в русскоязычном музыкальном сообществе, привлекая как любителей экспериментальной музыки, так и широкую аудиторию.
        
      </p>
    </div>

    <div class="A_Text_Block">
      <h4 class="A_ChapterTitle pinkbg">ИСПОЛНИТЕЛИ</h4>
      <!-- ПЕРВЫЙ -->
      <p class="Q_H_text">
        <a class="Q_h5" href="https://band.link/Xrb6j">
          <!-- мили иконка -->
          <span
            style="
              display: inline-block;
              font-size: 1.4vw;
              color: var(--black);
              background: var(--white);
              padding: 0.3vw 0.6vw;
              margin-right: 1vw;
            "
            >♫♪</span
          >
          <!-- исполнитель -->
          ГШ (Glintshake)
        </a>
        
        <p class="Q_P_text">Коллектив, который создает мрачные и атмосферные композиции в стиле нойз-рока с элементами панка и пост-панка. Их музыка отличается сложной структурой и глубокими текстами.</p>
        <!-- плейлист -->
        <iframe frameborder="0" style="border-style: none;"
        width="100%" height='450' src="https://zvuk.com/embed/release?id=7464602" ></iframe>
      </p>

      <!-- ВТОРОЙ -->
      <p class="Q_H_text">
        <a class="Q_h5" href="https://vk.com/parkssquaresandalleys">
          <!-- мили иконка -->
          <span
            style="
              display: inline-block;
              font-size: 1.4vw;
              color: var(--black);
              background: var(--white);
              padding: 0.3vw 0.6vw;
              margin-right: 1vw;
            "
            >♫♪</span
          >
          <!-- исполнитель -->
          MOTHERFATHERS
        </a>

        <p class="Q_P_text">Авангардный гаражный панк в сочетании с индустриальным нойзом, психоделической импровизацией и отсутствием волны? Примерно так звучит эта российская группа». Crucial Blast, USA.</p>
          <!-- плейлист -->
          <iframe frameborder="0" style="border-style: none;"
          width="100%" height='450' src="https://zvuk.com/embed/release?id=27276470" ></iframe>
        </p>
  
        <p class="Q_H_text">
          <a class="Q_h5" href="https://vk.com/aerofall_official">
            <span
              style="
                display: inline-block;
                font-size: 1.4vw;
                color: var(--black);
                background: var(--white);
                padding: 0.3vw 0.6vw;
                margin-right: 1vw;
              "
              >♫♪</span
            >
            JARS
          </a>
    
          <p class="Q_P_text">Гру­ппа JARS образовалась в 2011 году в г. Москва. Ис­пол­няет му­зы­ку в стиле noise rock/post-hardcore в лу­чших тра­ди­циях лейб­ла Amphetamine Reptile Records. Один из немногих российских проектов, успешно гастролирующих по Европе.</p>
          <iframe frameborder="0" style="border-style: none;"
          width="100%" height='450' src="https://zvuk.com/embed/release?id=19274793" ></iframe>
        </p>
      </div>
    </div>
    <recommendations></recommendations>
    <!-- <div class="O_Header">
      <div class="M_HeaderText">
        <a href="../" class="A_Logo"></a>
        <div class="A_Header_Text">
          <a href="../artists.html" class="Q_Menu_Text1">ИСПОЛНИТЕЛИ</a>
          <a href="../genres.html" class="Q_Menu_Text2">ЖАНРЫ</a>
          <a href="../materials.html" class="Q_Menu_Text3">МАТЕРИАЛЫ</a>
        </div>
      </div>

      <div class="A_Search_bar">
        <input type="text" class="input_search" placeholder="Поиск" />
        <button class="btn_search">Найти</button>
      </div>
      <div class="menu_mob_icon"></div>
    </div> -->

    <div class="O_Footer">
      <div class="M_Form">
        <a href="../" class="A_Logo"></a>
        <div class="A_Form_Input">
          <h4 class="A_ChapterTitle">
            ПОМОГИ НАМ РАССКАЗЫВАТЬ ГРОМЧЕ <br />
            О ТВОИХ ЛЮБИМЫХ ИСПОЛНИТЕЛЯХ, ВРУБАЙСЯ!
          </h4>
          <form
            class="my-form"
            action="https://formspree.io/f/xdorbvzr"
            method="POST"
          >
            <div class="input_block">
              <input type="text" name="text" placeholder="Твой ник в tg" />
              <button class="my-form-button">Подписаться</button>
            </div>
            <p id="my-form-status"></p>
          </form>
        </div>
      </div>
      <div class="M_Footer_Text">
        <div class="A_Links">
          <div class="Menu">
            <p>Меню</p>
            <a href="../">Главная</a>
            <a href="../artists.html">Исполнители</a>
            <a href="../genres.html">Жанры</a>
            <a href="../materials.html">Материалы</a>
          </div>
          <div class="Made_By">
            <p>Мейд бай</p>
            <a href="https://t.me/pviklz">Аня Коршунова</a>
            <a href="https://t.me/NaaaaYana">Нарыйаана Парникова</a>
            <a href="https://t.me/neamiunis">Лиза Давыдович</a>
          </div>
          <div class="Curated_By">
            <p>Курейтед бай</p>
            <a href="https://t.me/anna_i_dobro">Аня Комкова</a>
            <a href="https://t.me/sonia_kaem">Соня Каем</a>
            <a href="https://t.me/dayglobal">Захар День</a>
          </div>
        </div>
        <div class="A_Socials">
          <a href="" class="Q_Socials Vk"></a>
          <a href="" class="Q_Socials Tiktok"></a>
          <a href="" class="Q_Socials Telegram"></a>
        </div>
      </div>
    </div>
  </body>
  </html>