<% const {menubar} = require('../menubar.js') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="../images/favicon.svg" />
  <analytics></analytics>
  <title>Поп-рок</title>
</head>
<body>
  <div class="S_MenuBar"><%= menubar %></div>

  <div class="A_Genre_Bg">
    <div class="M_Genre_Bar">
      <a href="../genres.html" class="A_SecondaryButtonLeft white fixed">
        <div class="Q_ArrowLeftWhite"></div>
        <p class="Q_Arrow_text Q_White">назад</p>
      </a>
      <div class="M_Filter">      
        <p class="A_TagBebasArticle">#ПОП </p>
        <p class="A_TagBebasArticle">#РОК</p></div>
    </div>
    <h1 class="Q_Title_Mixed ArtistName white">
      <span class="Mag_Letter">П</span>оп<span
        class="Mag_Letter"
        >-Р</span
      >о<span class="Mag_Letter">к</span>
    </h1>
  </div>
  <div class="O_Genre_Body">
    <div class="M_GenreAbout"></div>
    <div class="M_GenreText">
      <h4 class="A_ChapterTitle pinkbg">О ЖАНРЕ</h4>
      <p class="A_ArticleText">
        Поп-рок — это музыкальный жанр, который сочетает в себе элементы поп-музыки и рока. В поп-роке обычно присутствуют мелодичные и легко запоминающиеся мелодии, характерные для поп-музыки, с элементами рок-музыки, такими как энергичные гитарные рифы, ударные и бас-линии. Этот жанр часто отличается динамичным звучанием, акцентом на мелодии и тексты, которые могут касаться широкого диапазона тем, от личных эмоций до социальных и политических вопросов. 
      </p>
    </div>

    <div class="M_GenreText">
      <h4 class="A_ChapterTitle pinkbg">с чего все началось</h4>
      <p class="A_ArticleText">
        Истоки поп-рока уходят в середину 20-го века, когда поп-музыка и рок-н-ролл стали широко популярными жанрами. Первые проявления поп-рока можно увидеть в работах таких артистов, как Элвис Пресли, Битлз и Битлз. Со временем этот жанр стал все более популярным, привлекая внимание музыкантов и слушателей со всего мира.
        <br /><br />
        В русскоязычной музыкальной индустрии поп-рок стал популярным в 1980-х и 1990-х годах. Исполнители этого жанра часто получали широкое признание благодаря своим мелодичным композициям, проникнутым энергией и позитивом. В последние десятилетия поп-рок продолжает оставаться одним из самых востребованных жанров в русскоязычной музыкальной индустрии, привлекая внимание как молодых, так и более опытных музыкантов.
      </p>
    </div>

    <div class="O_GenreArtists">
      <h4 class="A_ChapterTitle pinkbg">ИСПОЛНИТЕЛИ</h4>
      <div class="C_GenreArtists">
        <!-- ПЕРВЫЙ -->
      <p class="Q_H_text">
        <a class="A_ArtistsLink" href="https://band.link/Xrb6j">
          <!-- мили иконка -->
          <span
            style="
              display: inline-block;
              font-size: 1.4vw;
              color: var(--black);
              background: var(--white);
              padding: 0.3vw 0.6vw;
              margin-right: 1vw;
            "
            >♫♪</span
          >
          <!-- исполнитель -->
          ЭЛЕКТРОФОРЕЗ
        </a>
        
        <p class="A_ArticleText">Российская музыкальная группа, основанная в 2003 году в городе Санкт-Петербурге.</p>
        <!-- плейлист -->
        <iframe frameborder="0" style="border-style: none;"
        width="100%" height='450' src="https://zvuk.com/embed/release?id=16232432" ></iframe>
      </p>

      <!-- ВТОРОЙ -->
      <p class="Q_H_text">
        <a class="A_ArtistsLink" href="https://vk.com/parkssquaresandalleys">
          <!-- мили иконка -->
          <span
            style="
              display: inline-block;
              font-size: 1.4vw;
              color: var(--black);
              background: var(--white);
              padding: 0.3vw 0.6vw;
              margin-right: 1vw;
            "
            >♫♪</span
          >
          <!-- исполнитель -->
          НЕСОГЛАСИЕ
        </a>

        <p class="A_ArticleText">Российская рок-группа, сформированная в 2016 году в Москве. Группа играет в жанре поп-рок с элементами альтернативного рока и пост-панка. </p>
          <!-- плейлист -->
          <iframe frameborder="0" style="border-style: none;"
          width="100%" height='450' src="https://zvuk.com/embed/release?id=24113033" ></iframe>
        </p>
  
        <p class="Q_H_text">
          <a class="A_ArtistsLink" href="https://vk.com/aerofall_official">
            <span
              style="
                display: inline-block;
                font-size: 1.4vw;
                color: var(--black);
                background: var(--white);
                padding: 0.3vw 0.6vw;
                margin-right: 1vw;
              "
              >♫♪</span
            >
            НОНКОНФОРМИСТКА
          </a>
    
          <p class="A_ArticleText">Российская исполнительница Мария Непорожняя, первый альбом вышел в 2018 году.</p>
          <iframe frameborder="0" style="border-style: none;"
          width="100%" height='450' src="https://zvuk.com/embed/release?id=16132250" ></iframe>
        </p>
      </div>
      </div>
    </div>
    <recommendations></recommendations>
    <div class="O_Footer">
      <a href="/" class="A_Logo"></a>
      <div class="M_Footer_Text">
        <div class="A_Links">
          <div class="Menu">
            <p>Меню</p>
            <a href="/">Главная</a>
            <a href="/artists.html">Исполнители</a>
            <a href="/genres.html">Жанры</a>
            <a href="/materials.html">Материалы</a>
          </div>
          <div class="Made_By">
            <p>Мейд бай</p>
            <a href="https://t.me/pviklz">Аня Коршунова</a>
            <a href="https://t.me/NaaaaYana">Нарыйаана Парникова</a>
            <a href="https://t.me/neamiunis">Лиза Давыдович</a>
          </div>
          <div class="Curated_By">
            <p>Курейтед бай</p>
            <a href="https://t.me/anna_i_dobro">Аня Комкова</a>
            <a href="https://t.me/sonia_kaem">Соня Каем</a>
            <a href="https://t.me/dayglobal">Захар День</a>
          </div>
        </div>
        <div class="A_Socials">
          <a
            href="https://t.me/vrubim_po_polnoy"
            class="Q_Socials Telegram"
          ></a>
        </div>
      </div>
    </div>

  </body>
  </html>