<% const {menubar} = require('../menubar.js') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="../images/favicon.svg" />
  <analytics></analytics>
  <title>Психоделический рок</title>
</head>
<body>
  <div class="S_MenuBar"><%= menubar %></div>

  <div class="A_Genre_Bg">
    <div class="M_Genre_Bar">
      <a href="../genres.html" class="A_SecondaryButtonLeft white fixed">
        <div class="Q_ArrowLeftWhite"></div>
        <p class="Q_Arrow_text Q_White">назад</p>
      </a>
      <div class="M_Filter">      
        <p class="A_TagBebasArticle">#РОК</p></div>
    </div>
    <h1 class="Q_Title_Mixed ArtistName white">
      П<span class="Mag_Letter">с</span>И-<span
        class="Mag_Letter"
        >рО</span
      >к<span class="Mag_Letter"></span>
    </h1>
  </div>
  <div class="O_Genre_Body">
    <div class="M_GenreAbout"></div>
    <div class="M_GenreText">
      <h4 class="A_ChapterTitle pinkbg">О ЖАНРЕ</h4>
      <p class="A_ArticleText">
        Психоделический рок — это жанр музыки, который характеризуется экспериментальным подходом к звучанию, использованием разнообразных звуковых эффектов, мистическими и фантастическими текстами, а также обширным использованием инструментальных пассажей. Этот жанр возник в конце 1960-х годов в контексте контркультурного движения и психоделической революции, и был широко распространен в музыке многих артистов того времени, таких как The Beatles, Pink Floyd, The Doors и Jefferson Airplane.
        <br /><br />Музыкальные композиции в стиле психоделического рока часто стремятся создать атмосферу, напоминающую психоделический опыт, вызывая у слушателя ощущение путешествия в мир галлюцинаций и глубокого внутреннего познания. Этот жанр может включать в себя различные стили и направления, включая прогрессивный рок, фолк-рок, рок-н-ролл и другие.
      </p>
    </div>

    <div class="M_GenreText">
      <h4 class="A_ChapterTitle pinkbg">с чего все началось</h4>
      <p class="A_ArticleText">
        Психоделический рок возник в конце 1960-х годов в США и Великобритании в период культурной революции и развития контркультурного движения. Он был частью широкого культурного и социального протеста против традиционных ценностей, а также отражением интереса к психоделическим веществам, таким как LSD. Группы такие как The Beatles, Pink Floyd, The Doors и Jefferson Airplane стали одними из основателей и лидеров этого жанра, создавая музыку, которая призвана расширять сознание и уносить слушателей в музыкальные путешествия.
        <br /><br />
        В русскоязычной музыкальной индустрии психоделический рок начал появляться в 1990-х годах, после распада Советского Союза и развития альтернативной культуры. Группы и исполнители начали экспериментировать с звуком, создавая музыку, которая отражала дух свободы и нонконформизма. Со временем психоделический рок стал одним из наиболее популярных жанров в российской музыкальной индустрии, привлекая внимание множества творческих и инновационных музыкантов.
      </p>
    </div>

    <div class="O_GenreArtists">
      <h4 class="A_ChapterTitle pinkbg">ИСПОЛНИТЕЛИ</h4>
      <div class="C_GenreArtists">
        <!-- ПЕРВЫЙ -->
      <p class="Q_H_text">
        <a class="A_ArtistsLink" href="https://www.youtube.com/@IC3PEAK">
          <!-- мили иконка -->
          <span
            style="
              display: inline-block;
              font-size: 1.4vw;
              color: var(--black);
              background: var(--white);
              padding: 0.3vw 0.6vw;
              margin-right: 1vw;
            "
            >♫♪</span
          >
          <!-- исполнитель -->
          IC3PEAK
        </a>
        
        <p class="A_ArticleText">Российский музыкальный дуэт, созданный Анастасией Креслиной и Николаем Костылевым. Дуэт исполняет электронную музыку, иногда дополняя её элементами хип-хопа и рока.</p>
        <!-- плейлист -->
        <iframe frameborder="0" style="border-style: none;"
        width="100%" height='450' src="https://zvuk.com/embed/release?id=27906089" ></iframe>
      </p>

      <!-- ВТОРОЙ -->
      <p class="Q_H_text">
        <a class="A_ArtistsLink" href="https://vk.com/kdimb">
          <!-- мили иконка -->
          <span
            style="
              display: inline-block;
              font-size: 1.4vw;
              color: var(--black);
              background: var(--white);
              padding: 0.3vw 0.6vw;
              margin-right: 1vw;
            "
            >♫♪</span
          >
          <!-- исполнитель -->
          КРАСНОЗНАМЕННАЯ ДИВИЗИЯ ИМЕНИ МОЕЙ БАБУШКИ
        </a>

        <p class="A_ArticleText">Музыкальный коллектив из Санкт-Петербурга, основанный в 2010 году.</p>
          <!-- плейлист -->
          <iframe frameborder="0" style="border-style: none;"
          width="100%" height='450' src="https://zvuk.com/embed/release?id=16588254" ></iframe>
        </p>
  
        <p class="Q_H_text">
          <a class="A_ArtistsLink" href="https://vk.com/sbp4band">
            <span
              style="
                display: inline-block;
                font-size: 1.4vw;
                color: var(--black);
                background: var(--white);
                padding: 0.3vw 0.6vw;
                margin-right: 1vw;
              "
              >♫♪</span
            >
            САМОЕ БОЛЬШОЕ ПРОСТОЕ ЧИСЛО
          </a>
    
          <p class="A_ArticleText">Группа "Самое большое простое число" (СБПЧ) - музыкальный коллектив, основанный в 2006 году в Москве, Россия.</p>
          <iframe frameborder="0" style="border-style: none;"
          width="100%" height='450' src="https://zvuk.com/embed/release?id=31612663" ></iframe>
        </p>
      </div>
      </div>
    </div>
    <recommendations></recommendations>
    <div class="O_Footer">
      <a href="../index.html" class="A_Logo"></a>
      <div class="M_Footer_Text">
        <div class="A_Links">
          <div class="Menu">
            <p>Меню</p>
            <a href="../">Главная</a>
            <a href="../artists.html">Исполнители</a>
            <a href="../genres.html">Жанры</a>
            <a href="../materials.html">Материалы</a>
          </div>
          <div class="Made_By">
            <p>Мейд бай</p>
            <a href="https://t.me/pviklz">Аня Коршунова</a>
            <a href="https://t.me/NaaaaYana">Нарыйаана Парникова</a>
            <a href="https://t.me/neamiunis">Лиза Давыдович</a>
          </div>
          <div class="Curated_By">
            <p>Курейтед бай</p>
            <a href="https://t.me/anna_i_dobro">Аня Комкова</a>
            <a href="https://t.me/sonia_kaem">Соня Каем</a>
            <a href="https://t.me/dayglobal">Захар День</a>
          </div>
        </div>
        <div class="A_Socials">
          <a
            href="https://t.me/vrubim_po_polnoy"
            class="Q_Socials Telegram"
          ></a>
        </div>
      </div>
    </div>

  </body>
  </html>