<% const {menubar} = require('../menubar.js') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="../images/favicon.svg" />
  <analytics></analytics>
  <title>Панк-рок</title>
</head>
<body>
  <div class="S_MenuBar"><%= menubar %></div>

  <div class="A_Genre_Bg">
    <div class="M_Genre_Bar">
      <a href="../genres.html" class="A_SecondaryButtonLeft white fixed">
        <div class="Q_ArrowLeftWhite"></div>
        <p class="Q_Arrow_text Q_White">назад</p>
      </a>
      <div class="M_Filter">      
        <p class="A_TagBebasArticle">#ХАРДРОК </p>
        <p class="A_TagBebasArticle">#РОК</p></div>
    </div>
    <h1 class="Q_Title_Mixed ArtistName white">
      П<span class="Mag_Letter">А</span>НК-<span
        class="Mag_Letter"
        >р</span
      >о<span class="Mag_Letter">К</span>
    </h1>
  </div>
  <div class="O_Genre_Body">
    <div class="M_GenreAbout"></div>
    <div class="M_GenreText">
      <h4 class="A_ChapterTitle pinkbg">О ЖАНРЕ</h4>
      <p class="A_ArticleText">
        Панк-рок — один из самых бунтарских и протестных жанров в мире музыки. Зародившись в конце 1970-х годов в Великобритании и США как реакция на социальные неравенства, политическую репрессию и коммерциализацию музыки, панк-рок стал голосом молодежи, жаждущей перемен и свободы самовыражения.
      </p>
    </div>

    <div class="M_GenreText">
      <h4 class="A_ChapterTitle pinkbg">с чего все началось</h4>
      <p class="A_ArticleText">
        Условно можно разделить этот жанр на старую и новую волну панк-рока в Росии. 
        В период с 1985 по 1991 год политическая обстановка изменилась, режим стал более мягким, а советская цензура фактически исчезла. Это привело к увеличению числа рок-групп, включая жанр "панк". На передний план вышли такие известные коллективы, как "Сектор Газа", "Король и Шут", "Красная Плесень" и другие.
        Группы, подобные "Сектору Газа" и "Красной Плесени", отличались от других частым использованием нецензурной лексики, частушек, пародий, анекдотов и сказок в своем творчестве, а также эксцентричным внешним видом и звучанием.
        "Король и Шут" внесли свой вклад в развитие панк-рока в СССР и России. Их баллады, сказки и легенды звучат мрачно и грозно, но одновременно окутаны уютом, напоминающим домашний очаг или трактир.
        <br /><br />
        Исполнители новой русской волны панк-рока сочетают в своей музыке энергию панк-рока с элементами поп-музыки, электроники и других жанров, создавая уникальный и запоминающийся звук.
      </p>
    </div>

    <div class="O_GenreArtists">
      <h4 class="A_ChapterTitle pinkbg">ИСПОЛНИТЕЛИ</h4>
      <div class="C_GenreArtists">
        <!-- ПЕРВЫЙ -->
      <p class="Q_H_text">
        <a class="A_ArtistsLink" href="https://vk.com/pornopunk">
          <!-- мили иконка -->
          <span
            style="
              display: inline-block;
              font-size: 1.4vw;
              color: var(--black);
              background: var(--white);
              padding: 0.3vw 0.6vw;
              margin-right: 1vw;
            "
            >♫♪</span
          >
          <!-- исполнитель -->
          ПОРНОФИЛЬМЫ
        </a>
        
        <p class="A_ArticleText">Российская музыкальная группа, основанная в Москве в 2012 году.</p>
        <!-- плейлист -->
        <iframe frameborder="0" style="border-style: none;"
        width="100%" height='450' src="https://zvuk.com/embed/release?id=5845388" ></iframe>
      </p>

      <!-- ВТОРОЙ -->
      <p class="Q_H_text">
        <a class="A_ArtistsLink" href="https://vk.com/kiskisnotdead">
          <!-- мили иконка -->
          <span
            style="
              display: inline-block;
              font-size: 1.4vw;
              color: var(--black);
              background: var(--white);
              padding: 0.3vw 0.6vw;
              margin-right: 1vw;
            "
            >♫♪</span
          >
          <!-- исполнитель -->
          КИС-КИС
        </a>

        <p class="A_ArticleText">«Кис-Кис» добавляют в свои композиции элементы рэпа и электроники, создавая современное звучание новой русской волны панк-рока.</p>
          <!-- плейлист -->
          <iframe frameborder="0" style="border-style: none;"
          width="100%" height='450' src="https://zvuk.com/embed/release?id=27852874" ></iframe>
        </p>
  
      </div>
      </div>
    </div>
    <recommendations></recommendations>
    <div class="O_Footer">
      <a href="./" class="A_Logo"></a>
      <div class="M_Footer_Text">
        <div class="A_Links">
          <div class="Menu">
            <p>Меню</p>
            <a href="./">Главная</a>
            <a href="./artists.html">Исполнители</a>
            <a href="./genres.html">Жанры</a>
            <a href="./materials.html">Материалы</a>
          </div>
          <div class="Made_By">
            <p>Мейд бай</p>
            <a href="https://t.me/pviklz">Аня Коршунова</a>
            <a href="https://t.me/NaaaaYana">Нарыйаана Парникова</a>
            <a href="https://t.me/neamiunis">Лиза Давыдович</a>
          </div>
          <div class="Curated_By">
            <p>Курейтед бай</p>
            <a href="https://t.me/anna_i_dobro">Аня Комкова</a>
            <a href="https://t.me/sonia_kaem">Соня Каем</a>
            <a href="https://t.me/dayglobal">Захар День</a>
          </div>
        </div>
        <div class="A_Socials">
          <a
            href="https://t.me/vrubim_po_polnoy"
            class="Q_Socials Telegram"
          ></a>
        </div>
      </div>
    </div>

  </body>
  </html>