@import url(https://fonts.cdnfonts.com/css/phorssa);
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:root {
  --white: #eee;
  --black: #211e1f;
  --blue: #516176;
  --green: #427569;
  --pink: #c99aa9;
  --grey: #ababab;
  --darkgrey: #2b2a2a;
}
@font-face {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/BebasNeueRegular.woff) format('woff');
}
@font-face {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: 700;
  src: url(fonts/BebasNeueBold.woff) format('woff');
}
@font-face {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: 300;
  src: url(fonts/BebasNeueLight.woff) format('woff');
}
@font-face {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: 100;
  src: url(fonts/BebasNeue-Thin.woff) format('woff');
}
@font-face {
  font-family: Bebas Neue Book;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/BebasNeueBook.woff) format('woff');
}
@font-face {
  font-display: swap;
  font-family: SA No Rules;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SANoRulesRegular.woff) format('woff');
}
@font-face {
  font-family: GolosUIWebRegular;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Golos-UI_Regular.woff) format('woff');
}
* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
body {
  font-family: PT Root UI, Helvetica, Arial, sans-serif;
}
.images {
  display: flex;
}
.images * {
  height: 24px;
  margin: 0 10px;
  width: 24px;
}
.images .image#bgPNG {
  background-image: url(images/b023d92c1b9fd97c93fd.png);
}
.images .image#bgJPG {
  background-image: url(images/6373cac8eccfb40124d1.jpg);
}
.images .image#bgSVG {
  background-image: url(images/459816e47074d4bfa35b.svg);
}
.Q_Icon_Search {
  background: url(images/f8ddb992ea53d1c471d6.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1.7vw;
  width: 1.7vw;
}
.Q_Chapter_Title {
  color: #eee;
  color: var(--white);
  font-family: Bebas Neue;
  font-size: 2.4vw;
  font-style: normal;
  font-weight: 700;
}
.Q_Arrow {
  background: url(images/a0e83e4004f050ee0a22.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 3vw;
  width: 4vw;
}
.Q_Type {
  color: #eee;
  color: var(--white);
}
.Q_Tag,
.Q_Type {
  font-family: GolosUIWebRegular;
  font-size: 1.1vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2vw;
}
.Q_Tag {
  background-color: #eee;
  background-color: var(--white);
  color: #211e1f;
  color: var(--black);
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.4vw;
  width: -moz-fit-content;
  width: fit-content;
}
.Q_Title {
  color: #eee;
  color: var(--white);
  font-family: GolosUIWebRegular;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 400;
}
.Q_Title_Mixed {
  font-family: Bebas Neue;
  margin-bottom: 1vw;
}
.Mag_Letter,
.Q_Title_Mixed {
  color: #eee;
  color: var(--white);
  font-size: 5vw;
  font-style: normal;
  font-weight: 700;
}
.Mag_Letter {
  font-family: Phorssa, sans-serif;
}
.A_Button {
  background-color: #eee;
  background-color: var(--white);
  color: #211e1f;
  color: var(--black);
  font-family: GolosUIWebRegular;
  font-size: 1.042vw;
  font-style: normal;
  font-weight: medium;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1vw;
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
}
.A_Header_Text {
  display: flex;
  justify-content: space-between;
  padding-top: 1.4vw;
  width: 36vw;
}
.A_Header_Text a {
  color: #eee;
  color: var(--white);
  font-family: Bebas Neue;
  font-size: 1.875vw;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.A_Logo {
  background: url(images/ababb40799dae60e36d9.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 4vw;
  width: 7.2vw;
}
.A_Logo .Q_Icon_Search {
  position: relative;
}
.A_MainScreen_Title {
  background: url(images/e4cfe42586192a9ac405.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.A_Block_Title {
  width: 93vw;
}
.A_Block_Title .Q_Arrow,
.A_Block_Title .Q_Chapter_Title {
  position: relative;
}
.A_Title {
  padding: 1vw;
  width: 22.5vw;
}
.A_Filter {
  align-items: center;
  color: #ababab;
  color: var(--grey);
  display: flex;
  padding: 0 1vw;
  width: 22.5vw;
}
.A_Filter .C_Tags {
  display: flex;
  gap: 1vw;
  justify-content: space-between;
}
.F_Card5 {
  align-items: center;
  color: #ababab;
  color: var(--grey);
  display: flex;
  padding: 0 1vw;
  width: 69.5vw;
}
.T_Card5 {
  padding: 1vw;
  width: 69.5vw;
}
.Shape1 {
  height: 9.5vw;
  margin: 4vw auto 0;
}
.Shape1,
.Shape2 {
  background-repeat: no-repeat;
  background-size: cover;
  width: 21vw;
}
.Shape2 {
  height: 11.5vw;
  margin: 2vw auto 0;
}
.Img1 {
  background-image: url(images/cc745e36e8516cf0ab96.webp);
}
.Img2 {
  background-image: url(images/a60360631452ac6e4d0e.webp);
}
.Img3,
.Img4,
.Img6 {
  background-image: url(images/2e61f9a9cab2e8005a15.webp);
}
.A_Big_Shape {
  background-image: url(images/65d5121ff9d436c2b1e5.webp);
  height: 26.6vw;
  width: 42.4vw;
}
.A_Big_Shape,
.A_Genre_Image {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.A_Genre_Image {
  height: 4.2vw;
  width: 4.2vw;
}
.G_Img1,
.G_Img10,
.G_Img11,
.G_Img12,
.G_Img2,
.G_Img3,
.G_Img4,
.G_Img5,
.G_Img6,
.G_Img7,
.G_Img8,
.G_Img9 {
  background-image: url(images/937aaca4c076b7e106f2.webp);
}
.A_Artist_Image {
  background-repeat: no-repeat;
  background-size: cover;
}
.M_MainScreen_Text {
  background: url(images/dccbaa3969ea07ee6ef4.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 68vw;
  margin-left: 8vw;
  position: relative;
  top: -14vw;
  width: 74vw;
}
.M_MainScreen_Text .A_MainScreen_Title {
  height: 23vw;
  margin-left: 24vw;
  position: relative;
  top: 22vw;
  width: 38vw;
}
.M_MainScreen_Text .A_Button {
  background-color: #211e1f;
  background-color: var(--black);
  color: #eee;
  color: var(--white);
  margin: 22vw 0 0 37vw;
}
.M_HeaderText {
  display: flex;
  height: 6vw;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1vw 0;
  width: 92vw;
}
.M_ArticleSmall {
  background-position: center 6vw;
  background-repeat: no-repeat;
  background-size: 95%;
}
.M_ArticleSmall .A_Article_Image {
  position: relative;
}
.M_ArticleSmall .A_Filter {
  justify-content: space-between;
  margin: 1vw auto;
}
.M_ArticleSmall .A_Title {
  padding: 0 1vw;
  width: 22.5vw;
}
.Card1 {
  background-color: #427569;
  background-color: var(--green);
  grid-column: 1/7;
  grid-row: 1/2;
}
.Card2 {
  background-color: #c99aa9;
  background-color: var(--pink);
  grid-column: 7/13;
  grid-row: 1/2;
}
.Card3 {
  background-color: #516176;
  background-color: var(--blue);
  grid-column: 13/19;
  grid-row: 1/2;
}
.Card4 {
  background-color: #427569;
  background-color: var(--green);
  grid-column: 19/25;
  grid-row: 1/2;
}
.M_ArticleBig {
  background-repeat: no-repeat;
  background-size: cover;
}
.M_ArticleBig .A_Filter {
  justify-content: space-between;
  margin: 11vw auto 1vw;
}
.M_ArticleBig .A_Title {
  margin: 0 auto;
}
.M_ArticleBig .Q_Title {
  color: #eee;
  color: var(--white);
  font-family: Bebas Neue;
  font-size: 4.7vw;
  font-style: normal;
  font-weight: 700;
}
.Card5 {
  background-image: url(images/334b4fe4101bde563c63.webp);
  grid-column: 1/19;
  grid-row: 2/3;
}
.Card6 {
  background-color: #427569;
  background-color: var(--green);
  grid-column: 19/25;
  grid-row: 2/3;
}
.M_Article_Mixed_Text {
  height: 26.5vw;
  width: 38.4vw;
  width: 31vw;
}
.M_Article_Mixed_Text .A_Filter {
  justify-content: space-between;
  margin: 1vw auto;
  padding: 0;
  width: 32vw;
}
.M_Article_Mixed_Text .Ar_Mix_Text {
  color: #eee;
  color: var(--white);
  font-family: GolosUIWebRegular;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 2vw;
}
.M_Article_Mixed_Text .A_Button {
  color: #211e1f;
  color: var(--black);
}
.M_Genre {
  align-items: center;
  background-color: #2b2a2a;
  background-color: var(--darkgrey);
  background-position: center 6vw;
  background-repeat: no-repeat;
  background-size: 95%;
  border-radius: 0.3vw;
  display: flex;
}
.M_Genre .A_Genre_Image {
  align-items: center;
  float: left;
  margin: 0.5vw;
}
.M_Genre .A_Genre_Title {
  width: 22.5vw;
}
.Genre1 {
  grid-column: 1/9;
  grid-row: 1/2;
}
.Genre2 {
  grid-column: 9/17;
  grid-row: 1/2;
}
.Genre3 {
  grid-column: 17/25;
  grid-row: 1/2;
}
.Genre4 {
  grid-column: 1/9;
  grid-row: 2/3;
}
.Genre5 {
  grid-column: 9/17;
  grid-row: 2/3;
}
.Genre6 {
  grid-column: 17/25;
  grid-row: 2/3;
}
.Genre7 {
  grid-column: 1/9;
  grid-row: 3/4;
}
.Genre8 {
  grid-column: 9/17;
  grid-row: 3/4;
}
.Genre9 {
  grid-column: 17/25;
  grid-row: 3/4;
}
.Genre10 {
  grid-column: 1/9;
  grid-row: 4/5;
}
.Genre11 {
  grid-column: 9/17;
  grid-row: 4/5;
}
.Genre12 {
  grid-column: 17/25;
  grid-row: 4/5;
}
.M_Recs_Grid {
  grid-gap: 1vw;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(1, 1fr);
  height: 18vw;
  margin: 0 auto;
  position: relative;
  width: 58vw;
}
.M_Recs_Grid .lisa {
  background-image: url(images/613edd63f2680e76bdea.webp);
  grid-column: 1/7;
  grid-row: 1/2;
}
.M_Recs_Grid .anya {
  background-image: url(images/d822ddfe828fb057b0d2.webp);
  grid-column: 7/13;
  grid-row: 1/2;
}
.M_Recs_Grid .nana {
  background-image: url(images/2994cbc78bf372c70dee.webp);
  grid-column: 13/19;
  grid-row: 1/2;
}
.M_Recs_Grid .anya:hover,
.M_Recs_Grid .lisa:hover,
.M_Recs_Grid .nana:hover {
  scale: 0.95;
}
.O_Header {
  align-items: center;
  background-color: #211e1f;
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  font-size: 2vw;
  height: 5.8vw;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
}
.O_MainScreen {
  background: url(images/8680a8423a2e7d1c3e81.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 43.4vw;
  margin-bottom: 5vw;
  position: relative;
  top: 9vw;
  width: 100vw;
}
.O_Articles_Grid {
  grid-gap: 1vw;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 54vw;
  margin: 0 auto;
  padding-top: 3vw;
  position: relative;
  width: 93vw;
}
.O_Article_Mixed {
  align-items: center;
  display: flex;
  height: 26.5vw;
  justify-content: space-between;
  margin: 7vw auto 0;
  position: relative;
  top: 9vw;
  width: 85.5vw;
}
.O_Genres_Grid {
  grid-gap: 1vw;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 23vw;
  margin: 0 auto;
  padding-top: 3vw;
  position: relative;
  width: 93vw;
}
.S_Articles_Block {
  height: 56.4vw;
  margin-top: 7vw;
  position: relative;
  top: 9vw;
  width: 100%;
}
.S_Articles_Block .A_Block_Title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
}
.S_Articles_Block h2 {
  font-family: Bebas Neue;
  font-size: 4.7vw;
  font-style: normal;
  position: absolute;
}
.S_Genres_Block {
  height: 29.7vw;
  margin-top: 7vw;
  position: relative;
  top: 9vw;
  width: 100%;
}
.S_Genres_Block .A_Block_Title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
}
.S_Genres_Block h6 {
  color: #eee;
  color: var(--white);
  font-family: GolosUIWebRegular;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 700;
}
.S_OurRecs {
  background-image: url(images/02b5bae7928290cfbfc7.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 43.4vw;
  margin-top: 7vw;
  position: relative;
  top: 9vw;
  width: 100%;
}
.S_OurRecs .Q_Title_Mixed {
  margin: 0 auto;
  padding: 5vw 0;
  width: -moz-fit-content;
  width: fit-content;
}
.S_Artists_Block {
  height: 29.7vw;
  margin-top: 7vw;
  position: relative;
  top: 9vw;
  width: 100%;
}
.S_Artists_Block .A_Block_Title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
}
html {
  margin: 0;
  width: 100%;
}
body,
html {
  height: 100%;
}
body {
  background-color: #211e1f;
  background-color: var(--black);
  font-family: GolosUIWebRegular;
  font-style: normal;
  font-weight: 400;
  overflow: scroll;
}
body:before {
  background-image: url(images/162b9254c797cd3acaa7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  content: ' ';
  height: 213vw;
  opacity: 0.3;
  position: absolute;
  width: 100%;
}
body.article {
  background-color: #fff;
}
@media (min-width: 431px) {
  .ticker-wrap {
    align-items: center;
    background-color: #c99aa9;
    background-color: var(--pink);
    display: flex;
    flex-direction: row;
    height: 4vw;
    justify-content: space-between;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    top: -4vw;
    white-space: nowrap;
    width: 100%;
  }
  .ticker {
    animation: take 30s linear infinite;
    display: inline-block;
    height: 4vw;
  }
  @keyframes take {
    0% {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .item-collection-1,
  .item-collection-2 {
    animation: swap 30s linear infinite;
    display: inline-block;
    height: 4vw;
  }
  @keyframes swap {
    0%,
    50% {
      left: 0;
    }
    50.01%,
    to {
      left: 100%;
    }
  }
  .item {
    align-items: center;
    color: #211e1f;
    color: var(--black);
    display: inline-flex;
    font-family: Bebas Neue;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 700;
    padding: 1vw 0;
  }
  .star {
    background: url(images/36a90052787b0791672f.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 3vw;
    margin: 0 1.5vw;
    width: 3vw;
  }
  .more {
    background: url(images/00b447d9d123ba309789.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 2.9vw;
    margin: 2vw auto 6vw;
    width: 11.4vw;
  }
  .articles,
  .more {
    position: relative;
  }
  .articles {
    height: 62vw;
    width: 100%;
  }
  .articles h3 {
    color: #f5f5f5;
    font-weight: 700;
    margin: 6vw 47vw 2vw;
    position: relative;
  }
  .grid_articles {
    grid-gap: 1vw;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 51vw;
    margin: 0 auto;
    position: relative;
    width: 94vw;
  }
  .ar1 {
    background: url(images/25e73f2b024975fb7396.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
    grid-column: 1/7;
  }
  .ar1,
  .ar2 {
    grid-row: 1/2;
  }
  .ar2 {
    background: url(images/49e75ce1d73dc474d8d1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
    grid-column: 7/13;
  }
  .ar3 {
    background: url(images/e1a38983a737164bf38b.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
    grid-column: 13/19;
  }
  .ar3,
  .ar4 {
    grid-row: 1/2;
  }
  .ar4 {
    background: url(images/c6f620d3e19d0d3eee90.webp);
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 19/25;
  }
  .ar4,
  .ar5 {
    color: #f5f5f5;
  }
  .ar5 {
    background: url(images/40051255ee149b411923.webp);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 700;
    grid-column: 1/19;
  }
  .ar5,
  .ar6 {
    grid-row: 2/3;
  }
  .ar6 {
    background: url(images/fde17360be391c3c0e74.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
    grid-column: 19/25;
  }
  .filter {
    display: flex;
    justify-content: space-between;
    margin: 16vw auto 0;
    width: 20vw;
  }
  .filter,
  .filter h5 {
    position: relative;
  }
  .f_ar5 {
    height: 1vw;
    margin-top: 13vw;
    width: 63vw;
  }
  .title {
    display: flex;
    justify-content: space-between;
    margin: 0.5vw auto 0;
    position: relative;
    width: 20vw;
  }
  .articles h4 {
    margin: 0 auto;
  }
  .ar5 h1 {
    margin: 1vw 0 0 3.5vw;
  }
  .genres {
    height: 34vw;
    position: relative;
    top: 19vw;
    width: 100%;
  }
  .genres h3 {
    color: #f5f5f5;
    font-weight: 700;
    margin: 6vw 47vw 2vw;
    position: relative;
  }
  .grid_genres {
    grid-gap: 1vw;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 24.9vw;
    margin: 0 auto;
    position: relative;
    width: 94vw;
  }
  .ge1 {
    background: url(images/0a61dc0047c628618950.webp);
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/13;
  }
  .ge1,
  .ge2 {
    grid-row: 1/2;
  }
  .ge2 {
    background: url(images/ba92e125f9673fd12e56.webp);
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 13/25;
  }
  .ge3 {
    background: url(images/605331bed5284a53d618.webp);
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/13;
  }
  .ge3,
  .ge4 {
    grid-row: 2/3;
  }
  .ge4 {
    background: url(images/f8ccf4debaae0f45503e.webp);
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 13/25;
  }
  .ge5 {
    background: url(images/a4013c56890ede179957.webp);
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/13;
  }
  .ge5,
  .ge6 {
    grid-row: 3/4;
  }
  .ge6 {
    background: url(images/517834726eda09a7e018.webp);
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 13/25;
  }
  .electro,
  .postpunk {
    font-family: London, sans-serif;
  }
  .electro,
  .indierock,
  .postpunk,
  .shoegaze {
    color: #000;
    margin: 2vw 0;
    text-align: center;
    width: 46.3vw;
  }
  .indierock,
  .shoegaze {
    font-family: Romochka, sans-serif;
  }
  .noiserock,
  .punkrock {
    color: #000;
    font-family: Zhizn, sans-serif;
    margin: 2vw 0;
    text-align: center;
    width: 46.3vw;
  }
  .artists {
    height: 32vw;
    position: relative;
    width: 100%;
  }
  .artists h3 {
    color: #f5f5f5;
    font-weight: 700;
    margin: 6vw 44vw 2vw 45vw;
    position: relative;
  }
  .container {
    margin: 0 auto;
    width: 93.8vw;
  }
  .itc-slider {
    position: relative;
  }
  .itc-slider-wrapper {
    overflow: hidden;
  }
  .itc-slider-items {
    display: flex;
    gap: 1vw;
    line-height: 4.5vw;
    text-decoration: none;
    transition: transform 0.5s ease;
    will-change: transform;
  }
  .itc-slider-transition-none {
    transition: none;
  }
  .itc-slider-item {
    background-color: #f5f5f5;
    flex: 0 0 25%;
    height: 21.2vw;
    max-width: 93.8vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    will-change: transform;
  }
  .itc-slider-item:hover {
    scale: 0.95;
  }
  .itc-slider-item:first-child {
    background-image: url(images/59b1046fc545e89ecf76.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
  }
  .kedr {
    background-color: #427569;
    bottom: 1vw;
    height: 4vw;
    padding: 0 1vw;
    position: absolute;
    right: 1vw;
    rotate: 9deg;
    width: 20vw;
  }
  .itc-slider-item:nth-child(2) {
    background-image: url(images/8805b569520a12295997.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
  }
  .serdobol {
    background-color: #bd8a96;
    bottom: 1vw;
    height: 4vw;
    padding: 0 1vw;
    position: absolute;
    right: 1vw;
    rotate: 9deg;
    width: 14vw;
  }
  .itc-slider-item:nth-child(3) {
    background-image: url(images/55f576664fc38bfb074c.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
  }
  .hadndadn {
    background-color: #4a6587;
    bottom: 1vw;
    height: 4vw;
    padding: 0 1vw;
    position: absolute;
    right: 1vw;
    rotate: 9deg;
    width: 15vw;
  }
  .itc-slider-item:nth-child(4) {
    background-image: url(images/7e2e2c1d4af589bc3c77.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
  }
  .pasosh {
    background-color: #427569;
    bottom: 1vw;
    height: 4vw;
    padding: 0 1vw;
    position: absolute;
    right: 1vw;
    rotate: 9deg;
    width: 10vw;
  }
  .itc-slider-item:nth-child(5) {
    background-image: url(images/bddc5eeb06493ebd7625.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
  }
  .sbpch {
    background-color: #bd8a96;
    bottom: 1vw;
    height: 4vw;
    padding: 0 1vw;
    position: absolute;
    right: 1vw;
    rotate: 9deg;
    width: 8vw;
  }
  .itc-slider-item:nth-child(6) {
    background-image: url(images/2a4a10e43ff1c472251c.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
  }
  .buerak {
    background-color: #4a6587;
    bottom: 1vw;
    height: 4vw;
    padding: 0 1vw;
    position: absolute;
    right: 1vw;
    rotate: 9deg;
    width: 10vw;
  }
  .itc-slider-item:nth-child(7) {
    background-image: url(images/de1937516067a250a890.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
  }
  .soyuz {
    background-color: #427569;
    bottom: 1vw;
    height: 4vw;
    padding: 0 1vw;
    position: absolute;
    right: 1vw;
    rotate: 9deg;
    width: 8vw;
  }
  .itc-slider-item:nth-child(8) {
    background-image: url(images/a58b6779b20b62030464.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
  }
  .sirotkin {
    background-color: #bd8a96;
    bottom: 1vw;
    height: 4vw;
    padding: 0 1vw;
    position: absolute;
    right: 1vw;
    rotate: 9deg;
    width: 13vw;
  }
  .itc-slider-btn {
    align-items: center;
    background: #bd8a96;
    background-size: 1vw;
    border: none;
    border-radius: 60vw;
    color: #000;
    cursor: pointer;
    display: flex;
    height: 3vw;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 3vw;
  }
  .itc-slider-btn-hide {
    display: none;
  }
  .itc-slider-btn-prev {
    background-image: url(images/fb9f43e97f43cc168403.webp);
    left: -2vw;
  }
  .itc-slider-btn-next,
  .itc-slider-btn-prev {
    background-position: 50%;
    background-repeat: no-repeat;
  }
  .itc-slider-btn-next {
    background-image: url(images/4d02fdc728a81581d746.webp);
    right: -2vw;
  }
  .itc-slider-btn:hover {
    background-color: hsla(0, 0%, 96%, 0.627);
    outline: 0;
    text-decoration: none;
  }
  .itc-slider-indicators {
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    list-style: none;
    margin: 0 15%;
    padding-left: 0;
    position: absolute;
    right: 0;
    z-index: 15;
  }
  .itc-slider-indicator {
    background-clip: padding-box;
    background-color: hsla(0, 0%, 100%, 0.5);
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    box-sizing: content-box;
    cursor: pointer;
    flex: 0 1 auto;
    height: 5px;
    margin-left: 3px;
    margin-right: 3px;
    text-indent: -999px;
    width: 30px;
  }
  .itc-slider-indicator-active {
    background-color: hsla(0, 0%, 100%, 0.9);
  }
  .help {
    height: 29vw;
    margin-top: 5vw;
    position: relative;
    width: 100%;
  }
  .help_block {
    background: url(images/95547e17f3c50610975b.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 16vw;
    margin: 0 auto;
    width: 93.8vw;
  }
  .help h2 {
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 5vw;
  }
  .form {
    color: #fff;
    font-size: 0.9vw;
    height: 13vw;
    margin: 0 8vw;
    position: relative;
    width: 83.8vw;
  }
  .form,
  .my-form {
    align-items: center;
    display: flex;
  }
  .my-form {
    flex-direction: row;
    position: absolute;
  }
  .form h2 {
    color: #f5f5f5;
    text-align: left;
    top: 0;
  }
  .input_block {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 5.3vw;
    margin: 0 auto;
    position: relative;
    width: 71.9vw;
  }
  input {
    background: #fff;
    border: none;
    font-size: 0.8vw;
    height: 2.5vw;
    margin: 0 0 0 18vw;
    width: 28vw;
  }
  .my-form-button {
    border: none;
    font-size: 1.1vw;
    height: 2.5vw;
    width: 11vw;
  }
  .my-form-button,
  footer {
    background-color: #427569;
    color: #f5f5f5;
    position: relative;
  }
  footer {
    bottom: 0;
    height: 23vw;
    width: 100%;
  }
  .text_footer {
    display: flex;
    flex-direction: row;
    height: 12vw;
    justify-content: space-between;
    padding: 6vw 0 0 6vw;
    position: relative;
    width: 35vw;
  }
  .text_footer h5 {
    height: 6vw;
    position: relative;
  }
  .icons_footer {
    display: flex;
    flex-direction: row;
    height: 8vw;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    width: 87.7vw;
  }
  .hse_logo {
    background: url(images/bc4cbabb6b5dc3d5fa41.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 4vw;
    margin: 3vw 0;
    position: relative;
    width: 10vw;
  }
  .socials {
    display: flex;
    flex-direction: row;
    height: 2.7vw;
    justify-content: space-between;
    margin: 3vw 0;
    width: 11.4vw;
  }
  .tiktok_logo {
    background: url(images/43022b8a12b1f0174970.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 2.9vw;
    position: relative;
    width: 3vw;
  }
  .vk_logo {
    background: url(images/0ded6bdfa1f2ace6b4d3.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tg_logo,
  .vk_logo {
    height: 2.7vw;
    position: relative;
    width: 3vw;
  }
  .tg_logo {
    background: url(images/18e34695abd7295217e0.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header {
    align-items: center;
    background-color: #000;
    display: flex;
    flex-direction: row;
    font-size: 2vw;
    height: 5vw;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
  }
  .logo_header {
    background: url(images/5bae0816429747e314c3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 4vw;
    margin: 0 51vw 0 2vw;
    width: 7.2vw;
  }
  .header a {
    color: #f5f5f5;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
  }
  .sections {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 1.9vw;
    justify-content: space-between;
    width: 33.1vw;
  }
  .search {
    background: url(images/f8ddb992ea53d1c471d6.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 4vw;
    margin: 0 3vw 0 0;
    width: 4vw;
  }
  .icons_menu,
  .menu_mob_icon,
  .side_menu_text {
    display: none;
  }
}
@media (min-width: 1px) and (max-width: 430px) {
  h1 {
    font-size: 11.6vw;
  }
  h1,
  h2 {
    font-family: Bebas Neue;
    font-style: normal;
    position: absolute;
  }
  h2 {
    font-size: 8.9vw;
  }
  h3 {
    font-family: Bebas Neue;
    font-size: 7.9vw;
    font-style: normal;
    position: absolute;
  }
  h4 {
    font-size: 4.7vw;
  }
  h4,
  h5 {
    font-family: GolosUIWebRegular;
    font-style: normal;
    font-weight: 400;
    position: absolute;
  }
  h5 {
    font-size: 2.1vw;
    line-height: 2.5vw;
  }
  .main_screen {
    background: url(images/786d269a5e28321f763d.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: auto;
    position: relative;
    top: 12vw;
    width: 100%;
  }
  .vinyl {
    background: url(images/4122507d648057f34bba.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 74vw;
    left: 2vw;
    position: absolute;
    top: -12vw;
    width: 78vw;
  }
  .guitar {
    display: none;
  }
  .tape {
    background: url(images/0ea969ecce9cf57f6664.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vw;
    position: absolute;
    right: -14vw;
    rotate: 9deg;
    top: 86vw;
    width: 70vw;
  }
  .decor_main {
    background: url(images/d6eee15ad702efa28504.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
  .decor_main,
  .text_main {
    position: absolute;
    width: 100%;
  }
  .text_main {
    height: 50vw;
  }
  .vrubim {
    background-color: #bd8a96;
    color: #000;
    font-weight: 700;
    height: 8vw;
    margin: 0 55vw 0 13vw;
    rotate: -3deg;
    top: 60.3vw;
    width: 39.5vw;
  }
  .v_alt,
  .vrubim {
    padding: 0.6vw;
    position: absolute;
  }
  .v_alt {
    background-color: #427569;
    color: #f5f5f5;
    height: 9vw;
    margin: 0 54vw 0 40vw;
    rotate: -9deg;
    top: 63.3vw;
    width: 53.3vw;
  }
  .logo_main {
    background: url(images/863299c1bd3508fc9477.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 46.2vw;
    margin: 71vw auto;
    position: relative;
    width: 83vw;
  }
  .ticker-wrap {
    align-items: center;
    background-color: #427569;
    display: flex;
    flex-direction: row;
    height: 20vw;
    justify-content: space-between;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: 2vw;
    white-space: nowrap;
    width: 100%;
  }
  .ticker {
    animation: take 30s linear infinite;
    display: inline-block;
    height: 20vw;
  }
  @keyframes take {
    0% {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .item-collection-1,
  .item-collection-2 {
    animation: swap 30s linear infinite;
    display: inline-block;
    height: 20vw;
    left: 0;
    position: relative;
    top: 40%;
  }
  @keyframes swap {
    0%,
    50% {
      left: 0;
    }
    50.01%,
    to {
      left: 100%;
    }
  }
  .item {
    align-items: center;
    color: #f5f5f5;
    display: inline-flex;
    font-family: GolosUIWebRegular;
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 400;
    padding: 0 1vw;
  }
  .arrow {
    background: url(images/648214fe20497a6ce607.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 5vw;
    margin-left: 3vw;
    width: 5vw;
  }
  .block_title,
  .more_btn {
    display: flex;
    position: relative;
    width: 100%;
  }
  .more {
    background: url(images/00b447d9d123ba309789.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 9.3vw;
    margin: 7vw auto 9vw;
    width: 37vw;
  }
  .articles,
  .more {
    position: relative;
  }
  .articles {
    height: 562vw;
    width: 100%;
  }
  .articles h3 {
    color: #f5f5f5;
    font-weight: 700;
    margin: 18vw auto 7vw;
    position: relative;
  }
  .grid_articles {
    grid-gap: 6vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    height: 512.8vw;
    margin: 0 auto;
    position: relative;
    width: 71.7vw;
  }
  .ar1 {
    background: url(images/25e73f2b024975fb7396.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
    grid-row: 1/2;
  }
  .ar1,
  .ar2 {
    grid-column: 1/2;
  }
  .ar2 {
    background: url(images/49e75ce1d73dc474d8d1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
    grid-row: 2/3;
  }
  .ar3 {
    background: url(images/e1a38983a737164bf38b.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
    grid-row: 3/4;
  }
  .ar3,
  .ar4 {
    grid-column: 1/2;
  }
  .ar4 {
    background: url(images/c6f620d3e19d0d3eee90.webp);
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 4/5;
  }
  .ar4,
  .ar5 {
    color: #f5f5f5;
  }
  .ar5 {
    background: url(images/40051255ee149b411923.webp);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 700;
    grid-row: 5/6;
  }
  .ar5,
  .ar6 {
    grid-column: 1/2;
  }
  .ar6 {
    background: url(images/fde17360be391c3c0e74.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
    grid-row: 6/7;
  }
  .filter {
    display: flex;
    justify-content: space-between;
    margin: 52vw auto 0;
    width: 63vw;
  }
  .filter,
  .filter h5 {
    position: relative;
  }
  .f_ar5 {
    margin: 52vw auto 0;
  }
  .f_ar5,
  .title {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 63vw;
  }
  .ar5 h1,
  .title {
    margin: 3.5vw auto 0;
  }
  .ar5 h1 {
    display: flex;
    font-family: GolosUIWebRegular;
    font-size: 4.7vw;
    font-style: normal;
    font-weight: 400;
    justify-content: space-between;
    width: 63vw;
  }
  .ar5 h1,
  .genres {
    position: relative;
  }
  .genres {
    height: 198vw;
    width: 100%;
  }
  .genres h3 {
    color: #f5f5f5;
    font-weight: 700;
    margin: 18vw auto 7vw;
    position: relative;
  }
  .grid_genres {
    grid-gap: 6vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    height: 149vw;
    margin: 0 auto;
    position: relative;
    width: 71.7vw;
  }
  .ge1 {
    background: url(images/f431f2e4c830570925a9.webp);
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 1/2;
  }
  .ge1,
  .ge2 {
    grid-column: 1/2;
  }
  .ge2 {
    background: url(images/f3cb60afa87fabe2021e.webp);
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 2/3;
  }
  .ge3 {
    background: url(images/226f5157cf422eee8131.webp);
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 3/4;
  }
  .ge3,
  .ge4 {
    grid-column: 1/2;
  }
  .ge4 {
    background: url(images/8c070f165566c0faac4d.webp);
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 4/5;
  }
  .ge5 {
    background: url(images/5c182b3111602d29cfa5.webp);
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 5/6;
  }
  .ge5,
  .ge6 {
    grid-column: 1/2;
  }
  .ge6 {
    background: url(images/1e27026cd9111d61debe.webp);
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 6/7;
  }
  .electro,
  .postpunk {
    font-family: London, sans-serif;
  }
  .electro,
  .indierock,
  .postpunk,
  .shoegaze {
    color: #000;
    margin: 5.5vw auto;
    position: relative;
    text-align: center;
    width: 46.3vw;
  }
  .indierock,
  .shoegaze {
    font-family: Romochka, sans-serif;
  }
  .noiserock,
  .punkrock {
    color: #000;
    font-family: Zhizn, sans-serif;
    margin: 5.5vw auto;
    position: relative;
    text-align: center;
    width: 46.3vw;
  }
  .artists {
    height: 117vw;
    position: relative;
    width: 100%;
  }
  .artists h3 {
    color: #f5f5f5;
    font-weight: 700;
    margin: 18vw auto 7vw;
    position: relative;
  }
  .container {
    margin: 0 auto;
    width: 72vw;
  }
  .itc-slider {
    position: relative;
  }
  .itc-slider-wrapper {
    overflow: hidden;
  }
  .itc-slider-items {
    display: flex;
    gap: 6vw;
    line-height: 4.5vw;
    text-decoration: none;
    transition: transform 0.5s ease;
    will-change: transform;
  }
  .itc-slider-transition-none {
    transition: none;
  }
  .itc-slider-item {
    background-color: #f5f5f5;
    flex: 0 0 100%;
    height: 67.5vw;
    max-width: 72vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    will-change: transform;
  }
  .itc-slider-item:hover {
    scale: 0.95;
  }
  .itc-slider-item:first-child {
    background-image: url(images/59b1046fc545e89ecf76.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
  }
  .kedr {
    background-color: #427569;
    bottom: 1vw;
    height: 9vw;
    padding: 3vw 1vw;
    position: absolute;
    right: 1vw;
    rotate: 9deg;
    width: 51vw;
  }
  .itc-slider-item:nth-child(2) {
    background-image: url(images/8805b569520a12295997.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
  }
  .serdobol {
    background-color: #bd8a96;
    bottom: 1vw;
    height: 9vw;
    padding: 3vw 1vw;
    position: absolute;
    right: 1vw;
    rotate: 9deg;
    width: 35vw;
  }
  .itc-slider-item:nth-child(3) {
    background-image: url(images/55f576664fc38bfb074c.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
  }
  .hadndadn {
    background-color: #4a6587;
    bottom: 1vw;
    height: 9vw;
    padding: 3vw 1vw;
    position: absolute;
    right: 1vw;
    rotate: 9deg;
    width: 35vw;
  }
  .itc-slider-item:nth-child(4) {
    background-image: url(images/7e2e2c1d4af589bc3c77.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
  }
  .pasosh {
    background-color: #427569;
    bottom: 1vw;
    height: 9vw;
    padding: 3vw 1vw;
    position: absolute;
    right: 1vw;
    rotate: 9deg;
    width: 22vw;
  }
  .itc-slider-item:nth-child(5) {
    background-image: url(images/bddc5eeb06493ebd7625.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
  }
  .sbpch {
    background-color: #bd8a96;
    bottom: 1vw;
    height: 9vw;
    padding: 3vw 1vw;
    position: absolute;
    right: 1vw;
    rotate: 9deg;
    width: 16vw;
  }
  .itc-slider-item:nth-child(6) {
    background-image: url(images/2a4a10e43ff1c472251c.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
  }
  .buerak {
    background-color: #4a6587;
    bottom: 1vw;
    height: 9vw;
    padding: 3vw 1vw;
    position: absolute;
    right: 1vw;
    rotate: 9deg;
    width: 23vw;
  }
  .itc-slider-item:nth-child(7) {
    background-image: url(images/de1937516067a250a890.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
  }
  .soyuz {
    background-color: #427569;
    bottom: 1vw;
    height: 9vw;
    padding: 3vw 1vw;
    position: absolute;
    right: 1vw;
    rotate: 9deg;
    width: 18vw;
  }
  .itc-slider-item:nth-child(8) {
    background-image: url(images/a58b6779b20b62030464.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
  }
  .sirotkin {
    background-color: #bd8a96;
    bottom: 1vw;
    height: 9vw;
    padding: 3vw 1vw;
    position: absolute;
    right: 1vw;
    rotate: 9deg;
    width: 30vw;
  }
  .itc-slider-btn {
    align-items: center;
    background: #bd8a96;
    background-size: 1vw;
    border: none;
    border-radius: 60vw;
    color: #000;
    cursor: pointer;
    display: flex;
    height: 8vw;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 8vw;
  }
  .itc-slider-btn-hide {
    display: none;
  }
  .itc-slider-btn-prev {
    background-image: url(images/fb9f43e97f43cc168403.webp);
    left: -2vw;
  }
  .itc-slider-btn-next,
  .itc-slider-btn-prev {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 4vw 5vw;
  }
  .itc-slider-btn-next {
    background-image: url(images/4d02fdc728a81581d746.webp);
    right: -2vw;
  }
  .itc-slider-btn:hover {
    background-color: hsla(0, 0%, 96%, 0.627);
    outline: 0;
    text-decoration: none;
  }
  .itc-slider-indicators {
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    list-style: none;
    margin: 0 15%;
    padding-left: 0;
    position: absolute;
    right: 0;
    z-index: 15;
  }
  .itc-slider-indicator {
    background-clip: padding-box;
    background-color: hsla(0, 0%, 100%, 0.5);
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    box-sizing: content-box;
    cursor: pointer;
    flex: 0 1 auto;
    height: 5px;
    margin-left: 3px;
    margin-right: 3px;
    text-indent: -999px;
    width: 30px;
  }
  .itc-slider-indicator-active {
    background-color: hsla(0, 0%, 100%, 0.9);
  }
  .help {
    height: 136vw;
    margin-top: 18vw;
    position: relative;
    width: 100%;
  }
  .help_block {
    background: url(images/c2cad2525877cbf2d213.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 63.7vw;
    margin: 0 auto;
    padding: 3vw;
    width: 71.9vw;
  }
  .help h2 {
    text-align: center;
    top: 5vw;
  }
  .form,
  .help h2 {
    margin: 0 auto;
    position: relative;
  }
  .form {
    color: #fff;
    font-size: 0.9vw;
    height: 55vw;
  }
  .form,
  .my-form {
    align-items: center;
    display: flex;
    width: 71.9vw;
  }
  .my-form {
    flex-direction: column;
    height: 73vw;
    margin: 0 auto;
    position: absolute;
  }
  .form h2 {
    color: #f5f5f5;
    padding: 16vw 13vw 8vw;
  }
  .input_block {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 5.3vw;
    margin: 0 auto;
    position: relative;
    width: 71.9vw;
  }
  input {
    background: #fff;
    font-size: 0.8vw;
    width: 50vw;
  }
  .my-form-button,
  input {
    border: none;
    height: 5.3vw;
  }
  .my-form-button {
    font-size: 1.1vw;
    width: 19.6vw;
  }
  .my-form-button,
  footer {
    background-color: #427569;
    color: #f5f5f5;
    position: relative;
  }
  footer {
    bottom: 0;
    height: 31vw;
    width: 100%;
  }
  .text_footer {
    display: flex;
    flex-direction: row;
    height: 12vw;
    justify-content: space-between;
    padding: 6vw 0 0 6vw;
    position: relative;
    width: 50vw;
  }
  .text_footer h5 {
    height: 6vw;
    position: relative;
  }
  .icons_footer {
    display: flex;
    flex-direction: row;
    height: 8vw;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    width: 87.7vw;
  }
  .hse_logo {
    background: url(images/bc4cbabb6b5dc3d5fa41.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 7vw;
    margin: 3vw 0;
    position: relative;
    width: 18vw;
  }
  .socials {
    display: flex;
    flex-direction: row;
    height: 2.7vw;
    justify-content: space-between;
    margin: 3vw 0;
    width: 28vw;
  }
  .tiktok_logo {
    background: url(images/43022b8a12b1f0174970.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 6vw;
    position: relative;
    width: 6vw;
  }
  .vk_logo {
    background: url(images/0ded6bdfa1f2ace6b4d3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 6.7vw;
    position: relative;
    width: 7vw;
  }
  .tg_logo {
    background: url(images/18e34695abd7295217e0.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 6vw;
    position: relative;
    width: 6vw;
  }
  .header {
    align-items: center;
    background-color: #000;
    display: flex;
    flex-direction: row;
    font-size: 2vw;
    height: 15vw;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
  }
  .logo_header {
    background: url(images/5bae0816429747e314c3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 8.5vw;
    margin: 0 51vw 0 2vw;
    width: 15.2vw;
  }
  .header a {
    color: #f5f5f5;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
  }
  .sections a {
    display: none;
  }
  .search {
    background: url(images/f8ddb992ea53d1c471d6.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 8vw;
    width: 8vw;
  }
  .none {
    display: none;
  }
  .icons_menu {
    display: flex;
    flex-direction: row;
    height: 8.5vw;
    justify-content: space-between;
    margin: 3.2vw 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .esc {
    background: url(images/fb271f7a839c251205cb.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .esc,
  .menu_mob_icon {
    height: 8vw;
    margin: 0 2vw 0 0;
    width: 8vw;
  }
  .menu_mob_icon {
    background: url(images/31018b37ec806587a62e.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .menu_mob {
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    transition: all 0.3s ease-in-out;
    width: 100vw;
    z-index: 10;
  }
  .side_menu_text {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 54vw;
    justify-content: space-between;
    position: absolute;
    text-align: center;
    top: 35%;
    width: 100%;
  }
  .side_menu_text a {
    text-decoration: none;
  }
  .side_menu_text h2 {
    font-weight: 700;
    position: relative;
  }
  .menu_artists {
    background-color: #bd8a96;
    color: #000;
    width: 43.3vw;
  }
  .menu_artists,
  .menu_genres {
    height: 9vw;
    padding: 0.6vw;
    position: relative;
  }
  .menu_genres {
    background-color: #427569;
    color: #f5f5f5;
    width: 24vw;
  }
  .menu_articles {
    background-color: #4a6587;
    color: #f5f5f5;
    height: 9vw;
    padding: 0.6vw;
    position: relative;
    width: 24vw;
  }
  .menu_articles:hover,
  .menu_artists:hover,
  .menu_genres:hover {
    scale: 0.95;
  }
}
.bebas_bold {
  font-weight: 700;
}
.h2_london {
  font-family: London, sans-serif;
}
img {
  height: 2vw;
  width: 2vw;
}
.socials {
  display: flex;
  gap: 1vw;
}
