<% const {menubar} = require('./menubar.js') %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Исполнители</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.svg" />
    <analytics></analytics>
  </head>
  <body>
    <div class="S_MenuBar"><%= menubar %></div>

    <div class="O_ChapterFilter">
      <h2 class="A_ChapterPageTitle">Артисты</h2>
      <div class="W_Filter">
        <p class="Q_Sort_Title">сортировать по направлению:</p>

        <div class="M_Filter">
          <p class="A_TagBebasChapter filter-div" data-genre="all">ВСЕ</p>
          <p class="A_TagBebasChapter filter-div" data-genre="rock">#РОК</p>
          <p class="A_TagBebasChapter filter-div" data-genre="indie">#ИНДИ</p>
          <p class="A_TagBebasChapter filter-div" data-genre="pop">#ПОП</p>
          <p class="A_TagBebasChapter filter-div" data-genre="electronic">
            #ЭЛЕКТРОНИКА
          </p>
        </div>
      </div>
    </div>

    <div class="C_Artists All_Artists" id="articles">
      <a
        href="artists/hadndadn.html"
        class="M_Artist_Card Artist1 article"
        data-genres="indie,pop"
      >
        <div class="A_Artist_Image artist_grid hadndadn_card"></div>
        <div class="W_FilterArtists">
          <div class="A_ArtistName">Хадн Дадн</div>
          <p class="A_TagGolos">#инди-поп</p>
        </div>
        <div class="A_ArtistOverview">
          Трио созданное в 2016 году выпускницей ВГИКа Варварой Краминовой
        </div>
      </a>

      <a
        href="artists/sirotkin.html"
        class="M_Artist_Card Artist2 article"
        data-genres="indie,rock"
      >
        <div class="A_Artist_Image artist_grid sirotkin_card"></div>
        <div class="W_FilterArtists">
          <div class="A_ArtistName">Сироткин</div>
          <p class="A_TagGolos">#инди-рок</p>
        </div>
        <div class="A_ArtistOverview">
          Группа, образованная в 2015-ом году Сергеем Сироткиным
        </div>
      </a>

      <a
        href="artists/ushko.html"
        class="M_Artist_Card Artist3 article"
        data-genres="pop,electronic"
      >
        <div class="A_Artist_Image artist_grid ushko_card"></div>
        <div class="W_FilterArtists">
          <div class="A_ArtistName">Ушко</div>
          <p class="A_TagGolos">#гиперпоп</p>
        </div>
        <div class="A_ArtistOverview">
          Певица и DJ из Москвы Дарья Короткова, выступающая под псевдонимом
          Ушко
        </div>
      </a>

      <a
        href="artists/serdobol.html"
        class="M_Artist_Card Artist4 article"
        data-genres="indie,rock"
      >
        <div class="A_Artist_Image artist_grid serdobol_card"></div>
        <div class="W_FilterArtists">
          <div class="A_ArtistName">Сердоболь</div>
          <p class="A_TagGolos">#инди-рок</p>
        </div>
        <div class="A_ArtistOverview">
          Общее дело музыкантов из трех питерских команд: «Црвених Цветова»,
           «Словоизтрехбукв» и  «Лоно»
        </div>
      </a>

      <a
        href="artists/sova.html"
        class="M_Artist_Card Artist5 article"
        data-genres="rock"
      >
        <div class="A_Artist_Image artist_grid sova_card"></div>
        <div class="W_FilterArtists">
          <div class="A_ArtistName">Сова</div>
          <p class="A_TagGolos">#пост-панк</p>
        </div>
        <div class="A_ArtistOverview">Пост-панк дуэт из Екатеринбурга</div>
      </a>

      <a
        href="artists/sbpch.html"
        class="M_Artist_Card Artist6 article"
        data-genres="electronic,pop"
      >
        <div class="A_Artist_Image artist_grid sbpch_card"></div>
        <div class="W_FilterArtists">
          <div class="A_ArtistName">СБПЧ</div>
          <p class="A_TagGolos">#электропоп</p>
        </div>
        <div class="A_ArtistOverview">
          Российская инди-группа, созданная в 2006 году Кириллом Ивановым и
          дуэтом «Ёлочные игрушки»
        </div>
      </a>

      <a
        href="artists/mirele.html"
        class="M_Artist_Card Artist7 article"
        data-genres="pop"
      >
        <div class="A_Artist_Image artist_grid mirele_card"></div>
        <div class="W_FilterArtists">
          <div class="A_ArtistName">Mirele</div>
          <p class="A_TagGolos">#бедрум-поп</p>
        </div>
        <div class="A_ArtistOverview">
          Ева Гурари — со-автор группы МЫ, нынешнее сольное целое Mirèle
        </div>
      </a>

      <a
        href="artists/mirele.html"
        class="M_Artist_Card Artist8 article"
        data-genres="rock"
      >
        <div class="A_Artist_Image artist_grid crispy_card"></div>
        <div class="W_FilterArtists">
          <div class="A_ArtistName">Crispy Newspaper</div>
          <p class="A_TagGolos">#панк-рок</p>
        </div>
        <div class="A_ArtistOverview">
          Якутский панк-рок, наполненный агрессией, динамикой и грубым вокалом
        </div>
      </a>

      <a
        href="artists/mirele.html"
        class="M_Artist_Card Artist9 article"
        data-genres="rock"
      >
        <div class="A_Artist_Image artist_grid laavu_card"></div>
        <div class="W_FilterArtists">
          <div class="A_ArtistName">LAAVU</div>
          <p class="A_TagGolos">#шугейз</p>
        </div>
        <div class="A_ArtistOverview">
          Целый мир, в котором каждый слушатель может найти убежище от
          напряженности повседневной жизни
        </div>
      </a>

      <a
        href="artists/mirele.html"
        class="M_Artist_Card Artist10 article"
        data-genres="electronic"
      >
        <div class="A_Artist_Image artist_grid localcode_card"></div>
        <div class="W_FilterArtists">
          <div class="A_ArtistName">Local Code</div>
          <p class="A_TagGolos">#техно</p>
        </div>
        <div class="A_ArtistOverview">
          Московская техно-группа, которая взорвала музыкальную сцену сильным
          звучанием и динамичными ритмами
        </div>
      </a>

      <a
        href="artists/mirele.html"
        class="M_Artist_Card Artist11 article"
        data-genres="rock"
      >
        <div class="A_Artist_Image artist_grid brothers_card"></div>
        <div class="W_FilterArtists">
          <div class="A_ArtistName">Братья Грязь</div>
          <p class="A_TagGolos">#нойз-рок</p>
        </div>
        <div class="A_ArtistOverview">
          Группа из Владивостока, заслужившая признание оригинальным звучанием и
          текстами
        </div>
      </a>

      <a
        href="artists/mirele.html"
        class="M_Artist_Card Artist12 article"
        data-genres="rock"
      >
        <div class="A_Artist_Image artist_grid sort_card"></div>
        <div class="W_FilterArtists">
          <div class="A_ArtistName">2-й сорт</div>
          <p class="A_TagGolos">#spoken-word</p>
        </div>
        <div class="A_ArtistOverview">
          Группа создала уникальный звук, объединивший электронные фактуры с
          духовой секцией и экспрессивным спокен-вордом
        </div>
      </a>

      <a
        href="artists/mirele.html"
        class="M_Artist_Card Artist13 article"
        data-genres="electronic"
      >
        <div class="A_Artist_Image artist_grid gothic_card"></div>
        <div class="W_FilterArtists">
          <div class="A_ArtistName">Gothic Princess</div>
          <p class="A_TagGolos">#техно</p>
        </div>
        <div class="A_ArtistOverview">
          Техно-группа, вдохновленная мрачной и таинственной атмосферой
          готической эстетики
        </div>
      </a>

      <a
        href="artists/mirele.html"
        class="M_Artist_Card Artist14 article"
        data-genres="indie"
      >
        <div class="A_Artist_Image artist_grid kdimb_card"></div>
        <div class="W_FilterArtists">
          <div class="A_ArtistName">КДИМБ</div>
          <p class="A_TagGolos">#инди-фолк</p>
        </div>
        <div class="A_ArtistOverview">
          Необычная группа, которая восхищает оригинальным звучанием и
          нестандартным подходом к творчеству
        </div>
      </a>

      <a
        href="artists/mirele.html"
        class="M_Artist_Card Artist15 article"
        data-genres="indie,rock"
      >
        <div class="A_Artist_Image artist_grid buerak_card"></div>
        <div class="W_FilterArtists">
          <div class="A_ArtistName">Буерак</div>
          <p class="A_TagGolos">#инди-рок</p>
        </div>
        <div class="A_ArtistOverview">
          Романтичный постпанк из Сибири с абсурдно-ироничными текстами
        </div>
      </a>

      <a
        href="artists/mirele.html"
        class="M_Artist_Card Artist16 article"
        data-genres="pop,rock"
      >
        <div class="A_Artist_Image artist_grid nonconf_card"></div>
        <div class="W_FilterArtists">
          <div class="A_ArtistName">Нонконформистка</div>
          <p class="A_TagGolos">#поп-рок</p>
        </div>
        <div class="A_ArtistOverview">
          Мария Непорожняя - яркая звезда на современной российской музыкальной
          сцене
        </div>
      </a>

      <a
        href="artists/mirele.html"
        class="M_Artist_Card Artist17 article"
        data-genres="rock"
      >
        <div class="A_Artist_Image artist_grid dosvidosh_card"></div>
        <div class="W_FilterArtists">
          <div class="A_ArtistName">Досвидошь</div>
          <p class="A_TagGolos">#пост-панк</p>
        </div>
        <div class="A_ArtistOverview">
          Группа из Саратова представляет собой уникальный коктейль из
          пост-панка, абсурда и интенсивных ритмов
        </div>
      </a>

      <a
        href="artists/mirele.html"
        class="M_Artist_Card Artist18 article"
        data-genres="rock"
      >
        <div class="A_Artist_Image artist_grid kity_card"></div>
        <div class="W_FilterArtists">
          <div class="A_ArtistName">Деревянные киты</div>
          <p class="A_TagGolos">#шугейз</p>
        </div>
        <div class="A_ArtistOverview">
          Не просто музыкальная группа, это целый мир звуков и эмоций, которые
          они создают своей музыкой
        </div>
      </a>

      <a
        href="artists/mirele.html"
        class="M_Artist_Card Artist19 article"
        data-genres="rock"
      >
        <div class="A_Artist_Image artist_grid garage_card"></div>
        <div class="W_FilterArtists">
          <div class="A_ArtistName">Гараж говна</div>
          <p class="A_TagGolos">#гаражный рок</p>
        </div>
        <div class="A_ArtistOverview">
          Гараж Говна начинали с нойз-рока и авангарда, переходя постепенно к
          интригующему шугейзу и инди-року
        </div>
      </a>
    </div>
    <script src="./javascript/filter.js"></script>

    <div class="O_Footer">
      <a href="/" class="A_Logo"></a>
      <div class="M_Footer_Text">
        <div class="A_Links">
          <div class="Menu">
            <p>Меню</p>
            <a href="/">Главная</a>
            <a href="/artists.html">Исполнители</a>
            <a href="/genres.html">Жанры</a>
            <a href="/materials.html">Материалы</a>
          </div>
          <div class="Made_By">
            <p>Мейд бай</p>
            <a href="https://t.me/pviklz">Аня Коршунова</a>
            <a href="https://t.me/NaaaaYana">Нарыйаана Парникова</a>
            <a href="https://t.me/neamiunis">Лиза Давыдович</a>
          </div>
          <div class="Curated_By">
            <p>Курейтед бай</p>
            <a href="https://t.me/anna_i_dobro">Аня Комкова</a>
            <a href="https://t.me/sonia_kaem">Соня Каем</a>
            <a href="https://t.me/dayglobal">Захар День</a>
          </div>
        </div>
        <div class="A_Socials">
          <a
            href="https://t.me/vrubim_po_polnoy"
            class="Q_Socials Telegram"
          ></a>
        </div>
      </div>
    </div>
  </body>
</html>
