<% const {menubar} = require('./menubar.js') %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Жанры</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.svg" />
    <analytics></analytics>
  </head>
  <body>
    <div class="S_MenuBar"><%= menubar %></div>
    <div class="O_ChapterFilter">
      <h2 class="A_ChapterPageTitle">ЖАНРЫ</h2>
      <div class="W_Filter">
        <p class="Q_Sort_Title">сортировать по направлению:</p>

        <div class="M_Filter">
          <p class="A_TagBebasChapter filter-div" data-genre="all">ВСЕ</p>
          <p class="A_TagBebasChapter filter-div" data-genre="rock">#РОК</p>
          <p class="A_TagBebasChapter filter-div" data-genre="indie">#ИНДИ</p>
          <p class="A_TagBebasChapter filter-div" data-genre="pop">#ПОП</p>
          <p class="A_TagBebasChapter filter-div" data-genre="electronic">
            #ЭЛЕКТРОНИКА
          </p>
        </div>
      </div>
    </div>

    <div class="C_Genres All_Genres" id="articles">
      <!-- жанры -->
      <a
        href="genres/indierock.html"
        class="W_Genre Genre1 article"
        data-genres="indie,rock"
      >
        <div class="A_Genre_Image G_Img1"></div>
        <p class="A_Genre_Title">Инди-рок</p>
      </a>

      <a
        href="genres/postpunk.html"
        class="W_Genre Genre2 article"
        data-genres="rock"
      >
        <div class="A_Genre_Image G_Img2"></div>
        <p class="A_Genre_Title">Пост-панк</p>
      </a>

      <a
        href="genres/electropop.html"
        class="W_Genre Genre3 article"
        data-genres="pop,electronic"
      >
        <div class="A_Genre_Image G_Img3"></div>
        <p class="A_Genre_Title">Электропоп</p>
      </a>

      <a
        href="genres/punkrock.html"
        class="W_Genre Genre4 article"
        data-genres="rock"
      >
        <div class="A_Genre_Image G_Img4"></div>
        <p class="A_Genre_Title">Панк-рок</p>
      </a>

      <a
        href="genres/lofi.html"
        class="W_Genre Genre5 article"
        data-genres="electronic"
      >
        <div class="A_Genre_Image G_Img5"></div>
        <p class="A_Genre_Title">Лоуфай</p>
      </a>

      <a
        href="genres/indiepop.html"
        class="W_Genre Genre6 article"
        data-genres="indie,pop"
      >
        <div class="A_Genre_Image G_Img6"></div>
        <p class="A_Genre_Title">Инди-поп</p>
      </a>

      <a
        href="genres/shoegaze.html"
        class="W_Genre Genre7 article"
        data-genres="rock,indie"
      >
        <div class="A_Genre_Image G_Img7"></div>
        <p class="A_Genre_Title">Шугейз</p>
      </a>

      <a
        href="genres/hyperpop.html"
        class="W_Genre Genre8 article"
        data-genres="pop"
      >
        <div class="A_Genre_Image G_Img8"></div>
        <p class="A_Genre_Title">Гиперпоп</p>
      </a>

      <a
        href="genres/dreampop.html"
        class="W_Genre Genre9 article"
        data-genres="pop,rock"
      >
        <div class="A_Genre_Image G_Img9"></div>
        <p class="A_Genre_Title">Дрим-поп</p>
      </a>

      <a
        href="genres/psyrock.html"
        class="W_Genre Genre10 article"
        data-genres="rock"
      >
        <div class="A_Genre_Image G_Img10"></div>
        <p class="A_Genre_Title">Психоделический рок</p>
      </a>

      <a
        href="genres/poprock.html"
        class="W_Genre Genre11 article"
        data-genres="pop,rock"
      >
        <div class="A_Genre_Image G_Img11"></div>
        <p class="A_Genre_Title">Поп-рок</p>
      </a>

      <a
        href="genres/garagerock.html"
        class="W_Genre Genre12 article"
        data-genres="rock"
      >
        <div class="A_Genre_Image G_Img12"></div>
        <p class="A_Genre_Title">Гаражный рок</p>
      </a>

      <a
        href="genres/indiefolk.html"
        class="W_Genre Genre13 article"
        data-genres="indie"
      >
        <div class="A_Genre_Image G_Img13"></div>
        <p class="A_Genre_Title">Инди-фолк</p>
      </a>

      <a
        href="genres/poppunk.html"
        class="W_Genre Genre14 article"
        data-genres="pop,rock"
      >
        <div class="A_Genre_Image G_Img14"></div>
        <p class="A_Genre_Title">Поп-панк</p>
      </a>

      <a
        href="genres/techno.html"
        class="W_Genre Genre15 article"
        data-genres="electronic"
      >
        <div class="A_Genre_Image G_Img15"></div>
        <p class="A_Genre_Title">Техно</p>
      </a>

      <a
        href="genres/house.html"
        class="W_Genre Genre16 article"
        data-genres="electronic"
      >
        <div class="A_Genre_Image G_Img16"></div>
        <p class="A_Genre_Title">Хаус</p>
      </a>

      <a
        href="genres/bedroompop.html"
        class="W_Genre Genre17 article"
        data-genres="pop"
      >
        <div class="A_Genre_Image G_Img17"></div>
        <p class="A_Genre_Title">Бедрум-поп</p>
      </a>

      <a
        href="genres/dancepunk.html"
        class="W_Genre Genre18 article"
        data-genres="rock"
      >
        <div class="A_Genre_Image G_Img18"></div>
        <p class="A_Genre_Title">Дэнс-панк</p>
      </a>

      <a
        href="genres/noiserock.html"
        class="W_Genre Genre19 article"
        data-genres="rock"
      >
        <div class="A_Genre_Image G_Img19"></div>
        <p class="A_Genre_Title">Нойз-рок</p>
      </a>

      <a
        href="genres/spokenword.html"
        class="W_Genre Genre20 article"
        data-genres="rock"
      >
        <div class="A_Genre_Image G_Img20"></div>
        <p class="A_Genre_Title">Spoken-word</p>
      </a>

      <a
        href="genres/downtempo.html"
        class="W_Genre Genre21 article"
        data-genres="electronic"
      >
        <div class="A_Genre_Image G_Img21"></div>
        <p class="A_Genre_Title">Даунтэмпо</p>
      </a>
    </div>

    <script src="./javascript/filter.js"></script>

    <div class="O_Footer">
      <a href="index.html" class="A_Logo"></a>
      <div class="M_Footer_Text">
        <div class="A_Links">
          <div class="Menu">
            <p>Меню</p>
            <a href="index.html">Главная</a>
            <a href="artists.html">Исполнители</a>
            <a href="genres.html">Жанры</a>
            <a href="materials.html">Материалы</a>
          </div>
          <div class="Made_By">
            <p>Мейд бай</p>
            <a href="https://t.me/pviklz">Аня Коршунова</a>
            <a href="https://t.me/NaaaaYana">Нарыйаана Парникова</a>
            <a href="https://t.me/neamiunis">Лиза Давыдович</a>
          </div>
          <div class="Curated_By">
            <p>Курейтед бай</p>
            <a href="https://t.me/anna_i_dobro">Аня Комкова</a>
            <a href="https://t.me/sonia_kaem">Соня Каем</a>
            <a href="https://t.me/dayglobal">Захар День</a>
          </div>
        </div>
        <div class="A_Socials">
          <a
            href="https://t.me/vrubim_po_polnoy"
            class="Q_Socials Telegram"
          ></a>
        </div>
      </div>
    </div>
  </body>
</html>
