<% const {menubar} = require('./menubar.js') %>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Главная</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.svg" />
    <analytics></analytics>
  </head>

  <body>
    <div class="S_MenuBar"><%= menubar %></div>
    <!-- Главный экран -->
    <div class="O_ArMainScreen">
      <div class="A_MainScreenTitle">
        <a
          href="./articles/top10punkrockalbums.html"
          class="A_PrimaryButton blackPB MSButtonPosition"
        >
          <p class="Button_Text">Читать статью</p>
        </a>
      </div>
      <!-- Бегущая строка -->
      <a href="tests/yourgenretest.html" class="ticker-wrap">
        <div class="ticker">
          <span class="item-collection-1">
            <span class="item"
              >Пройди тест и узнай какой ты музыкальный жанр
              <div class="star"></div
            ></span>
            <span class="item"
              >Пройди тест и узнай какой ты музыкальный жанр
              <div class="star"></div
            ></span>
            <span class="item"
              >Пройди тест и узнай какой ты музыкальный жанр
              <div class="star"></div
            ></span>
            <span class="item"
              >Пройди тест и узнай какой ты музыкальный жанр
              <div class="star"></div
            ></span>
          </span>
          <span class="item-collection-2">
            <span class="item"
              >Пройди тест и узнай какой ты музыкальный жанр
              <div class="star"></div
            ></span>
            <span class="item"
              >Пройди тест и узнай какой ты музыкальный жанр
              <div class="star"></div
            ></span>
            <span class="item"
              >Пройди тест и узнай какой ты музыкальный жанр
              <div class="star"></div
            ></span>
            <span class="item"
              >Пройди тест и узнай какой ты музыкальный жанр
              <div class="star"></div
            ></span>
          </span>
        </div>
      </a>
    </div>

    <!-- Статьи -->
    <div class="S_ArticlesMain">
      <div class="W_Chapter">
        <a href="./materials.html" class="A_ChapterTitle white"> МАТЕРИАЛЫ </a>
        <a href="./materials.html" class="A_SecondaryButtonRight white"
          >перейти в раздел
          <div class="Q_ArrowRightWhite"></div>
        </a>
        <!-- <a href="./materials.html" class="Q_Arrow"></a> -->
      </div>
      <div class="C_Articles">
        <a
          href="./articles/newrussianwave.html"
          class="M_ArticleSmall ArticleCard Card1"
        >
          <div class="W_FilterArticles">
            <p class="A_ArticleType">Статья</p>
            <div class="C_Tags">
              <p class="A_TagGolos">#инди</p>
            </div>
          </div>
          <div class="A_ArTitleSmall">
            2к17, Буерак, Фестиваль Боль. Новая русская волна – что это?
          </div>
        </a>
        <a
          href="https://music.yandex.ru/users/na.yan4/playlists/1012"
          class="M_ArticleSmall PlaylistCard Card2"
        >
          <div class="W_FilterArticles">
            <p class="A_ArticleType">Плейлист</p>
            <div class="C_Tags">
              <p class="A_TagGolos">#пост-панк</p>
              <p class="A_TagGolos">#вайб</p>
            </div>
          </div>
          <div class="A_ArTitleSmall">
            Любимые стилизации «под 80-е» в музыке
          </div>
        </a>
        <a
          href="./articles/yakutianpunk.html"
          class="M_ArticleSmall ArticleCard Card3"
        >
          <div class="W_FilterArticles">
            <p class="A_ArticleType">Статья</p>

            <div class="C_Tags">
              <p class="A_TagGolos">#панк</p>
            </div>
          </div>
          <div class="A_ArTitleSmall">
            Якутский панк: бегство от скуки и «терроризм»
          </div>
        </a>
        <a
          href="./tests/yourgenretest.html"
          class="M_ArticleSmall TestCard Card4"
        >
          <div class="W_FilterArticles">
            <p class="A_ArticleType">Тест</p>
            <!-- <div class="C_Tags">
              <p class="A_TagGolos">#вайб</p>
            </div> -->
          </div>
          <div class="A_ArTitleSmall">Какой ты музыкальный жанр?</div>
        </a>
        <a href="./articles/sadrussianmusic.html" class="M_ArticleBig Card5">
          <div class="W_FilterArticles">
            <p class="A_ArticleType">Статья</p>
            <div class="C_Tags">
              <p class="A_TagGolos">#пост-панк</p>
              <p class="A_TagGolos">#вайб</p>
            </div>
          </div>
          <div class="A_ArTitleBig">
            Почему русская музыка <br />такая грустная?
          </div>
        </a>
        <a
          href="./articles/ravemoscow.html"
          class="M_ArticleSmall ArticleCard Card6"
        >
          <div class="W_FilterArticles">
            <p class="A_ArticleType">Статья</p>
            <div class="C_Tags">
              <p class="A_TagGolos">#электроника</p>
              <p class="A_TagGolos">#места</p>
            </div>
          </div>
          <div class="A_ArTitleSmall">Куда сходить на рейв в Москве?</div>
        </a>
      </div>
    </div>

    <!-- Большая статья -->
    <div class="O_ArMixed">
      <div class="W_ArMixed">
        <div class="W_FilterArticles">
          <p class="A_ArticleType">Статья</p>
          <div class="C_Tags">
            <p class="A_TagGolos">#инди</p>
          </div>
        </div>
        <h2 class="A_ArTitleMixed">
          <span class="Mag_Letter">К</span>АК Д<span class="Mag_Letter">И</span
          >МА Н<span class="Mag_Letter">О</span>ВА С<span class="Mag_Letter"
            >т</span
          >АЛ <span class="Mag_Letter"> г</span>ОЛ<span class="Mag_Letter"
            >О</span
          >СОМ ПО<span class="Mag_Letter">К</span>ОЛ<span class="Mag_Letter"
            >Е</span
          >НИЯ?
        </h2>
        <p class="A_ArMixedOverview">
          Новатор, патимейкер, фэшн-энтузиаст и голос поколения — таким
          предстает в глазах зрителей продюсер и электронщик Дима Нова.
        </p>
        <a href="./articles/howdimanova.html" class="A_PrimaryButton whitePB">
          <p class="Button_Text">Читать статью</p>
        </a>
      </div>
      <a href="./articles/howdimanova.html" class="A_Big_Shape"></a>
    </div>

    <!-- Жанры -->
    <div class="S_GenresMain">
      <div class="W_Chapter">
        <a href="genres.html" class="A_ChapterTitle white"> ЖАНРЫ </a>
        <a href="genres.html" class="A_SecondaryButtonRight white">
          перейти в раздел
          <div class="Q_ArrowRightWhite"></div>
        </a>
        <!-- <a href="genres.html" class="Q_ArrowRightWhite"></a> -->
      </div>

      <div class="C_Genres">
        <a
          href="genres/indierock.html"
          class="W_Genre Genre1 article"
          data-genres="indie,rock"
        >
          <div class="A_Genre_Image G_Img1"></div>
          <p class="A_Genre_Title">Инди-рок</p>
        </a>

        <a
          href="genres/postpunk.html"
          class="W_Genre Genre2 article"
          data-genres="rock"
        >
          <div class="A_Genre_Image G_Img2"></div>
          <p class="A_Genre_Title">Пост-панк</p>
        </a>

        <a
          href="genres/electropop.html"
          class="W_Genre Genre3 article"
          data-genres="pop,electronic"
        >
          <div class="A_Genre_Image G_Img3"></div>
          <p class="A_Genre_Title">Электропоп</p>
        </a>

        <a
          href="genres/punkrock.html"
          class="W_Genre Genre4 article"
          data-genres="rock"
        >
          <div class="A_Genre_Image G_Img4"></div>
          <p class="A_Genre_Title">Панк-рок</p>
        </a>

        <a
          href="genres/lofi.html"
          class="W_Genre Genre5 article"
          data-genres="electronic"
        >
          <div class="A_Genre_Image G_Img5"></div>
          <p class="A_Genre_Title">Лоуфай</p>
        </a>

        <a
          href="genres/indiepop.html"
          class="W_Genre Genre6 article"
          data-genres="indie,pop"
        >
          <div class="A_Genre_Image G_Img6"></div>
          <p class="A_Genre_Title">Инди-поп</p>
        </a>

        <a
          href="genres/shoegaze.html"
          class="W_Genre Genre7 article"
          data-genres="rock,indie"
        >
          <div class="A_Genre_Image G_Img7"></div>
          <p class="A_Genre_Title">Шугейз</p>
        </a>

        <a
          href="genres/hyperpop.html"
          class="W_Genre Genre8 article"
          data-genres="pop"
        >
          <div class="A_Genre_Image G_Img8"></div>
          <p class="A_Genre_Title">Гиперпоп</p>
        </a>

        <a
          href="genres/dreampop.html"
          class="W_Genre Genre9 article"
          data-genres="pop,rock"
        >
          <div class="A_Genre_Image G_Img9"></div>
          <p class="A_Genre_Title">Дрим-поп</p>
        </a>

        <a
          href="genres/psyrock.html"
          class="W_Genre Genre10 article"
          data-genres="rock"
        >
          <div class="A_Genre_Image G_Img10"></div>
          <p class="A_Genre_Title">Психоделический рок</p>
        </a>

        <a
          href="genres/poprock.html"
          class="W_Genre Genre11 article"
          data-genres="pop,rock"
        >
          <div class="A_Genre_Image G_Img11"></div>
          <p class="A_Genre_Title">Поп-рок</p>
        </a>

        <a
          href="genres/garagerock.html"
          class="W_Genre Genre12 article"
          data-genres="rock"
        >
          <div class="A_Genre_Image G_Img12"></div>
          <p class="A_Genre_Title">Гаражный рок</p>
        </a>
      </div>
    </div>

    <!-- Наши рекомендации -->
    <div class="S_Recs">
      <div class="A_RecsTitleMixed">
        Ч<span class="Mag_Letter">Т</span>О
        <span class="Mag_Letter">с</span>Л<span class="Mag_Letter">У</span
        >ША<span class="Mag_Letter">Е</span>М М<span class="Mag_Letter">Ы</span>
      </div>
      <div class="C_Recs">
        <a
          href="https://music.yandex.ru/users/na.yan4/playlists/1010"
          class="A_Artist_Image lisa"
        ></a>
        <a
          href="https://music.yandex.ru/users/korshunovaania/playlists/1022"
          class="A_Artist_Image anya"
        ></a>
        <a
          href="https://music.yandex.ru/users/na.yan4/playlists/1011"
          class="A_Artist_Image nana"
        ></a>
      </div>
    </div>

    <!-- Исполнители -->
    <div class="S_ArtistsMain">
      <div class="W_Chapter">
        <a href="artists.html" class="A_ChapterTitle white">АРТИСТЫ</a>
        <a href="artists.html" class="A_SecondaryButtonRight white">
          перейти в раздел
          <div class="Q_ArrowRightWhite"></div>
        </a>
        <!-- <a href="artists.html" class="Q_ArrowRightWhite"></a> -->
      </div>
      <div class="C_Artists" id="articles">
        <a
          href="artists/hadndadn.html"
          class="M_Artist_Card Artist1 article"
          data-genres="indie,pop"
        >
          <div class="A_Artist_Image artist_grid hadndadn_card"></div>
          <div class="M_ArtistAbout">
            <div class="W_FilterArtists">
              <div class="A_ArtistName">Хадн Дадн</div>
              <p class="A_TagGolos">#инди-поп</p>
            </div>
            <div class="A_ArtistOverview">
              Трио созданное в 2016 году выпускницей ВГИКа Варварой Краминовой
            </div>
          </div>
        </a>

        <a
          href="artists/sirotkin.html"
          class="M_Artist_Card Artist2 article"
          data-genres="indie,rock"
        >
          <div class="A_Artist_Image artist_grid sirotkin_card"></div>
          <div class="W_FilterArtists">
            <div class="A_ArtistName">Сироткин</div>
            <p class="A_TagGolos">#инди-рок</p>
          </div>
          <div class="A_ArtistOverview">
            Группа, образованная в 2015-ом году Сергеем Сироткиным
          </div>
        </a>

        <a
          href="artists/ushko.html"
          class="M_Artist_Card Artist3 article"
          data-genres="pop,electronic"
        >
          <div class="A_Artist_Image artist_grid ushko_card"></div>
          <div class="W_FilterArtists">
            <div class="A_ArtistName">Ушко</div>
            <p class="A_TagGolos">#гиперпоп</p>
          </div>
          <div class="A_ArtistOverview">
            Певица и DJ из Москвы Дарья Короткова, выступающая под псевдонимом
            Ушко
          </div>
        </a>

        <a
          href="artists/serdobol.html"
          class="M_Artist_Card Artist4 article"
          data-genres="indie,rock"
        >
          <div class="A_Artist_Image artist_grid serdobol_card"></div>
          <div class="W_FilterArtists">
            <div class="A_ArtistName">Сердоболь</div>
            <p class="A_TagGolos">#инди-рок</p>
          </div>
          <div class="A_ArtistOverview">
            Общее дело музыкантов из трех питерских команд: «Црвених Цветова»,
             «Словоизтрехбукв» и  «Лоно»
          </div>
        </a>
      </div>

      <!-- <div class="O_Header">
      <div class="M_HeaderText">
        <a href="./" class="A_Logo"></a>
        <div class="A_Header_Text">
          <a href="./artists.html" class="Q_Menu_Text1">ИСПОЛНИТЕЛИ</a>
          <a href="./genres.html" class="Q_Menu_Text2">ЖАНРЫ</a>
          <a href="./materials.html" class="Q_Menu_Text3">МАТЕРИАЛЫ</a>
        </div>
      </div> -->

      <!-- <div class="A_Search_bar">
        <input type="text" class="input_search" placeholder="Поиск" />
        <button class="btn_search">Найти</button>
      </div> -->
      <div class="menu_mob_icon"></div>
    </div>
    <div class="O_Footer">
      <a href="./" class="A_Logo"></a>
      <!-- <div class="M_Form">
        <a href="./" class="A_Logo"></a>
        <div class="A_Form_Input">
          <h4 class="A_ChapterTitle white">
            ПОМОГИ НАМ РАССКАЗЫВАТЬ ГРОМЧЕ <br />
            О ТВОИХ ЛЮБИМЫХ ИСПОЛНИТЕЛЯХ, ВРУБАЙСЯ!
          </h4>
          <form
            class="my-form"
            action="https://formspree.io/f/xdorbvzr"
            method="POST"
          >
            <div class="input_block">
              <input type="text" name="text" placeholder="Твой ник в tg" />
              <button class="my-form-button">Подписаться</button>
            </div>
            <p id="my-form-status"></p>
          </form>
        </div>
      </div> -->
      <div class="M_Footer_Text">
        <div class="A_Links">
          <div class="Menu">
            <p>Меню</p>
            <a href="./">Главная</a>
            <a href="./artists.html">Исполнители</a>
            <a href="./genres.html">Жанры</a>
            <a href="./materials.html">Материалы</a>
          </div>
          <div class="Made_By">
            <p>Мейд бай</p>
            <a href="https://t.me/pviklz">Аня Коршунова</a>
            <a href="https://t.me/NaaaaYana">Нарыйаана Парникова</a>
            <a href="https://t.me/neamiunis">Лиза Давыдович</a>
          </div>
          <div class="Curated_By">
            <p>Курейтед бай</p>
            <a href="https://t.me/anna_i_dobro">Аня Комкова</a>
            <a href="https://t.me/sonia_kaem">Соня Каем</a>
            <a href="https://t.me/dayglobal">Захар День</a>
          </div>
        </div>
        <div class="A_Socials">
          <a
            href="https://t.me/vrubim_po_polnoy"
            class="Q_Socials Telegram"
          ></a>
        </div>
      </div>
    </div>
  </body>
</html>
