.S_MenuBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  background-color: var(--black);
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-style: normal;
  font-size: 1.5vw;
  border: 1px solid red;
  text-decoration: none;
  color: var(--white);
}
.C_MainMenu {
  display: flex;
  gap: 20px;
}
.S_SearchContent {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px;
}
.O_SearchBar {
  font-family: 'GolosUIWebRegular';
  .C_PostSuggestions {
    position: absolute;
    background-color: var(--white);
    overflow-y: scroll;
    max-height: 360px;
  }
}
.M_SearchForm {
  display: flex;
  position: relative;
}
.M_PostTeaser {
  margin: 10px;
  text-decoration: none;
  width: 320px;
  min-height: 350px;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--black);
  font-family: 'GolosUIWebRegular';

  .A_Text {
    &.h3 {
      font-weight: bold;
      text-transform: capitalize;
      font-size: 21px;
      padding: 0 10px;
    }

    &.p {
      font-size: 16px;
      padding: 0 10px;
    }

    &.tag {
      background-color: aqua;
      color: var(--black);
      font-size: 12px;
      line-height: 12px;
      padding: 2px 5px;
      border-radius: 12px;
    }
  }
  .C_postTeaserText {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0 10px 10px;
  }
}
.M_PostSuggestion {
  margin: 10px;
  color: var(--black);
  text-decoration: none;

  .A_Text {
    &.h3 {
      font-weight: bold;
    }

    &.p {
      margin-top: 4px;
    }
  }
}
.A_Image {
  &.postTeaser {
    border-radius: 20px 20px 0 0;
  }
}
.A_Button {
  &.primary {
    position: absolute;
    width: fit-content;
    height: fit-content;
    background-color: var(--white);
    font-size: 1vw;
    font-family: 'GolosUIWebRegular';
    font-weight: 500;
    font-style: normal;
    border: 0.17vw solid var(--black);
    padding: 1vw 2vw;
    color: var(--black);
    text-decoration: none;
    transition: 0.2s;
    user-select: none;
    cursor: pointer;

    .A_Button:hover {
      padding: 0.5vw 0.5vw;
    }

    &.disabled {
      opacity: 0.4;
      cursor: default;
    }
  }
  &.resetField {
    width: 40px;
    background-color: none;
    color: var(--black);
    position: absolute;
    font-weight: 500;
    top: 12px;
    left: 120px;
  }
}
